@font-face {
	font-family: 'Raleway-Regular';
	src: url('Raleway-Regular.eot');
	src: local('Raleway'), local('Raleway-Regular'),
		url('Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Regular.woff') format('woff'),
		url('Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway-SemiBold';
	src: url('Raleway-SemiBold.eot');
	src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
		url('Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('Raleway-SemiBold.woff') format('woff'),
		url('Raleway-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway-Bold';
	src: url('Raleway-Bold.eot');
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Bold.woff') format('woff'),
		url('Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}