// main: ../../style.less

.header__nav{
    width: 100%;
    height: fit-content;
    background-color: @orange;

    .header__nav__container{
        margin: 0 auto;

        ul.header__nav__list{
            display: flex;
            align-items: center;
            justify-content: space-between;

            li.nav__list__item{
                display: flex;
                align-items: center;
                height: 33px;
                position: relative;
                width: 200px;
                justify-content: center;

                &::after{
                    content: '';
                    position: absolute;
                    background-color: #fff;
                    width: 1px;
                    height: 24px;
                    right: 0;
                }

                &:last-child::after{
                    width: 0;
                    height: 0;
                }

                a.nav__list__link{
                    color: white;
                    font-family: @bold;
                    font-size: 14px;
                    user-select: none;
                }
            }
        }
    }
}