// main: ../../style.less

.header__nav{
    width: 100%;
    height: fit-content;
    background-color: @orange;

    .header__nav__container{
        margin: 0 auto;

        ul.header__nav__list{
            display: flex;
            align-items: center;
            justify-content: space-between;

            li.nav__list__item{
                display: flex;
                align-items: center;
                height: 33px;
                position: relative;
                width: 200px;
                justify-content: center;

                &::after{
                    content: '';
                    position: absolute;
                    background-color: #fff;
                    width: 1px;
                    height: 24px;
                    right: 0;
                }

                &:last-child::after{
                    width: 0;
                    height: 0;
                }

                a.nav__list__link{
                    color: white;
                    font-family: @bold;
                    font-size: 14px;
                    user-select: none;
                }
            }
        }
    }
}

@media (max-width: 990px){
    .header__nav.menu__active{
        top: 0;
    }

    .header__nav{
        width: 100%;
        height: fit-content;
        background-color: white;
        position: fixed;
        height: 100vh;
        top: -100%;
        z-index: 99;
        transition: top .3s;
        overflow: auto;

        .menu__close{
            width: 31px;
            height: 25px;
            border-radius: 3px;
            border: 3px solid @gray;
            position: absolute;
            top: 8px;
            right: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 105;

            span{
                width: 14px;
                height: 3px;
                background-color: #C4C4C4;
                transform: rotate(45deg);
                position: relative;
                
                &::after{
                    content: '';
                    position: absolute;
                    width: 14px;
                    height: 3px;
                    background-color: #C4C4C4;
                    transform: rotate(90deg);
                }
            }
        }

        .header__nav__container{
            display: flex;
            flex-direction: column;
            align-items: center;

            .header__logo{
                margin-top: 20px;
            }
    
            .header__number{
                margin-top: 17%;
            }
            
            .btn{
                margin-top: 20px;
            }

            ul.header__nav__list{
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;

                li.nav__list__item{
                    display: flex;
                    align-items: center;
                    height: 33px;
                    position: relative;
                    width: 200px;
                    justify-content: center;
    
                    &::after{
                        width: 0;
                        height: 0;
                    }
    
                    a.nav__list__link{
                        color: @orange;
                        font-family: @bold;
                        font-size: 14px;
                        user-select: none;
                    }
                }
            }
        }
    }
}