<div class="list-group masterworks">
   <div class="heading" style="padding: 0;"><span>Примеры работ</span></div>
   <div class="col-12 row" style="margin: 0; padding: 0;">
       
       <div id="homemasterwork" class="carousel slide col-12" data-ride="carousel">
           <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="col-12 col-sm-4 col-lg-4">
                   <img src="/catalog/view/theme/unishop2/stylesheet/images/master1.png" alt="IMG">
               </div>
               <div class="col-12 col-sm-4 col-lg-4">
                   <img src="/catalog/view/theme/unishop2/stylesheet/images/master2.png" alt="IMG">
               </div>
               <div class="col-12 col-sm-4 col-lg-4">
                   <img src="/catalog/view/theme/unishop2/stylesheet/images/master3.png" alt="IMG">
               </div>
            </div>
            <div class="carousel-item">
               <div class="col-12 col-sm-4 col-lg-4">
                   <img src="/catalog/view/theme/unishop2/stylesheet/images/master1.png" alt="IMG">
               </div>
               <div class="col-12 col-sm-4 col-lg-4">
                   <img src="/catalog/view/theme/unishop2/stylesheet/images/master2.png" alt="IMG">
               </div>
               <div class="col-12 col-sm-4 col-lg-4">
                   <img src="/catalog/view/theme/unishop2/stylesheet/images/master3.png" alt="IMG">
               </div>
            </div>
            <div class="carousel-item">
               <div class="col-12 col-sm-4 col-lg-4">
                   <img src="/catalog/view/theme/unishop2/stylesheet/images/master1.png" alt="IMG">
               </div>
               <div class="col-12 col-sm-4 col-lg-4">
                   <img src="/catalog/view/theme/unishop2/stylesheet/images/master2.png" alt="IMG">
               </div>
               <div class="col-12 col-sm-4 col-lg-4">
                   <img src="/catalog/view/theme/unishop2/stylesheet/images/master3.png" alt="IMG">
               </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-target="#homemasterwork" data-slide="prev">
    <span class="fa fa-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
          <button class="carousel-control-next" type="button" data-target="#homemasterwork" data-slide="next">
                <span class="fa fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
</div>
       
       
       
       
       
       
       
       
       
       
   </div>
</div>
<style>
    .list-group.masterworks{
        padding: 0 4%;
        margin-top: 40px;
    }
    .list-group.masterworks img{
        width: 100%;
    }
</style>