<div class="list-group pro-magazin">
     <div class="container-3full">
      <div class="container-3 row">
        <div class="person-img col-md-4">
          <img src="/catalog/view/theme/unishop2/stylesheet/images/person_img.png" alt="person">
        </div> 
        <div class="col person-info">
        <h3>Интернет-магазин материалов для стемпинга: всё для идеальных ногтей</h3>
        <p>
          В магазине Lesly можно не просто заказать все необходимые материалы и инструменты для стемпинга, но и получить положительные эмоции от шоппинга.<br><br>
          В каждой посылочке ждут полезные подарки и неожиданные бонусы, бережная упаковка каждого товара, помощь в любых возникших ситуациях, любые удобные способы оплаты, чуткий подход к каждому клиенту и внимательное отношение к пожеланиям.<br><br>

          Невероятно большое количество положительных отзывов о работе нашей команды побуждает нас держать свою марку, продолжать совершенствоваться и реализовывать Ваши пожелания для того, чтобы стать для Вас лучшим магазином.
        </p>
      </div>
      </div>
     
    </div>
</div>
<div class="container-fluid  benefits">
      <h3>Преимущества Lesly</h3>
      <p>«Lesly» ‐ всемирно известный в нейл‐арт индустрии бьюти‐бренд: продукция «Lesly» пользуется мировым спросом, ее
        приобретают тысячи пользователей, которые являются любителями и профессионалами нейл‐арта.</p>
      <div class="benefits-content">
        <div class="benf">
          <div class="benf-img">
            <img src="/catalog/view/theme/unishop2/stylesheet/images/img1.png" alt="">
          </div>
          <p>Гарантия качества</p>
        </div>
        <div class="benf">
          <div class="benf-img">
            <img src="/catalog/view/theme/unishop2/stylesheet/images/img2.png" alt="">
          </div>
          <p>Бесплатная доставка</p>
        </div>
        <div class="benf">
          <div class="benf-img">
            <img src="/catalog/view/theme/unishop2/stylesheet/images/img3.png" alt="">
          </div>
          <p>Хорошая репутация</p>
        </div>
        <div class="benf">
          <div class="benf-img">
            <img src="/catalog/view/theme/unishop2/stylesheet/images/img4.png" alt="">
          </div>
          <p>Скидки и подарки</p>
        </div>
        <div class="benf">
          <div class="benf-img">
            <img src="/catalog/view/theme/unishop2/stylesheet/images/img5.png" alt="">
          </div>
          <p>Актуальные дизайны</p>
        </div>
      </div>
    </div>
<style>
    .container-3full {
    background-color: #985685;
    padding: 50px 5%;
}

.person-img {
    width: 100%;
    max-width: 493px;
    height: auto;
    padding: 0;
    margin-right: 40px;
}

.person-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.person-info{
    padding: 30px 0 0 0;
    color: #FFFFFF;
}
.person-info h3 {
    font-family: Gill Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
}

.person-info p {
    font-family: GillSans;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.benefits {
    margin: auto;
    max-width: 1744px;
    margin-top: 7%;
    padding: 0 5%;
}

.benefits>h3 {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #121212;
}

.benefits>p {
    font-family: GillSans;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
    color: #121212;
    margin: 30px 0;
}

.benefits-content {
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
    margin-bottom: 100px;
}

.benf {
    max-width: 250px;
}

.benf-img {
    max-width: 120px;
    margin: auto;
    max-height: 98px;
}

.benf-img>img {
    width: 100%;
    height: 100%;
}

.benf>p {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #985685;
}

@media all and (max-width: 767px){
    .person-img{
        margin: auto !important;
    }
}
</style>