<div class="list-group videoblock">
    {#<video width="100%" height="auto" poster="/catalog/view/theme/unishop2/stylesheet/images/video_poster.png">#}
    {#  <source src="movie.mp4" type="video/mp4">#}
    {#  <source src="movie.ogg" type="video/ogg">#}
    {# Your browser does not support the video tag.#}
    {#</video>#}
    <iframe width="853" height="480" src="https://www.youtube.com/embed/xkOhCX9J6oU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {#<div class="btn-block" style="display: none;">#}
    {#  <button class="play-btn">#}
    {#    <img src="/catalog/view/theme/unishop2/stylesheet/images/btn.png">#}
    {#  </button>#}
    {#</div>#}

</div>
<style>
    .list-group.videoblock{
        padding: 0 4%;
    }
</style>

<script>
    var btn = document.querySelectorAll('.play-btn');
    btn.forEach(function(key,value){
        key.onclick = function(){
          key.parentNode.parentNode.querySelector('video').play();      
        }
    })
    
    var img = document.querySelectorAll('.play-btn img');
    img.forEach(function(key,value){
        key.onclick = function(){
          key.parentNode.parentNode.parentNode.querySelector('video').play();      
        }
    })
</script>