/*
    font-family: 'Rubik-Regular';
    font-family: 'Rubik-Medium';
    font-family: 'Rubik-Light';
*/

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    font-family: 'Rubik-Regular';
    color: black;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

a{
    text-decoration: none;
}


/*
    ==================================
*/


.mobile{
    width: 414px;
    height: 896px;
    background-color: #D3B6B0;
    position: absolute;
    right: 0;
    bottom: 0;
}

/*      TOP-BAR     */

.top-bar{
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    transition: .3s;
    cursor: pointer;
    user-select: none;
}

.top-bar:hover{
    background-color: rgba(255, 255, 255, 0.42);
    transition: .5s;
}

.top-bar_time p.time{
    font-size: 18px;
    color: black;
}

.top-bar_indicators{
    display: flex;
    justify-content: space-between;
}

.top-bar_indicators .item{
    padding-right: 5px;
}

/*      MOBILE-CONTENT     */

.mobile_content{
    width: 100%;
    margin-top: 50px;
    padding: 0 20px;
    display: grid;
    grid-template-areas: "a a b c"
                        "a a d e"
                        "f g h i"
                        "j k l m";
}

.name-label{
    line-height: 0;
    text-align: center;
}

p.label-name{
    color: black;
    font-size: 14px;
}

.img-label{
    height: 74px;
    border-radius: 10px;
    background-color: #fff;
}
.label{
    width: 74px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 20px;
    user-select: none;
    transition: .3s;
}

.label:hover .img-label{
    opacity: 0.5;
    transition: .5s;
}

.img-label{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* weather */

.weather{
    line-height: 0;
    cursor: pointer;
    user-select: none;
    margin-bottom: 20px;
}

.weather-content{
    min-width: 173px;
    min-height: 173px;
    background: linear-gradient(180deg, rgb(32, 140, 187), rgb(95, 165, 201) 71%);
    border-radius: 10px;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p.city{
    font-size: 16px;
    font-family: 'Rubik-Medium';
    line-height: -10px;
}

p.deg{
    font-size: 45px;
    font-family: 'Rubik-Light';
    position: relative;
    line-height: -10px;
}

.weather-text{
    font-size: 14px;
    line-height: 15px;
}

.label-weather{
    grid-area: a;
}

/* rmail */

.label-rmail{
    grid-area: b;
}

.label-rmail .img-label{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.label-rmail .img-label span{
    height: 24px;
    background-color: #F93B34;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    color: white;
    font-size: 16px;
    border-radius: 12px;
    top: -10px;
    right: -10px;
}

/* photo */

.label-photo{
    grid-area: c;
}

/* calendar */

.label-calendar{
    grid-area: d;
}

.label-calendar .img-label{
    text-align: center;
}

p.day{
    font-size: 15px;
    color: #B80404;
    font-family: 'Rubik-Medium';
}

p.day span{
    font-size: 35px;
    color: black;
    font-family: 'Rubik-Light';
}

/* contacts */

.label-contacts{
    grid-area: e;
}

.label-contacts .img-label{
    background: url('../img/mobile-content/contacts.png');
}

/* telerodes */

.label-telerodes{
    grid-area: f;
}

/* instagram */

.label-insta{
    grid-area: g;
}

/* arr store */

.label-store{
    grid-area: h;
}

/* camera */

.label-camera{
    grid-area: i;
}

/* vk */

.label-vk{
    grid-area: j;
}

/* youtube */

.label-youtube{
    grid-area: k;
}

/* settings */

.label-settings{
    grid-area: l;
}

/* taxi */

.label-taxi{
    grid-area: m;
}

.label-taxi .img-label img{
    position: absolute;
    bottom: -13px;
}

/*      TASK-BAR     */

.task-bar{
    position: absolute;
    bottom: 10px;
    left: 8%;
}

.task-bar-content{
    background-color: rgba(255, 255, 255, 0.42);
    padding: 15px;
    border-radius: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-bar-content .label{
    width: 61px;
    height: 61px;
    margin-bottom: 0;
    margin-left: 25px;
}
.task-bar-content .label:first-child{
    margin-left: 0;
}

/*      АДАПТАЦИЯ     */

@media (max-height: 769px){
    .mobile_content{
        margin-top: 0;
    }
    .mobile{
        height: 680px;
    }
}

@media (max-height: 601px){
    .weather-content{
        min-height: 150px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .label{
        margin-bottom: 10px;
    }
    p.city{
        font-size: 14px;
        line-height: -9px;
    }
    
    p.deg{
        font-size: 38px;
        line-height: -9px;
    }
    
    .weather-text{
        font-size: 12px;
        line-height: 10px;
    }
    .mobile{
        height: 600px;
    }
    .task-bar{
        bottom: 3px;
    }
    .top-bar{
        height: 38px;
    }
}

/*
    ==================================
*/


.photo_app{
    width: 414px;
    height: 896px;
    background-color: #fff;
    right: 0;
    bottom: 0;
    z-index: 99;
    position: absolute;
    display: none;
}

.photo_app .top-bar:hover{
    background-color: rgba(160, 158, 158, 0.185);
    transition: .5s;
}

.photo_app-content_bar{
    height: 88%;
    overflow: auto;
    margin-top: 25px;
}
::-webkit-scrollbar{
    width: 0;
}


.photo_app .title{
    width: 100%;
    position: relative;
}

.photo_app .title p.title-app{
    font-size: 37px;
    color: black;
    padding-left: 10px;
}

.photo_app .title::after{
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    background-color: rgba(196, 196, 196, 0.5);
}

.photo_content{
    display: grid;
    grid-template-areas: "a b"
                        "c b"
                        "d e"
                        "f g";
    justify-content: space-between;
    padding: 0 30px;
    overflow-y: visible;
    height: 100%;
}

.photo_content .item{
    width: 165px;
    height: 165px;
    background-color: #C4C4C4;
    margin-bottom: 25px;
    cursor: pointer;
}

@media (max-height: 769px){
    .photo_app{
        height: 680px;
    }
}

@media (max-height: 601px){
    .photo_app{
        height: 600px;
    }
}

/*
    ==================================
*/

.telephone_app .top-bar:hover{
    background-color: rgba(160, 158, 158, 0.185);
    transition: .5s;
}

.telephone_app{
    width: 414px;
    height: 896px;
    background-color: #fff;
    right: 0;
    bottom: 0;
    z-index: 99;
    position: absolute;
    display: none;
}

.bottom-bar{
    width: 100%;
    height: 70px;
    background-color: #CACACA;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.bottom-bar a.item{
    font-size: 10px;
    flex-direction: column;
    display: flex;
    text-align: center;
    cursor: pointer;
    line-height: 0;
    user-select: none;
}

.bottom-bar a.item i{
    font-size: 32px;
    padding-bottom: 10px;
}

.bottom-bar a.item:hover, .item-active{
    color: #2E8BCE;
    transition: .3s;
}

.telephone_app-content{
    height: 88%;
    overflow: auto;
}

/*
    Избраные
*/

.top-side{
    padding: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    user-select: none;
}

.top-side a{
    font-size: 13px;
    color: #0A93CE;
}

.top-side a:hover{
    color: #1DB8FA;
    transition: .3s;
}

.top-side .top-side-btn{
    background-color: #C4C4C4;
    border-radius: 3px;
    padding: 3px;
}

.top-side-btn button.item{
    width: 82px;
    height: 19px;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    font-size: 13px;
    background-color: transparent;
}

.top-side-btn button.btn-item-active{
    background-color: #fff;
}

.favorites-content{
    height: 100%;
    overflow: auto;
}

#every .title{
    font-size: 25px;
    text-align: center;
    margin: 20px 0;
    user-select: none;
}

#recent-every .title, #message_app .title{
    font-size: 30px;
    font-family: 'Rubik-Medium';
    margin: 20px 0;
    user-select: none;
    margin-left: 20px;
}

.block_item{
    margin-bottom: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: rgba(196, 196, 196, 0.4);
    cursor: pointer;
    justify-content: space-between;
    padding-left: 36px;
    padding-right: 14px;
    user-select: none;
}

.block_item:hover{
    background-color: rgba(232, 232, 232, 0.4);
    transition: .3s;
}

.block_item .item-text{
    line-height: 0;
}

.item-text p.name{
    color: black;
    font-size: 20px;
}

.item-text p.text{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.block-items{
    position: relative;
    margin-left: 40px;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    line-height: 0;
}

.block-items::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(196, 196, 196, 0.6);
}

.block-items:first-child::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(196, 196, 196, 0.6);  
}

.block-items .tube{
    color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    position: absolute;
    left: -35px;
}

/*
    KeyBoard
*/

.title-keyboard{
    margin: 100px 0 50px 0;
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: column;
}

.title-keyboard a{
    font-size: 18px;
    color: #0A93CE;
    user-select: none;
}

.title-keyboard a:hover{
    color: #1DB8FA;
    transition: .3s;
}

.number-keyboard{
    font-size: 48px;
}

.keyboard-btn{
    width: 100%;
    padding: 0 60px;
    text-align: center;
}

a.keyboard-call{
    font-size: 40px;
    color: white;
    background-color: #2FCA49;
    padding: 10px 14px;
    border-radius: 70px;
}

.keyboard-item{
    color: black;
    width: 76px;
    height: 76px;
    background-color: #C4C4C4;
    font-size: 36px;
    margin-bottom: 20px;
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    user-select: none;
}

.keyboard-item:nth-child(11) span{
    font-size: 24px;
    line-height: 7px;
}

.keyboard-item span{
    font-size: 10px;
}

.keyboard-item:hover{
    background-color: rgba(229, 229, 229, 1);
    transition: .3s;
}

.keyboard-num{
    display: grid;
    grid-template-areas: "a a a"
                        "a a a"
                        "a a a"
                        "a a a";
    justify-content: space-between;
    margin-bottom: 10px;
}

/*
    Контакты
*/

.search{
    width: 100%;
    padding: 0 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    user-select: none;
}

.search .magnifier{
    width: 24px;
    height: 24px;
    background-color: rgba(196, 196, 196, 0.6);
    border-radius: 7px 0 0 7px;
    color: rgba(68, 68, 68, 0.5);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input{
    width: 100%;
    height: 24px;
    background-color: rgba(196, 196, 196, 0.6);
    color: rgba(68, 68, 68, 0.5);
    font-size: 12px;
    outline: none;
    border: none;
    padding: 12px 0;
    border-radius: 0 7px 7px 0;
}

.my-cart{
    margin: 20px 0;
    padding: 0 30px;
    line-height: 0;
    user-select: none;
}

.my-cart p.name{
    font-size: 24px;
}

.my-cart p.text{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.user-contact{
    font-size: 18px;
    user-select: none;
}

.user-contact .alphabet{
    width: 100%;
    background-color: rgba(196, 196, 196, 0.6);
    padding: 3px 20px;
}

.user-contact .contact-name{
    position: relative;
    height: 69px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.user-contact .contact-name::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(196, 196, 196, 0.6);
    bottom: 0;
    left: 0;
}

.user-contact .contact-name:hover{
    color: rgba(72, 72, 72, 1);
}

/*
    MESSAGE
*/

#message_app .top-side{
    margin-top: 10px;
}

.message-day{
    position: absolute;
    top: 10px;
    right: 17%;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}

span.unread{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #00B2FF;
    position: absolute;
    left: -15px;
    top: 25px;
}

/*
    ==================================
*/

#message_chat{
    width: 414px;
    height: 896px;
    background-color: #fff;
    right: 0;
    bottom: 0;
    z-index: 99;
    position: absolute;
    display: none;
    user-select: none;
}

#message_chat .top-bar:hover{
    background-color: rgba(160, 158, 158, 0.185);
    transition: .5s;
}

.input-line{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 10px;
}

.input-line_chat{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 40px;
    border: 2px solid #C2C2C2;
    border-radius: 20px;
}

.input-line_chat input.chat{
    border: none;
    outline: none;
    padding: 0 20px;
    border-radius: 15px;
    width: 84%;
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

a.input-line_camera{
    color: rgba(0, 0, 0, 0.4);
    font-size: 38px;
}

a.input-line_camera:hover{
    color: rgba(97, 97, 97, 0.4);
    transition: .3s;   
}

a.chat-voice{
    background-color: rgba(196, 196, 196, 0.46);
}

a.chat-voice:hover{
    background-color: rgba(196, 196, 196);
}

.input-line_chat a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    font-size: 18px;
    color: white;
    margin-right: 3px;
}

a.chat-send{
    background-color: rgba(109, 211, 119, 0.46);
}

a.chat-send:hover{
    background-color: rgba(109, 211, 119);
}

.message_content-bar{
    height: 95%;
    overflow: auto;
    user-select: text;
    padding: 0 10px;
}

.message-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
}

.message-to-your-img{align-self: flex-end;}

.message-to-you-img, .message-to-your-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 158px;
    height: 140px;
    background-color: #C4C4C4;
    cursor: pointer;
    border-radius: 9px;
}

.message-to-you-img img, .message-to-your-img img{
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100%;
}

.message-to-you{
    height: 100%;
    width: fit-content;
    padding: 7px;
    border-radius: 9px;
    background-color: #C4C4C4;
    margin-top: 10px;
    word-wrap: break-word;
    max-width: 50%;
}

.message-to-your{
    width: fit-content;
    padding: 7px;
    border-radius: 9px;
    background-color: #C4C4C4;
    margin-top: 10px;
    word-wrap: break-word;
    align-self: flex-end;
    max-width: 50%;
    height: 100%;
}

.input_wrapper{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.new-message{
    background-color: rgba(196, 196, 196, 0.46);
    width: 100%;
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 8px 8px 0px 0px;
}

.new-message p{
    font-size: 16px;
    padding-right: 60px;
}

.new-message a{
    font-size: 13px;
    color: #0A93CE;
    padding-right: 14px;
}

.new-message a:hover{
    color: #10B7FF;
    transition: .3s;
}

.to-message{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
}

.to-message a{
    padding-right: 10px;
}

.to-message p{
    padding-left: 20px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
}

.to-message p span{
    color: black;
}

.to-message::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #C4C4C4;
    top: 0;
}

.to-message::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #C4C4C4;
    bottom: 0;
    display: none;
}

#chat-keyboard{
    width: 100%;
    padding: 10px;
    background-color: #DADADA;
    display: none;
}

.bottom-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.bottom-key{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.key_RU{
    display: grid;
    grid-template-areas: "a a a a a a a a a a a"
                        "a a a a a a a a a a a"
                        "a a a a a a a a a a a";
    justify-content: space-between;
}

.key_NUM{
    display: none;
    grid-template-areas: "a a a a a a a a a a a"
                        "a a a a a a a a a a a"
                        "a a a a a a a a a a a";
    justify-content: space-between;
}
.key_RU .key-item, .key_NUM .key-item{margin-bottom: 10px;}
.key_RU .key-item:last-child, .key_NUM .key-item:last-child{background-color: #c4c4c4;}

.bottom-key .key-item:nth-child(1){width: 46px; height: 41px; background-color: #C4C4C4;}
.bottom-key .key-item:nth-child(2){width: 44px; height: 41px; background-color: #C4C4C4;}
.bottom-key .key-item:nth-child(3){width: 200px; height: 41px;}
.bottom-key .key-item:nth-child(4){width: 79px; height: 41px; background-color: #C4C4C4;}

.key-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 50px;
    font-size: 18px;
    box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.25);
    background-color: #fff;
    border-radius: 4px;
    color: black;
}

.key-item:hover{
    color: #565656;
    transition: .3s;
}

.uppercase{
    text-transform: uppercase;
}

.lowercase{
    text-transform: lowercase;
}


@media (max-height: 769px){
    .telephone_app, #message_chat{
        height: 680px;
    }
    .title-keyboard{
        margin: 0px 0 25px 0;
    }
    .telephone_app-content{
        height: 85%;
        overflow: auto;
    }
    .message_content-bar{
        height: 41%;
    }
    
}

@media (max-height: 601px){
    .telephone_app, #message_chat{
        height: 600px;
    }
    .title-keyboard a{
        font-size: 16px;
    }   
    .number-keyboard{
        font-size: 40px;
    }
    .keyboard-item{
        width: 70px;
        height: 70px;
        font-size: 32px;
        margin-bottom: 15px;
    }
    .keyboard-item:nth-child(11) span{
        font-size: 20px;
    }
    a.keyboard-call{
        font-size: 28px;
        color: white;
        background-color: #2FCA49;
        padding: 10px 14px;
        border-radius: 70px;
    }
    .message_content-bar{
        height: 35.5%;
    }
}

/*
    ==================================
*/

.taxi_app-wrapper{
    position: absolute;
    bottom: 0;
    right: 0;
}

#taxi_app{
    display: none;
    width: 414px;
    height: 896px;
    background-color: #FBBC04;
}

/*
    Страница загрузкт такси
*/

.download-page{
    justify-content: center;
    overflow: hidden;
    transition: 0.75s;
    background-color: #FBBC04;
    user-select: none;
}

.download-page .logo{
    margin-top: 184px;
}

.ellipse-text{
    color: rgba(255, 255, 255, 0.44);
    font-family: 'Rubik-Medium';
    font-size: 24px;
    position: absolute;
    bottom: 50px;
    animation: ellipse-text 1.5s linear 5;
}

@keyframes ellipse-text {
    25% { color: rgba(255, 255, 255, 0.712) }
    50% { color: rgba(255, 255, 255, 0.44) }
    75% { color: rgba(255, 255, 255, 0.712) }
    100% { color: rgba(255, 255, 255, 0.44); }
}


.ellipse-wrapper{
    position: absolute;
    bottom: 0;
    background: url('../img/taxi-app/Ellipse.svg');
    width: 100%;
    height: 520px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/*
    Страница такси
*/

.main-page{
    display: none;
    opacity: 0;
    transition: .5s;
    width: 414px;
    height: 896px;
    position: relative;
    flex-direction: column;
}

.menu-wrapper{
    width: 100%;
}

.menu_burger{
    margin-left: 19px;
    margin-top: 23px;
    user-select: none;
    position: absolute;
}

.menu_taxi-burger_title{
    margin-left: 19px;
    margin-top: 60px;
}

.menu_taxi-burger_title .menu_burger{
    margin: 0;
}

.menu_taxi-list{
    display: none;
    width: 50%;
    height: 100vh;
    background-color: #fff;
    animation: menu-content .25s linear;
    overflow: hidden;
    flex-direction: column;
    position: absolute;
    z-index: 9;
}

@keyframes menu-content{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    70%{
        transform: translateX(-75%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
    }
}

.menu_taxi-burger_title{
    height: 50px;
    display: flex;
    align-items: center;
    user-select: none;
}

.menu_taxi-burger_title .burger_title{
    margin-left: 54px;
}

.burger_title p.name{
    font-family: 'Rubik-Medium';
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 0;
}

.burger_title p.grade{
    font-family: 'Rubik-Regular';
    font-size: 16px;
    color: rgba(0, 0, 0, 0.51);
    margin-bottom: 0;
    margin-top: 0;
}

.menu-item{
    font-size: 18px;
    color: black;
    margin-top: 30px;
}

span.method{
    color: rgba(0, 0, 0, 0.27);
    font-size: 14px;
    position: relative;
}

span.method img{
    position: absolute;
    right: -140px;
    bottom: 5px;
}

.menu_list-content{
    display: flex;
    flex-direction: column;
    user-select: none;
}

.menu_item-content{
    display: none;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    animation: menu-content .25s linear;
    flex-direction: column;
}

.menu_back{
    display: flex;
    align-items: center;
    user-select: none;
    margin-top: 60px;
    margin-left: 19px;
}

.menu_back .burger_title{
    margin-left: 27px;
}

#payment_method, #history_orders{
    display: none;
}

.menu_item-title{
    font-size: 24px;
    font-family: 'Rubik-Medium';
    margin: 0;
    text-align: center;
    user-select: none;
}

.menu_item-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

/*
    Способ оплаты
*/

#payment_method .menu_item-wrapper{
    padding: 0 36px;
    user-select: none;
}

.payment_item{
    width: 100%;
    margin-top: 60px;
    position: relative;
}

.payment_item label{
    font-size: 24px;
    font-family: 'Rubik-Medium';
    margin: 0;
    cursor: pointer;
}

.payment_item input{
    display: none;
    position: absolute;
}

.payment_label{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment_label::after{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-color: #C4C4C4;
    border-radius: 50%;
}

.payment_item input[type="radio"]:checked + .payment_label::before{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-color: #FBBC04;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
    right: 0;
}

/*
    История заказов
*/

.orders_content{
    width: 100%;
    height: 700px;
    overflow: auto;
    padding-bottom: 20px;
    padding-left: 44px;
    user-select: none;
}

.orders{
    margin-top: 30px;
}

p.orders-day{
    margin: 0;
    font-family: 'Rubik-Medium';
    color: rgba(0, 0, 0, 0.27);
    font-size: 24px;
    padding-bottom: 10px;
}

.orders-item{
    width: 318px;
    height: 93px;
    border-radius: 13px;
    background-color: #E9E9E9;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

p.orders-sum{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.65);
    margin: 0;
    font-family: 'Rubik-Medium';
    text-align: center;
}

.orders-item:last-child{
    margin-bottom: 0;
}




/*
    Основное
*/

.main-page_content{
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

.logo-location{
    margin-bottom: 90px;
}

p.local{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.65);
    font-family: 'Rubik-Medium';
}

p.address{
    font-size: 24px;
    margin: 0;
    font-family: 'Rubik-Medium';
}

.location{
    text-align: center;
}

/*
    Заказ такси
*/

.ordering_title{
    width: 100%;
    height: 41px;
    display: flex;
    background-color: #E9E9E9;
    align-items: center;
    justify-content: space-between;
    border-radius: 13px;
    cursor: pointer;
    padding-right: 8px;
}

p.ordering_title-text{
    color: rgba(0, 0, 0, 0.73);
    font-size: 18px;
    margin: 0;
    font-family: 'Rubik-Medium';
    position: relative;
    padding-left: 40px;
}

p.ordering_title-text::after{
    content: '';
    position: absolute;
    background-image: url('../img/taxi-app/map-pin.png');
    width: 36px;
    height: 35px;
    left: 1px;
    top: -5px;
}

.ordering_button{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.order-btn{
    width: 254px;
    height: 41px;
    background-color: #e9e9e9;
    color: rgba(0, 0, 0, 0.73);
    font-size: 24px;
    margin: 0;
    font-family: 'Rubik-Medium';
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 13px;
}

a.ordering_back{
    font-size: 14px;
    color: rgba(66, 66, 66, 0.52);
    font-family: 'Rubik-Regular';
    margin-top: 5px;
}

/*
    Быстрый вызов
*/

.quick-call_ordering{
    width: 414px;
    height: 317px;
    background-color: #fff;
    border-radius: 50px 50px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 25px;
    flex-direction: column;
}

@keyframes ordering{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    70%{
        transform: translateY(75%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
    }
}

.ordering_plan{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ordering_plan-item{
    width: 104px;
    height: 93px;
    background-color: #E9E9E9;
    border-radius: 13px;
    cursor: pointer;
    padding: 10px;
    position: relative;
}

.ordering_plan-item p.path{
    color: rgba(0, 0, 0, 0.73);
    font-size: 14px;
    margin: 0;
    font-family: 'Rubik-Medium';
}

.ordering_plan-item p.path span{
    font-size: 12px;
    font-family: 'Rubik-Regular';
}

.img-ico{
    position: absolute;
    bottom: 10px;
}

.img-ico img{
    margin-left: 35px;
}

/*
    Вызов такси
*/

.ordering_call{
    display: none;
    width: 414px;
    height: 624px;
    background-color: #fff;
    border-radius: 50px 50px 0 0;
    animation: ordering .3s linear;
    justify-content: space-around;
    align-items: center;
    padding: 0 25px;
    flex-direction: column;
}

.ordering_call .ordering_title img{
    transform: rotate(-90deg);
}

.ordering_price{
    margin: 0;
    font-family: 'Rubik-Medium';
    text-align: center;
    line-height: 0;
}

p.price{
    font-size: 24px;
}

p.price_num{
    font-size: 64px;
    color: #FBBC04;
}

.tariff{
    width: 318px;
    height: 93px;
    background-color: #E9E9E9;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    cursor: pointer;
}

.tariff_plan{
    display: flex;
    align-items: center;
    text-align: right;
}

.tariff_plan p{
    color: rgba(0, 0, 0, 0.65);
    font-size: 24px;
    margin: 0;
    font-family: 'Rubik-Medium';
}

.location_selection{
    width: 100%;
    padding-left: 25px;
}

.location_item{ position: relative; margin-bottom: 30px; }
.location_item:last-child{ margin-bottom: 0; }

.location_item::after{
    content: '';
    position: absolute;
    width: 318px;
    left: 0;
    height: 1px;
    background-color: black;
    bottom: -5px;
}

.location_item label{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.55);
    margin: 0;
    font-family: 'Rubik-Medium';
}

.location_item input{
    display: none;
}

.location_label{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
}

.location_label::after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 4px solid #424242;
    border-radius: 50%;
    position: absolute;
    left: 0;
}

.location_item input[type="radio"]:checked + .location_label{
    color: black;
}

.location_item input[type="radio"]:checked + .location_label::after{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 3px solid #E53935;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
    left: 0;
}

/*
    Поиск свободного водителя
*/

.free-driver{
    display: none;
    position: relative;
    width: 414px;
    height: 896px;
    overflow: hidden;
}

.free-driver_ellipse{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 414px;
    height: 843px;
    background: url('../img/taxi-app/Ellipse3.png');
}

.free-driver_text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    margin: 0;
    font-family: 'Rubik-Medium';
    user-select: none;
    cursor: pointer;
    animation: appearance_div .2s ease 1;
}

.free-driver_text p{
    animation: ellipse-text 1.25s linear infinite;
}

@keyframes appearance_div{
    0%{
        opacity: 0;
        transform: translateX(-80%);
    }
    50%{
        opacity: 0.5;
        transform: translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

/*
    Машина едет
*/

.car-rides{
    display: none;
    position: relative;
    width: 414px;
    height: 896px;
    overflow: hidden;
    background: url('../img/taxi-app/Ellipse4.png');
}

.car-rides_text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    animation: appearance_div .2s ease 1;
}

.taxi_app-title{
    color: white;
    font-size: 36px;
    margin: 0;
    font-family: 'Rubik-Medium';
    margin-top: 50px;
}

.text_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
}

.taxi_app-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 24px;
    margin: 0;
    margin-top: 40px;
    font-family: 'Rubik-Medium';
}

a.cancel_ordering{
    color: rgba(255, 255, 255, 0.46);
    font-family: 'Rubik-Medium';
    font-size: 18px;
}

/*
    Вас ожидает
*/

.expecting{
    display: none;
    position: relative;
    width: 414px;
    height: 896px;
    overflow: hidden;
    background: url('../img/taxi-app/Ellipse5.png');
}

/*
    Заказ отменен
*/

.canceled{
    display: none;
    position: relative;
    width: 414px;
    height: 896px;
    overflow: hidden;
    background: url('../img/taxi-app/Ellipse4.png');
    
}

.canceled .free-driver_text p{
    font-size: 36px;
    animation: none;
}

/*
    Заказ завершен
*/

.finished{
    display: none;
    position: relative;
    width: 414px;
    height: 896px;
    overflow: hidden;
    background: url('../img/taxi-app/Ellipse5.png');
}

.proceed{
    background-color: #E9E9E9;
    width: 254px;
    height: 41px;
    border-radius: 13px;
    color: rgba(0, 0, 0, 0.73);
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Rubik-Medium';
    font-size: 24px;
    transition: .2s ease;
}

.proceed:hover{
    color: rgba(0, 0, 0, 0.514);
}

.finished_text{
    width: 315px;
    color: #fff;
    font-family: 'Rubik-Regular';
    font-size: 24px;
    text-align: center;
    margin: 0;
}



/*
    Рейтинг
*/

.taxi_rating{
    margin: 50px 0;
    font-size: 0;
}

.star-rating__wrap{
	display: inline-block;
	font-size: 1rem;
}

.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}

.star-rating__ico{
	float: right;
	padding-left: 10px;
	cursor: pointer;
	color: rgba(62, 0, 140, 0.6);
    font-size: 58px;
    margin: 0;
}

.star-rating__ico:hover{
    transition: .4s ease;
}

.star-rating__ico:last-child{
	padding-left: 0;
}

.star-rating__input{
	display: none;
}

.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
    color: #FFC700;
    transition: .3s linear;
}
/*
    Адаптация такси
*/

@media (max-height: 769px){
    #taxi_app, .main-page{
        height: 680px;
    }

    .orders_content{
        height: 484px;
    }

    .quick-call_ordering{
        height: 291px;
    }

    .logo-location{
        margin-bottom: 20px;
    }

    .ordering_call{
        height: 466px;
        padding-top: 10px;
    }

    p.price{
        font-size: 18px;
    }
    
    p.price_num{
        font-size: 40px;
    }

    .tariff{
        height: 78px;
    }

    .location_item{
        margin-bottom: 20px;
    }

    .ellipse-wrapper{
        height: 496px;
    }

    .download-page .logo{
        margin-top: 84px;
    }

    .free-driver_ellipse{
        top: 40%;
    }

    .taxi_app-title{
        font-size: 24px;
        margin-top: 35px;
    }

    .taxi_app-text{
        font-size: 18px;
        margin-top: 30px;
    }
    
    a.cancel_ordering{
        font-size: 14px;
    }

    .car-rides_text{
        position: absolute;
        top: -10%;
    }

    .canceled .free-driver_text{
        position: absolute;
        top: -10%;
    }
    
}

@media (max-height: 601px){
    #taxi_app, .main-page{
        height: 600px;
    }

    .orders_content{
        height: 404px;
    }

    p.local, p.address{
        font-size: 16px;
    }

    .ordering_call{
        height: 446px;
        padding-top: 10px;
    }

    .ellipse-wrapper{
        height: 420px;
    }

    .free-driver_ellipse{
        top: 35%;
    }

    .taxi_app-title{
        font-size: 24px;
        margin-top: 35px;
    }

    .taxi_app-text{
        font-size: 18px;
        margin-top: 30px;
    }
    
    a.cancel_ordering{
        font-size: 14px;
    }

    .car-rides_text{
        position: absolute;
        top: -15%;
    }
}