.container{
    width: 100%;
    max-width: 1059px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
body{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 16px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}



.header{
    width: 100%;
    height: 100vh;
    background: url('../img/Hero.png') no-repeat;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
    background-size: cover;
}
.nav{
    width: 100%;
    height: 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.menu > a{
    color: white;
    font-size: 15px;
    font-weight: normal;
}
.menu > a:hover{
    color: rgb(226, 226, 226);
}
.hero{
    color: white;
}
p.h-title{
    width: 27ch;
    font-weight: 500;
    font-size: 50px;
}
p.h-descript{
    width: 539px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgb(250, 250, 250);
}
.search{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
input.search-box{
    height: 58px;
    background: transparent;
    border: none;
    border-bottom: solid 1.5px #D8D8D8;
    outline: none;
    width: 297px;
    color: white;
    font-weight: 500;
    font-size: 15px;
}
input.search-box::placeholder{
    color: white;
    font-size: 18px;
    padding-left: 10px;
}
button.btn-srch{
    background-color: #1B7DFF;
    outline: none;
    border: none;
    width: 171px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 24px;
}
button.btn-srch:hover{
    background-color: #679fe7;
}





.benefits{
    width: 1262px;
    height: 100%;
    background-color: white;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    margin: 0 auto;
    transform: translateY(-150px);
    padding: 75px 0;
}
.block-benefits{
    width: 317px;
    line-height: 24px;
}
p.section-title{
    color: #102746;
    font-size: 30px;
    font-weight: 500;
}
.block-benefits > p.title{
    font-weight: 500;
    font-size: 18px;
}
.block-benefits > p.text{
    font-weight: normal;
    font-size: 16px;
}
a.btn-link{
    text-transform: uppercase;
    color: #006DFE;
    font-size: 16px;
    font-weight: normal;
}
.block-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 125px;
}


.inspired{
    width: 1262px;
    height: 100%;
    margin: 0 auto;
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icontainer{
    display: flex;
    flex-direction: column;
}
.icontainer > .top{
    display: flex;
    justify-content: space-between;
}
.icontainer > .bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.tours{
    width: 1262px;
    height: 100%;
    margin: 0 auto;
    padding: 139px 0;
}

.tours__tour{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 108px 1fr;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 108px; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
    margin-bottom: 77px;
}

.tour__info{
    padding-left: 47px;
}

.tour__title{
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.tour__desc{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}

.tour__more{
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}

.tour__more:hover, .tour__more:focus{
    opacity: .65;
}

.footer{
    background: #0E1D28;
    padding: 119px 0;
}

.footer__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    align-items: center;
}

.footer__logo{
    width: 50%;
}

.footer__nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
}

.footer__menu-title{
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.footer__menu-link{
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active{
    opacity: .75;
}








@media screen and (max-width: 960px) {
    .benefits {
        margin-bottom: 75px;
    }
    .benefits__card {
        margin-bottom: 60px;
    }
    .search-form__field {
        margin-bottom: 25px;
    }
    .benefits__cards {
        padding: 0 15px;
        column-gap: 35px;
    }
    .benefits__title {
        padding: 55px 15px;
    }
    .benefits__wrap {
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .places__card_size_lg {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }
    .places__card_size_sm {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }
    .tours__tour {
        column-gap: 35px;
    }
    .tour__info {
        padding-left: 0;
    }
    .tour__title {
        margin-bottom: 15px;
    }
    .tour__desc {
        margin-bottom: 15px;
    }
    .top__cards {
        column-gap: 25px;
        row-gap: 55px;
    }
    .top__card {
        -ms-grid-column-span: 3;
        grid-column: span 3;
    }
    .top__card-pic {
        margin-bottom: 25px;
    }
    .footer {
        padding: 60px 0;
    }
}

@media screen and (max-width: 767px) {
    .tours {
        margin-bottom: 76px;
    }
    .tour__pic, .tour__info {
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }
    .tour__pic {
        margin-bottom: 12px;
    }
    .tour__pic_mob-first {
        -ms-grid-row: -1;
            grid-row-start: -1;
    }
    .tours__tour {
        margin-bottom: 50px;
    }
    .footer__logo {
        width: 100%;
        margin-bottom: 24px;
    }
    .footer__nav {
        width: 100%;
    }
    .footerm__menu {
        width: 50%;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 500px) {

}