/*
    ========================================
                Базовые стили
    ========================================
*/
html, body, div, span, 
applet, object, iframe, h1, 
h2, h3, h4, h5, 
h6, p, blockquote, pre, 
a, abbr, acronym, address, 
big, cite, code, del, 
dfn, em, img, ins, 
kbd, q, s, samp, 
small, strike, strong, sub, 
sup, tt, var, b, 
u, i, center, dl, 
dt, dd, ol, ul, 
li, fieldset, form, label, 
legend, table, caption, tbody, 
tfoot, thead, tr, th, 
td, article, aside, canvas, 
details, embed, figure, figcaption, 
footer, header, hgroup, menu, 
nav, output, ruby, section, 
summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}

*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, 
figure, footer, header, hgroup, 
menu, nav, section{ 
    display: block; 
}

ol, ul{ 
    list-style: none; 
}

blockquote, q{ 
    quotes: none; 
}

blockquote:before, blockquote:after, q:before, q:after{ 
    content: ''; content: none; 
}

strong{ 
    font-weight: bold; 
} 

input{ 
    outline: none; 
}

table{ 
    border-collapse: collapse; 
    border-spacing: 0; 
}

img{ 
    border: 0; 
    max-width: 100%; 
}

a{ 
    text-decoration: none; 
    color: #212121;
}

.container{
    width: 100%;
    max-width: 1170px;
    padding: 0 10px;
    margin: 0 auto;
}

/*
    ========================================
                    HEADER
    ========================================
*/

.header_body{
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
}

.header-banner_content{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

a.logo{
    width: 243px;
    height: 50px;
    image-rendering: pixelated;
}

a.logo img{
    border: none;
}

.nav {
    width: 65%;
}
.nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.nav_list{
    font-size: 16px;
    font-family: 'Gilroy-Medium';
    color: #212121;
    list-style: none;
    cursor: pointer;
    position: relative;
}

li.nav_list .active{
    color: #182263;
    position: relative;
    font-family: 'Gilroy-Bold';
}

.active::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: #182263;
    bottom: -3px;
    left: 0;
    transition: .3s;
    position: absolute;
}

li.nav_list:hover{
    color: #182263;
}

li.nav_list::after{
    content: '';
    height: 2px;
    width: 0;
    background-color: #182263;
    bottom: -3px;
    left: 0;
    transition: .3s;
    position: absolute;
}
li.nav_list:hover::after{
    width: 100%;
}

.burger_menu{
    display: none;
    width: 20px;
    height: 16px;
    position: relative;
}

.burger_menu span{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #182263;
    transition: 0.5s;
}

.burger_menu span:first-child{
    top: 0;
}

.burger_menu span:last-child{
    top: 16px;
}

.burger_menu span.active{
    opacity: 0;
    top: 50%;
}

.burger_menu span:first-child.active{
    opacity: 1;
    transform: rotate(-314deg);
    top: 50%;
    background-color: #acacac;
}

.burger_menu span:last-child.active{
    opacity: 1;
    transform: rotate(314deg);
    top: 50%;
    background-color: #acacac;
}

.btn-close{
    display: none;
}

/*
    ========================================
                    SLIDER
    ========================================
*/

.header_banner{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    position: relative;
    background: url('../libs/img/slider1/bg1.png') no-repeat center;
    user-select: none;
}

p.hc_title{
    font-size: 48px;
    font-family: 'Gilroy-ExtraBold';
    text-transform: uppercase;
    color: white;
}

p.hc_text{
    font-size: 26px;
    font-family: 'Gilroy-Medium';
    color: white;
    text-transform: uppercase;
    padding-top: 35px;
}

a.hc_btn{
    border: 2px solid white;
    padding: 20px 40px;
    color: white;
    font-size: 20px;
    font-family: 'Gilroy-Medium';
    text-transform: uppercase;
    margin-top: 60px;
    width: fit-content;
    transition: 1s;
}

a.hc_btn:hover{
    background-color: #fff;
    background-image: -moz-linear-gradient( 90deg, rgb(228,228,228) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(228,228,228) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(228,228,228) 0%, rgb(255,255,255) 100%);
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Gilroy-Medium';
    color: #182263;
    transition: 1s;
}

/*
    ========================================
                    SPECIALTY
    ========================================
*/

.specialty{
    background-color: #fff;
    padding: 60px 0;
}

p.block_header{
    font-size: 56px;
    color: #182263;
    font-family: 'Gilroy-Black';
    text-transform: uppercase;
    text-align: center;
    user-select: none;
}

.specialty_list{
    padding-top: 60px;
}

.specialty_list li{
    font-size: 24px;
    color: #212121;
    font-family: 'Gilroy-Medium';
    padding-bottom: 30px;
}

/*
    ========================================
                  ADVANTAGES
    ========================================
*/

.advantages{
    background-color: #f5f5f5;
    padding-top: 85px;
    background-image: -moz-linear-gradient( 90deg, rgb(232,190,105) 0%, rgb(245,245,245) 0%, rgb(245,245,245) 94%, rgb(221,221,221) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(232,190,105) 0%, rgb(245,245,245) 0%, rgb(245,245,245) 94%, rgb(221,221,221) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(232,190,105) 0%, rgb(245,245,245) 0%, rgb(245,245,245) 94%, rgb(221,221,221) 100%);
    position: relative;
    user-select: none;
}

.advantages::after{
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.advantages::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 49.8%;
    transform: translateX(-49.8%);
    z-index: 10;
    width: 10px;
    height: 10px;
    border-top: 2px solid #cbcbcb;
    border-right: 2px solid #cbcbcb;
    transform: rotate(135deg);
}

.advantages_list{
    padding: 75px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.adv-list_item{
    padding-bottom: 45px;
    display: flex;
    align-items: center;
}

.item_circle{
    border-radius: 50%;
    background-image: -moz-linear-gradient( 53deg, rgb(24,34,99) 0%, rgb(18,32,124) 100%);
    background-image: -webkit-linear-gradient( 53deg, rgb(24,34,99) 0%, rgb(18,32,124) 100%);
    background-image: -ms-linear-gradient( 53deg, rgb(24,34,99) 0%, rgb(18,32,124) 100%);
    width: 90px;
    height: 90px;
    position: relative;
}

.item_circle svg{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}


.item_text{
    padding-left: 45px;
}

p.advantage_title{
    color: #212121;
    font-size: 18px;
    font-family: 'Gilroy-Bold';
}

p.advantage_title span{
    font-family: 'Gilroy-Medium';
}

.slider_body{
    display: none;
}

.slider {
    width: 450px;
    height: 390px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -ms-flex-flow: row nowrap;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -ms-flex-pack: center;
    justify-content: center;
}
.slider__nav {
  width: 9px;
  height: 9px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  background-color: #c2c2c2;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  width: 15px;
  height: 15px;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
}
.slider__nav:checked:nth-of-type(5) ~ .slider__inner {
    left: -400%;
}
.slider__nav:checked:nth-of-type(6) ~ .slider__inner {
    left: -500%;
}
.slider__nav:checked:nth-of-type(7) ~ .slider__inner {
    left: -600%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 700%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
    user-select: none;
}

.slider_circle{
    border-radius: 50%;
    background-image: -moz-linear-gradient( 53deg, rgb(24,34,99) 0%, rgb(18,32,124) 100%);
    background-image: -webkit-linear-gradient( 53deg, rgb(24,34,99) 0%, rgb(18,32,124) 100%);
    background-image: -ms-linear-gradient( 53deg, rgb(24,34,99) 0%, rgb(18,32,124) 100%);
    width: 90px;
    height: 90px;
    position: relative;
}

.slider_circle svg{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.slider__contents p.advantage_title{
    margin-top: 45px;
}
/*
    ========================================
                    Footer
    ========================================
*/

.footer_body{
    width: 100%;
    height: 60px;
    background-color: #182263;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.footer_body p{
    font-size: 13px;
    color: white;
    font-family: 'Gilroy-Regular';
}

.footer_body p span{
    padding-left: 10px;
}

.footer_body p:last-child{
    display: none;
}
.footer_body p:first-child{
    display: block;
}














/*
    ========================================
                  CONTACTS PAGE
    ========================================
*/

.main_body{
    min-height: calc(100vh - 80px);
    position: relative;
}

.main_body{
    background-color: #182263;
}

.map{
    position: absolute;
    height: 100%;
    width: 58%;
    right: 0;
    top: 0;
    z-index: 5;
}

.main_body::after{
    content: '';
    position: absolute;
    top: 2px;
    width: 100%;
    z-index: 10;
    height: 2px;
    background-color: #000;
    filter: blur(2px);
    opacity: .7;
}

p.contact{
    color: white;
    width: 360px;
    font-size: 18px;
    font-family: 'Gilroy-Medium';
    line-height: 30px;
}

p.adress_title{
    padding-top: 90px;
    user-select: none;
}

p.adress_title, p.number{
    font-size: 18px;
    font-family: 'Gilroy-Bold';
}

p.number{
    font-size: 19px;
    padding-top: 55px;
}

.btn-send{
    outline: none;
    border: 1px #fff solid;
    width: 360px;
    height: 60px;
    border-radius: 2px;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Gilroy-Bold';
    margin-top: 125px;
    transition: 1s;
    user-select: none;
}

.btn-send:hover{
    background-color: #fff;
    background-image: -moz-linear-gradient( 90deg, rgb(228,228,228) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(228,228,228) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(228,228,228) 0%, rgb(255,255,255) 100%);
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.2);
    color: #182263;
    transition: 1s;
}









/*
    ========================================
                  SERVICES PAGE
    ========================================
*/

.services_body{
    width: 100%;
    height: calc(100vh - 80px - 60px);
    background-color: #f5f5f5;
    overflow: hidden;
    position: relative;
    background: #f5f5f5 url('../libs/img/linesd.svg') bottom no-repeat;
}

.services_title{
    padding-top: 50px;
    color: #182263;
    font-family: 'Gilroy-Bold';
    font-size: 38px;
    user-select: none;
    line-height: 41px;
}

.services_list{
    padding-top: 40px;
}

.services_list li{
    color: #212121;
    font-size: 20px;
    font-family: 'Gilroy-Medium';
    line-height: 25px;
    user-select: none;
}

.services_body .container p.block_header{
    display: none;
}








/*
    ========================================
                  EXPERTS PAGE
    ========================================
*/

.experts_body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #f5f5f5;
    overflow-x: hidden;
    padding: 50px 0;
}

.experts_body::after{
    content: '';
    width: 100%;
    height: 75%;
    position: absolute;
    background: url('../libs/img/lines2.svg') no-repeat;
    top: 0;
    left: 30%;
    z-index: 0;
    pointer-events: none;
}

.experts_body::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 75%;
    background: url('../libs/img/linesd.svg') no-repeat bottom center;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
}

.experts_item{
    position: relative;
    padding-bottom: 100px;
}

.experts_item::after{
    content: '';
    position: absolute;
    bottom: 48px;
    width: 100%;
    height: 2px;
    background-color: #c3c1c1;
}

.experts_item:last-child::after{
    background-color: transparent;
}

.experts_name{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.experts_name p.name{
    font-family: 'Gilroy-ExtraBold';
    font-size: 32px;
    color: #182263;
}

p.description_data{
    font-family: 'Gilroy-Regular';
    font-size: 18px;
    color: #212121;
}

.experts_data{

}

.data_items{
    padding-top: 35px;
}

p.title_data{
    user-select: none;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    color: #182263;
}

.experts_body .container p.block_header{
    display: none;
}














/*
    ========================================
                  JOBS PAGE
    ========================================
*/

.jobs_body{
    width: 100%;
    min-height: calc(100vh - 80px - 60px);
    padding-top: 70px;
    padding-bottom: 170px;
    background: #f5f5f5 url('../libs/img/linesd.svg') no-repeat bottom center;
}

.job_item{
    padding-bottom: 80px;
    position: relative;
}

.job_item::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 40px;
    background-color: #b8b8b8;
    left: 0;
}

.job_item:last-child:after{
    background-color: transparent;
}

.jobs_title{
    font-family: 'Gilroy-ExtraBold';
    font-size: 20px;
    color: #182263;
    padding-bottom: 18px;
    cursor: pointer;
}

.jobs_descript, .jobs_descript_full{
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    color: #212121;
    padding-bottom: 28px;
    width: 75%;
}

p.jobs_descript_full{
    
}

a.jobs_more{
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    color: #505050;
    position: relative;
    cursor: pointer;
}

a.jobs_more span{
    padding-left: 15px;
}

a.jobs_more:hover::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65%;
    height: 1px;
    background-color: #505050;
}

.jobs_btn{
    display: flex;
    justify-content: flex-end;
}

.jbtn_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(50% + 200px);
}

button.next{
    outline: none;
    border: 1.5px solid #b2b2b2;
    border-radius: 2px;
    width: 200px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    color: #898989;
    font-family: 16px;
    font-family: 'Gilroy-Medium';
}

button.next:hover{
    background-image: -moz-linear-gradient( 90deg, rgb(228,228,228) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(228,228,228) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(228,228,228) 0%, rgb(255,255,255) 100%);
    box-shadow: 0px 0px 9px 1px rgba(255, 255, 255, 0.004);
    color: #212121;
}

.arrow_body{
    display: flex;
    align-items: center;
}

.arrow{
    width: 40px;
    height: 40px;
    background-color: #e0e0e0;
    color: #898989;
    border-radius: 2px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.num_page{
    width: 40px;
    height: 40px;
    outline: none;
    margin: 0 10px;
    background-color: #f5f5f5;
    border-radius: 2px;
    border: 1.5px solid #e0e0e0;
    text-align: center;
    color: #898989;
    font-family: 'Gilroy-Medium';
}

input.num_page::-webkit-outer-spin-button,
input.num_page::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}












/*
    ========================================
                  DOCUMENTS PAGE
    ========================================
*/

.doc_body{
    width: 100%;
    min-height: calc(100vh - 80px - 60px);
    padding-top: 70px;
    padding-bottom: 170px;
    background: #f5f5f5 url('../libs/img/linesd.svg') no-repeat bottom center;
}

.doc_body .container .block_header{
    display: none;
}

.doc_items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #d1d7d9;
    border-radius: 5px;
    align-items: center;
    min-height: 52px;
    margin-bottom: 17px;
    cursor: pointer;
}

.doc_items:last-child{
    margin-bottom: 0;
}

.doc_text{
    color: #212121;
}

.doc_title{
    font-size: 18px;
    font-family: 'Gilroy-Medium';
}

.doc_discript{
    font-size: 17px;
    font-family: 'Gilroy-Regular';
    padding-top: 10px;
}

.doc_arrow{
    color: #b6b6b6;
    font-size: 24px;
    padding-left: 10px;
}

/*
    ========================================
                  Модальные окна
    ========================================
*/

.popup-fade{
    display: none;
    position: absolute;
    width: 100%;
    background-color: #393939;
    top: 0;
    z-index: 999;
    opacity: .75;
}

.popup {
    position: absolute;
    top: 80px;
    padding: 20px;
    width: 1170px;
    left: 50%;
    transform: translateX(-50%);
    background: #f5f5f5;
    border-radius: 2px; 
    z-index: 99999;
    padding-left: 38px;
    padding-right: 38px;
    overflow: auto;
}

.popup-close {
	position: absolute;
	top: 10px;
	right: 10px;
    font-size: 25px;
    color: #989898;
}

.popup_header{
    color: #182263;
    font-family: 'Gilroy-ExtraBold';
    font-size: 28px;
    text-transform: uppercase;
}

#agreement p.title{
    font-family: 'Gilroy-Bold';
    text-transform: uppercase;
    padding-top: 50px;
}

#agreement p.text, #agreement p.title{
    color: #212121;
    font-size: 16px;
}

#agreement li{
    color: #212121;
    font-size: 16px;
    font-family: 'Gilroy-Regular';
    padding-left: 25px;
    line-height: 25px;
}

#agreement p.text{
    font-family: 'Gilroy-Regular';
    padding-top: 25px;
}

/*
    ========================================
                    Адаптация
    ========================================
*/

@media (min-width: 1280px){
    .contacts .footer_body{
        position: absolute;
        bottom: 60px;
    }
}

@media (max-width: 1600px){
    .map{
        width: 50%;
    }    
}

@media (max-width: 1280px){
    .map{
        width: 100%;
        height: 400px;
        position: static;
        margin-top: 25px;
    }
    
    .contact_body .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .main_body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    p.adress_title{
        padding-top: 70px;
    }
    
    p.number{
        padding-top: 35px;
    }
    
    .btn-send{
        margin-top: 75px;
    }

    .contacts .footer_body{
        bottom: 0;
        justify-content: center;
        height: 65px;
        text-align: center;
    }

    .contacts .footer_body p br{
        display: none;
    }

    .services_body{
        width: 100%;
        height: calc(100vh - 80px - 60px);
        background-color: #f5f5f5;
        overflow: hidden;
        position: relative;
        background: #f5f5f5 url('../libs/img/linesd.svg') bottom no-repeat;
    }
    
    .services_title{
        padding-top: 50px;
        color: #182263;
        font-family: 'Gilroy-Bold';
        font-size: 30px;
        user-select: none;
        line-height: 41px;
    }
    
    .services_list{
        padding-top: 40px;
    }
    
    .services_list li{
        font-size: 16px;
    }
    
}

@media (max-width: 1024px){
    p.adress_title{
        padding-top: 50px;
    }
    
    p.number{
        padding-top: 35px;
    }
    
    .btn-send{
        margin-top: 50px;
    }
}

@media (max-width: 860px) and (max-height: 723px){
    
}

@media (max-width: 1280px){

    .container{
        width: 768px;
    }

    a.logo{
        width: 162px;
        height: 33px;
    }
    
    .nav{
        width: 60%;
    }
    
    li.nav_list{
        font-size: 14px;
    }

    p.hc_title{
        font-size: 40px;
    }
    
    p.hc_text{
        font-size: 24px;
        padding-top: 35px;
    }
    
    a.hc_btn{
        border: 2px solid white;
        padding: 20px 40px;
        font-size: 20px;
    }

    p.block_header{
        font-size: 36px;
    }

    .specialty_list li{
        font-size: 18px;
    }

    .item_text{
        padding-left: 20px;
    }
    
    .item_circle{
        width: 60px;
        height: 60px;
    }

    .item_circle svg{
        width: 60%;
        height: 60%;

    }
    p.advantage_title{
        color: #212121;
        font-size: 14px;
        font-family: 'Gilroy-Bold';
    }
}

@media (max-width: 860px){
    .services_body{
        overflow: auto;
        height: fit-content;
        min-height: calc(100vh - 80px - 60px);
    }

    .services_title{
        padding-top: 25px;
        color: #182263;
        font-family: 'Gilroy-Bold';
        font-size: 22px;
        user-select: none;
        line-height: 27px;
        text-align: center;
    }

    .experts_data{
        display: none;
    }

    .experts_name {
        text-align: center;
    }

    .experts_body .container p.block_header{
        display: block;
        padding-bottom: 35px;
    }

    .experts_item{
        padding-bottom: 50px;
    }
    
    .experts_item::after{
        bottom: 23px;
        height: 2px;
    }    

    .experts_name p.name{
        font-family: 'Gilroy-ExtraBold';
        font-size: 16px;
        color: #182263;
    }
    
    p.description_data{
        font-size: 14px;
    }

    p.title_data{
        user-select: none;
        font-family: 'Gilroy-Bold';
        font-size: 16px;
        color: #182263;
    }

    .data_items{
        text-align: center;
    }
    
    .services_list{
        padding-top: 30px;
    }
    
    .services_list li{
        font-size: 16px;
        line-height: 20px;
    }

    .services_body .container p.block_header{
        display: block;
        padding-top: 25px;
    }

    .burger_menu{
        display: block;   
        cursor: pointer;
    }

    nav{
        display: none;
        position: relative;
    }


    .header.active{
        position: fixed;
    }

    .header_banner{
        background: url('../libs/img/slider1/bg11.png') no-repeat center;
    }

    .nav.active{
        position: fixed;
        width: 100%;
        height: calc(100vh - 80px);
        left: 0;
        top: 80px;
        z-index: 15;
        background: #f5f5f5 url('../libs/img/line.png') no-repeat bottom center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .header_body.active{
        background-color: #f5f5f5;
    }

    body.active{
        overflow-y: hidden;
    }
    
    .nav ul.active{
        display: flex;
        width: 480px;
        margin: 0 auto;
        height: 265px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    li.nav_list.active{
        padding-bottom: 30px;
        padding-left: 40px;
    }

    li.nav_list:hover.active{
        font-family: 'Gilroy-Bold';
    }

    li.nav_list:last-child.active{
        padding-bottom: 0;
    }

    .btn-close.active{
        display: block;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid #b3b3b3;
        height: 44px;
        width: 290px;
        margin-top: 70px;
        font-family: 'Gilroy-Medium';
        font-size: 14px;
        text-transform: uppercase;
        color: #616161;
    }

    .btn-close:hover.active{
        background-color: #ebebeb;
        box-shadow: 0px 0px 8.5px 1.5px rgba(0, 0, 14, 0.23);  
        transition: .3s;      
    }
    
    .header.active{
        position: sticky;
        z-index: 16;
    }

    .container{
        width: 480px;
    }

    a.logo{
        width: 133px;
        height: 28px;
    }

    p.hc_title{
        font-size: 28px;
    }
    
    p.hc_text{
        font-size: 16px;
        padding-top: 15px;
    }

    a.hc_btn{
        border: 2px solid white;
        padding: 10px 20px;
        font-size: 16px;
        margin-top: 30px;
    }

    .header_banner{
        width: 100%;
        height: 325px;
    }

    p.block_header{
        font-size: 26px;
    }

    .specialty_list li{
        font-size: 14px;
    }

    .advantages > .container{
        display: none;
    }

    .slider_body{
        display: flex;
    }

    .advantages{
        padding-bottom: 65px;
    }

    .advantages::before{
        content: '';
        position: absolute;
        top: -5px;
        left: 49.5%;
        transform: translateX(-49.5%);
        z-index: 10;
        width: 10px;
        height: 10px;
        border-top: 2px solid #cbcbcb;
        border-right: 2px solid #cbcbcb;
        transform: rotate(135deg);
    }

}

@media (max-width: 524px){
    .doc_title{
        font-size: 14px;
    }

    .doc_arrow{
        color: #b6b6b6;
        font-size: 17px;
    }
    
    .doc_discript{
        font-size: 13px;
    }

    .services_title{
        font-size: 16px;
        line-height: 20px;
    }

    button.next{
        width: 231px;
        height: 44px;
    }
    
    .services_list{
        padding-top: 30px;
    }
    
    .services_list li{
        font-size: 14px;
        line-height: 17px;
    }

    .services_body{
        min-height: 100vh;
        padding-bottom: 250px;
    }

    .container,
    .nav ul.active{
        width: 288px;
    }

    .nav ul.active{
        padding-left: 40px;
        align-items: flex-start;
    }

    .slider {
        width: 268px;
        height: 350px;
    }

    p.block_header{
        font-size: 18px;
    }

    .specialty_list li{
        font-size: 12px;
    }

    .specialty{
        padding: 30px 0;
    }
    
    .specialty_list{
        padding-top: 20px;
    }
    
    .specialty_list li{
        padding-bottom: 20px;
    }

    .advantages{
        padding-bottom: 30px;
    }

    p.hc_title{
        font-size: 24px;
    }
    
    p.hc_text{
        font-size: 12px;
        padding-top: 15px;
    }

    a.hc_btn{
        border: 2px solid white;
        padding: 10px 20px;
        font-size: 12px;
        margin-top: 30px;
    }

    .header-banner_content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        text-align: center;
        margin-top: 130px;
    }

    .advantages::before{
        content: '';
        position: absolute;
        top: -5px;
        left: 49.4%;
        transform: translateX(-49.4%);
        z-index: 10;
        width: 10px;
        height: 10px;
        border-top: 2px solid #cbcbcb;
        border-right: 2px solid #cbcbcb;
        transform: rotate(135deg);
    }

    .footer_body p:first-child{
        display: none;
    }
    .footer_body p:last-child{
        display: block;
        text-align: center;
    }

}