<div class="header-search">
	<div class="header-search__form">
		
		<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" aria-label="Search" class="header-search__input form-control" />
		<button type="button" class="header-search__btn search-btn"><i class="fa fa-search"></i></button>
	</div>
	<div class="live-search" style="display:none"><ul class="live-search__ul"><li class="loading"></li></ul></div>
	<div class="col-12">
	    <p><img src="/catalog/view/theme/unishop2/image/clarity_map-marker-line.png" alt="M" style="margin-right: 15px;">Москва</p>
	</div>
</div>