// main: ../style.less

.hazard{
    display: flex;
    justify-content: center;
    .hazard__container{
        margin: 0 auto;

        .hazard__wrapp{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }

        .section__title{
            margin-bottom: 50px;
        }

        .hazard__item{
            position: relative;
            width: 357px;
            height: 201px;
            margin-bottom: 170px;

            .hazard__item__body{
                position: absolute;
                width: 357px;
                height: 179px;

                &.min{
                    height: 111px;
                }
                background: rgba(255, 255, 255, 0.77);
                box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(27px);
                top: 157px;
                left: 22px;
                padding-top: 20px;
                padding-left: 17px;
                padding-right: 17px;

                p.hazard__item__title{
                    font-size: 24px;
                    font-family: @bold;
                    text-transform: uppercase;
                    color: @orange;
                }

                &.min{
                    p.hazard__item__text{
                        padding-top: 0;
                    }

                    align-items: c;
                }

                p.hazard__item__text{
                    line-height: 103%;
                    font-size: 14px;
                    padding-top: 15px;
                }
            }
        }
    }
}

@media (max-width: 1254px){
    .hazard{
        display: flex;
        justify-content: center;
        .hazard__container{
            margin: 0 auto;

            .hazard__wrapp{
                display: grid;
                grid-template-columns: 357px 357px;
                align-items: center;
                justify-content: space-around;
            }
            
        }
    }
}

@media (max-width: 840px){
    .hazard{
        .hazard__container{

            .hazard__item{
    
                .hazard__item__body{
                    left: 0;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .hazard{
        .hazard__container{
            .hazard__wrapp{
                grid-template-columns: 280px 280px;
            }

            .hazard__item{
                width: 280px;
                height: 158px;
                margin-bottom: 200px;
    
                .hazard__item__body{
                    width: 280px;
                    height: 152px;
                    top: 100%;
                    left: 0;

                    p.hazard__item__title{
                        font-size: 18px;
                        font-family: @bold;
                        text-transform: uppercase;
                        color: @orange;
                    }
    
                    p.hazard__item__text{
                        line-height: 103%;
                        font-size: 12px;
                        padding-top: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 628px){
    .hazard{
        .hazard__container{
            .hazard__wrapp{
                grid-template-columns: 280px;
            }
        }
    }
}