// main: style.less

// color

@pink: #F9E8FA;

@purple: #814684;
@purple-light: #BA8FBC;

@gray: #535353;
@gray-light: #969696;
@gray-second: #3B3B3B;
@gray-lighter: #C8C8C8;

// fonts style

@medium: "Montserrat-Medium";
@bold: "Montserrat-Bold";
@semibold: "Montserrat-SemiBold";
@regular: "Montserrat-Regular";
@extrabold: "Montserrat-ExtraBold";
@roboto: "Roboto-Regular";

// buttons

.btn{
    outline: none;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: @roboto;
    transition: background-color .3s ease-in-out;
    padding: 17px 21px;
    text-transform: uppercase;
    user-select: none;
}

@media (max-width: 1360px){
    .btn{
        padding: 13px 18px;
    }
}

@media (max-width: 1150px){
    .btn{
        font-size: 12px;
        padding: 12px 18px;
    }
}

.btn--purple{
    background-color: @purple;
    color: white;
}

.btn--purple:hover{
    background-color: @purple-light;
    transition: background-color .3s ease-out;
}

.btn--white{
    background-color: white;
    color: @gray-second;
}

.btn--white:hover{
    background-color: @gray-lighter;
    transition: background-color .3s ease-out;
}

.btn--switch{
    width: 130px;
    height: 47px;
    border-radius: 3px;
    background-color: #fff;
    border: 1.5px solid @purple;
    cursor: pointer;
    user-select: none;
    font-size: 13px;
    font-family: @medium;
    color: #535353;
    text-transform: uppercase;
}

.btn--switch--active{
    border: none;
    background-color: @pink;
    transition: .5s ease;
}

.btn--more{
    padding:  25px 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px){
    .btn--more{
        padding:  20px 15px;
        
        img{
            width: 20px;
            height: 10px;
        }
    }
}

// header

.content__header{
    color: @purple;
    font-size: 40px;
    font-family: @bold;
    line-height: 55px;
}

.content__text{
    font-size: 18px;
    font-family: @medium;
    line-height: 30px;
    color: @gray-second;
    padding-top: 20px;
}

@media (max-width: 768px){
    .content__header{
        color: @purple;
        font-size: 30px;
        font-family: @bold;
        line-height: 40px;
    }

    .content__text{
        font-size: 18px;
        font-family: @medium;
        line-height: 30px;
        color: @gray-second;
        padding-top: 20px;
    }
}



@media (max-width: 468px){
    .content__header{
        font-size: 25px;
        line-height: 30px;
    }

    .content__text{
        font-size: 16px;
        line-height: 25px;
    }
}