@import "normalize.css";
.btn {
  outline: none;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: "Roboto-Regular";
  transition: background-color 0.3s ease-in-out;
  padding: 17px 21px;
  text-transform: uppercase;
  user-select: none;
}
@media (max-width: 1360px) {
  .btn {
    padding: 13px 18px;
  }
}
@media (max-width: 1150px) {
  .btn {
    font-size: 12px;
    padding: 12px 18px;
  }
}
.btn--purple {
  background-color: #814684;
  color: white;
}
.btn--purple:hover {
  background-color: #BA8FBC;
  transition: background-color 0.3s ease-out;
}
.btn--white {
  background-color: white;
  color: #3B3B3B;
}
.btn--white:hover {
  background-color: #C8C8C8;
  transition: background-color 0.3s ease-out;
}
.btn--switch {
  width: 130px;
  height: 47px;
  border-radius: 3px;
  background-color: #fff;
  border: 1.5px solid #814684;
  cursor: pointer;
  user-select: none;
  font-size: 13px;
  font-family: "Montserrat-Medium";
  color: #535353;
  text-transform: uppercase;
}
.btn--switch--active {
  border: none;
  background-color: #F9E8FA;
  transition: 0.5s ease;
}
.btn--more {
  padding: 25px 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .btn--more {
    padding: 20px 15px;
  }
  .btn--more img {
    width: 20px;
    height: 10px;
  }
}
.content__header {
  color: #814684;
  font-size: 40px;
  font-family: "Montserrat-Bold";
  line-height: 55px;
}
.content__text {
  font-size: 18px;
  font-family: "Montserrat-Medium";
  line-height: 30px;
  color: #3B3B3B;
  padding-top: 20px;
}
.content__text__title {
  color: #3B3B3B;
  font-family: "Montserrat-Medium";
  line-height: 30px;
  font-size: 25px;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .content__header {
    font-size: 30px;
    line-height: 40px;
  }
  .content__text {
    font-size: 18px;
    line-height: 30px;
    padding-top: 20px;
  }
  .content__text__title {
    line-height: 25px;
    font-size: 22px;
    padding-bottom: 30px;
  }
}
@media (max-width: 468px) {
  .content__header {
    font-size: 25px;
    line-height: 30px;
  }
  .content__text {
    font-size: 16px;
    line-height: 25px;
  }
  .content__text__title {
    font-size: 20px;
    padding-bottom: 20px;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
body {
  font-size: 18px;
  font-family: "Montserrat-Medium";
  color: #535353;
}
img {
  user-select: none;
}
[class*="__container"] {
  width: 100%;
  padding-left: 101px;
  padding-right: 52px;
}
@media (max-width: 1280px) {
  [class*="__container"] {
    padding-left: 67px;
    padding-right: 35px;
  }
}
@media (max-width: 1110px) {
  [class*="__container"] {
    width: 100%;
    padding-left: 58px;
    padding-right: 50px;
  }
}
@media (max-width: 768px) {
  [class*="__container"] {
    width: 100%;
    padding-left: 30px;
    padding-right: 25px;
  }
}
@media (max-width: 440px) {
  [class*="__container"] {
    width: 100%;
    padding-left: 20px;
    padding-right: 15px;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
main {
  flex: 1 1 auto;
}
.header {
  display: flex;
  align-items: center;
  height: 206px;
}
.header .header__container {
  display: flex;
}
.header .header__container .header__logo {
  user-select: none;
}
.header .header__container .header__logo .btn {
  display: none;
}
.header .header__container .header__nav--mobile,
.header .header__container .header__number--mobile {
  display: none;
}
.header .header__container .header__nav {
  width: 100%;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header .header__container .header__nav .nav__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__container .header__nav .nav__contacts .contact__number__wrapper {
  display: none;
  flex-direction: column;
}
.header .header__container .header__nav .nav__contacts .contact__adress {
  width: 290px;
  height: 47px;
  background-color: #F9E8FA;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__container .header__nav .nav__contacts .contact__adress .adress__icon {
  color: #814684;
  font-size: 24px;
}
.header .header__container .header__nav .nav__contacts .contact__adress .adress__info {
  margin-left: 17px;
  line-height: 18px;
}
.header .header__container .header__nav .nav__contacts .contact__adress .adress__info p {
  color: #535353;
  font-family: "Montserrat-Medium";
  font-size: 13px;
}
.header .header__container .header__nav .nav__contacts .contact__number p {
  color: #535353;
  font-family: "Montserrat-Medium";
  font-size: 25px;
}
.header .header__container .header__nav .nav__contacts .search__wrapper {
  display: flex;
}
.header .header__container .header__nav .nav__contacts .search__wrapper .search__icons {
  width: 57px;
  height: 47px;
  background-color: #F9E8FA;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #814684;
  border-radius: 3px;
  cursor: pointer;
  /*border-radius: 3px 0 0 3px;*/
}
.header .header__container .header__nav .nav__contacts .search__wrapper .search__input {
  height: 47px;
  width: 0;
  outline: none;
  display: none;
  border: none;
  border-radius: 0 3px 3px 0;
  background-color: #F8F8F8;
  font-size: 18px;
  color: #535353;
  transition: width 0.3s ease;
}
.header .header__container .header__nav .nav__contacts .search__wrapper .search__input::-webkit-search-decoration,
.header .header__container .header__nav .nav__contacts .search__wrapper .search__input::-webkit-search-cancel-button,
.header .header__container .header__nav .nav__contacts .search__wrapper .search__input::-webkit-search-results-button,
.header .header__container .header__nav .nav__contacts .search__wrapper .search__input::-webkit-search-results-decoration {
  display: none;
}
.header .header__container .header__nav .nav__contacts .search__wrapper .search__input--anim {
  transition: width 0.3s ease;
}
.header .header__container .header__nav .nav__menu {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.header .header__container .header__nav .nav__menu .menu__item {
  font-family: "Montserrat-Bold";
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  transition: color 0.3s;
  user-select: none;
}
.header .header__container .header__nav .nav__menu .menu__item:hover {
  color: #814684;
  transition: color 0.3s;
}
.header .header__container .header__nav .nav__menu .menu__item--active {
  color: #814684;
}
@media (max-width: 1555px) {
  .header .header__container .header__nav {
    margin-left: 40px;
  }
}
@media (max-width: 1490px) {
  .header .header__container .header__nav .nav__contacts .contact__number p {
    font-size: 20px;
  }
  .header .header__container .header__nav .nav__menu {
    width: 90%;
  }
}
@media (max-width: 1366px) {
  .header .header__container .header__nav .nav__contacts .contact__number p {
    color: #535353;
    font-family: "Montserrat-Medium";
    font-size: 18px;
  }
  .header .header__container .header__nav .nav__menu .menu__item {
    font-size: 18px;
  }
}
@media (max-width: 1366px) {
  .header .header__container .header__nav .nav__contacts .contact__number p {
    color: #535353;
    font-family: "Montserrat-Medium";
    font-size: 16px;
  }
  .header .header__container .header__nav .nav__menu .menu__item {
    font-size: 16px;
  }
}
@media (max-width: 1220px) {
  .header .header__container .header__nav .nav__contacts .contact__number p {
    color: #535353;
    font-family: "Montserrat-Medium";
    font-size: 16px;
  }
  .header .header__container .header__nav .nav__contacts .contact__adress {
    width: 224px;
    height: 40px;
    background-color: #F9E8FA;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .header__container .header__nav .nav__contacts .contact__adress .adress__icon {
    color: #814684;
    font-size: 20px;
  }
  .header .header__container .header__nav .nav__contacts .contact__adress .adress__info {
    margin-left: 10px;
    line-height: 15px;
  }
  .header .header__container .header__nav .nav__contacts .contact__adress .adress__info p {
    color: #535353;
    font-family: "Montserrat-Medium";
    font-size: 11px;
  }
  .header .header__container .header__nav .nav__contacts .search__wrapper {
    display: flex;
  }
  .header .header__container .header__nav .nav__contacts .search__wrapper .search__icons {
    width: 57px;
    height: 40px;
  }
  .header .header__container .header__nav .nav__contacts .search__wrapper .search__input {
    height: 40px;
  }
  .header .header__container .header__nav .nav__menu {
    width: 95%;
  }
  .header .header__container .header__nav .nav__menu .menu__item {
    font-size: 16px;
  }
}
@media (max-width: 1220px) {
  .header .header__container .header__nav .nav__menu {
    width: 90%;
  }
  .header .header__container .header__nav .nav__menu .menu__item {
    font-size: 14px;
  }
}
@media (max-width: 1110px) {
  .header .header__container .header__nav .nav__contacts .contact__number p {
    color: #535353;
    font-family: "Montserrat-Medium";
    font-size: 14px;
  }
  .header .header__container .header__nav .nav__menu {
    width: 95%;
  }
}
@media (max-width: 991px) {
  .header .header__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 24px;
    padding-bottom: 48px;
  }
  .header .header__container .header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .header .header__container .header__logo a img {
    width: 108px;
    height: 82px;
  }
  .header .header__container .header__logo .btn {
    display: block;
    padding: 11px 15px;
    font-size: 11px;
  }
  .header .header__container .header__nav {
    display: none;
  }
  .header .header__container .header__nav--mobile {
    display: flex;
  }
  .header .header__container .header__nav--mobile .burger__wrapper {
    width: 36px;
    height: 4px;
    background-color: #3B3B3B;
    border-radius: 3px;
    position: relative;
    user-select: none;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 30px;
    z-index: 99999;
  }
  .header .header__container .header__nav--mobile .burger__wrapper::before {
    content: '';
    width: 64px;
    height: 4px;
    border-radius: 3px;
    background-color: #3B3B3B;
    left: 0;
    top: -16px;
    position: absolute;
  }
  .header .header__container .header__nav--mobile .burger__wrapper::after {
    content: '';
    width: 50px;
    height: 4px;
    border-radius: 3px;
    background-color: #3B3B3B;
    left: 0;
    bottom: -16px;
    position: absolute;
  }
  .header .header__container .header__nav--mobile .burger__wrapper.burger-active {
    position: fixed;
    width: 0;
    background-color: transparent;
    transition: transform 0.5s ease-in-out;
    right: 30px;
  }
  .header .header__container .header__nav--mobile .burger__wrapper.burger-active::after {
    width: 39px;
    bottom: 0;
    transform: rotate(45deg);
    transition: transform 0.5s ease-in;
  }
  .header .header__container .header__nav--mobile .burger__wrapper.burger-active::before {
    width: 39px;
    top: 0;
    transform: rotate(135deg);
    transition: transform 0.5s ease-out;
  }
  .header .header__container .header__nav--mobile .nav__content--mobile {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: -1000%;
    z-index: 999;
    transition: top 0.5s ease;
  }
  .header .header__container .header__nav--mobile .nav__content--mobile.mobile-active {
    transition: top 0.5s ease;
    top: 0;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
    padding-left: 46px;
    padding-right: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .contact__adress {
    width: 290px;
    height: 47px;
    background-color: #F9E8FA;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .contact__adress .adress__icon {
    color: #814684;
    font-size: 24px;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .contact__adress .adress__info {
    margin-left: 17px;
    line-height: 18px;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .contact__adress .adress__info p {
    color: #535353;
    font-family: "Montserrat-Medium";
    font-size: 13px;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .contact__number--mob {
    margin-top: 20px;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .contact__number--mob p {
    color: #535353;
    font-family: "Montserrat-Medium";
    font-size: 25px;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .search__wrapper {
    display: flex;
    margin-top: 20px;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .search__wrapper .search__icons {
    width: 57px;
    height: 47px;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #535353;
    cursor: pointer;
    border-radius: 3px 0 0 3px;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .search__wrapper .search__icons .img-svg path {
    fill: #535353;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .search__wrapper .search__input {
    height: 47px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0 3px 3px 0;
    background-color: #F8F8F8;
    font-size: 18px;
    color: #535353;
    transition: width 0.3s ease;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .search__wrapper .search__input::-webkit-search-decoration,
  .header .header__container .header__nav--mobile .nav__content__wrapper .search__wrapper .search__input::-webkit-search-cancel-button,
  .header .header__container .header__nav--mobile .nav__content__wrapper .search__wrapper .search__input::-webkit-search-results-button,
  .header .header__container .header__nav--mobile .nav__content__wrapper .search__wrapper .search__input::-webkit-search-results-decoration {
    display: none;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .nav__menu {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .nav__menu .menu__item {
    margin-bottom: 25px;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .nav__menu .menu__item a {
    font-family: "Montserrat-Bold";
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    transition: color 0.3s;
    user-select: none;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .nav__menu .menu__item a:hover {
    color: #814684;
    transition: color 0.3s;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .nav__menu .menu__item--active a {
    color: #814684;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .nav__menu .menu__item--active .menu__item__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .nav__menu .menu__item--active .menu__item__list .item__list {
    font-size: 16px;
    font-family: "Montserrat-Medium";
    color: #555;
    text-transform: none;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .nav__menu .menu__item--active .menu__item__list .item__list--active {
    color: #814684;
  }
  .header .header__container .header__number--mobile {
    display: flex;
    width: 58px;
    height: 53px;
    background-color: #F9E8FA;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
  }
  .header .header__container .header__number--mobile img {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 660px) {
  .header .header__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 24px;
    padding-bottom: 48px;
  }
  .header .header__container .header__logo a img {
    width: 107px;
    height: 82px;
  }
  .header .header__container .header__nav--mobile {
    display: flex;
  }
  .header .header__container .header__nav--mobile .burger__wrapper {
    width: 21px;
    height: 2.86px;
    background-color: #3B3B3B;
    border-radius: 3px;
    position: relative;
    user-select: none;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 30px;
    z-index: 99999;
  }
  .header .header__container .header__nav--mobile .burger__wrapper::before {
    content: '';
    width: 40px;
    height: 2.86px;
    border-radius: 3px;
    background-color: #3B3B3B;
    left: 0;
    top: -13px;
    position: absolute;
  }
  .header .header__container .header__nav--mobile .burger__wrapper::after {
    content: '';
    width: 34px;
    height: 2.86px;
    border-radius: 3px;
    background-color: #3B3B3B;
    left: 0;
    bottom: -13px;
    position: absolute;
  }
  .header .header__container .header__number--mobile {
    display: flex;
    width: 38px;
    height: 33px;
    background-color: #F9E8FA;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
  }
  .header .header__container .header__number--mobile img {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 450px) {
  .header .header__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 24px;
    padding-bottom: 48px;
  }
  .header .header__container .header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .header .header__container .header__logo a img {
    width: 108px;
    height: 82px;
  }
  .header .header__container .header__logo .btn {
    display: block;
    padding: 11px 15px;
    font-size: 11px;
  }
  .header .header__container .header__nav {
    display: none;
  }
  .header .header__container .header__nav--mobile {
    display: flex;
  }
  .header .header__container .header__nav--mobile .burger__wrapper {
    width: 21px;
    height: 2.86px;
    background-color: #3B3B3B;
    border-radius: 3px;
    position: relative;
    user-select: none;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 30px;
    z-index: 99999;
  }
  .header .header__container .header__nav--mobile .burger__wrapper::before {
    content: '';
    width: 40px;
    height: 2.86px;
    border-radius: 3px;
    background-color: #3B3B3B;
    left: 0;
    top: -13px;
    position: absolute;
  }
  .header .header__container .header__nav--mobile .burger__wrapper::after {
    content: '';
    width: 34px;
    height: 2.86px;
    border-radius: 3px;
    background-color: #3B3B3B;
    left: 0;
    bottom: -13px;
    position: absolute;
  }
  .header .header__container .header__nav--mobile .nav__content--mobile {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: -1000%;
    z-index: 999;
    transition: top 0.5s ease;
  }
  .header .header__container .header__nav--mobile .nav__content--mobile.mobile-active {
    top: 0;
    transition: top 0.5s ease;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper {
    width: 100%;
    padding: 20px;
    position: relative;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .contact__adress {
    width: 250px;
    height: 47px;
    background-color: #F9E8FA;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .contact__adress .adress__icon {
    color: #814684;
    font-size: 24px;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .contact__adress .adress__info {
    margin-left: 10px;
    line-height: 15px;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .contact__adress .adress__info p {
    color: #535353;
    font-family: "Montserrat-Medium";
    font-size: 11px;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .contact__number {
    margin-top: 20px;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .contact__number p {
    color: #535353;
    font-family: "Montserrat-Medium";
    font-size: 25px;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .nav__menu {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .nav__menu .menu__item {
    margin-bottom: 25px;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .nav__menu .menu__item a {
    font-family: "Montserrat-Bold";
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    transition: color 0.3s;
    user-select: none;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .nav__menu .menu__item a:hover {
    color: #814684;
    transition: color 0.3s;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .nav__menu .menu__item--active a {
    color: #814684;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .nav__menu .menu__item--active .menu__item__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .nav__menu .menu__item--active .menu__item__list .item__list {
    font-size: 16px;
    font-family: "Montserrat-Medium";
    color: #555;
    text-transform: none;
  }
  .header .header__container .header__nav--mobile .nav__content__wrapper .nav__menu .menu__item--active .menu__item__list .item__list--active {
    color: #814684;
  }
  .header .header__container .header__number--mobile {
    display: flex;
    width: 38px;
    height: 33px;
    background-color: #F9E8FA;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
  }
  .header .header__container .header__number--mobile img {
    width: 15px;
    height: 15px;
  }
}
.intro {
  width: 100%;
  padding: 25px 0;
  background-color: #F9E8FA;
}
.intro .intro__container {
  display: flex;
  align-items: center;
}
.intro .intro__container .intro__content {
  width: 700px;
}
.intro .intro__container .intro__content .intro__header {
  font-size: 35px;
  font-family: "Montserrat-SemiBold";
  text-transform: uppercase;
  color: #000;
  line-height: 55px;
}
.intro .intro__container .intro__content .intro__price {
  font-size: 42px;
  font-family: "Montserrat-Medium";
  color: #535353;
  margin-top: 25px;
  margin-bottom: 50px;
}
.intro .intro__container .intro__image {
  margin-left: 300px;
}
@media (max-width: 1650px) {
  .intro .intro__container .intro__image {
    margin-left: 150px;
  }
}
@media (max-width: 1520px) {
  .intro .intro__container {
    justify-content: space-between;
  }
  .intro .intro__container .intro__image {
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  .intro .intro__container {
    flex-direction: column-reverse;
  }
  .intro .intro__container .intro__content {
    width: 500px;
    margin-top: 50px;
  }
  .intro .intro__container .intro__image {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .intro .intro__container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .intro .intro__container .intro__content {
    width: 100%;
  }
  .intro .intro__container .intro__content .intro__header {
    font-size: 25px;
    font-family: "Montserrat-SemiBold";
    text-transform: uppercase;
    color: #000;
    line-height: 40px;
  }
  .intro .intro__container .intro__content .intro__price {
    font-size: 37px;
    font-family: "Montserrat-Medium";
    color: #535353;
    margin-top: 25px;
    margin-bottom: 50px;
  }
  .intro .intro__container .intro__image img {
    width: 314px;
    height: 215px;
  }
}
@media (max-width: 370px) {
  .intro .intro__container .intro__image img {
    width: 280px;
    height: 190px;
  }
}
.pagination {
  width: 100%;
  background-color: #fff;
  margin-top: 30px;
  user-select: none;
}
.pagination .pagination__container {
  display: flex;
}
.pagination .pagination__container .pagination__links {
  color: #814684;
  font-size: 15px;
  font-family: "Montserrat-Medium";
  padding-right: 13px;
}
.pagination .pagination__container .pagination__links::after {
  content: '/';
  padding-left: 13px;
}
.pagination .pagination__container .pagination__links:last-child {
  color: #969696;
}
.pagination .pagination__container .pagination__links:last-child::after {
  content: '';
}
.content {
  padding: 45px 0;
  background-color: #fff;
}
.content .content__container .content__blog {
  width: 60%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.content .content__container .content__blog:last-child {
  margin-bottom: 0;
}
.content .content__container .content__blog .content__text__flow-around .content__image {
  float: left;
  margin-top: 20px;
  padding-right: 20px;
}
.content .content__container .content__blog .content__text__flow-around .content__image img {
  user-select: none;
}
.content__image__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (max-width: 1897px) {
  .content .content__container .content__blog {
    width: 80%;
  }
}
@media (max-width: 991px) {
  .content .content__container .content__blog {
    width: 100%;
  }
  .content .content__container .content__blog .content__image {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .content .content__container .content__blog .content__image .content__text {
    padding-top: 20px;
    margin-left: 0;
  }
  .content .content__container .content__blog .content__image .content__text .content__text {
    padding-top: 20px;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .content .content__container .content__blog .content__image {
    padding-bottom: 20px;
  }
  .content .content__container .content__blog .content__header {
    color: #814684;
    font-size: 30px;
    font-family: "Montserrat-Bold";
    line-height: 40px;
  }
  .content .content__container .content__blog .content__text {
    font-size: 18px;
    font-family: "Montserrat-Medium";
    line-height: 30px;
    color: #3B3B3B;
    padding-top: 20px;
  }
}
@media (max-width: 468px) {
  .content .content__container .content__blog .content__header {
    font-size: 25px;
    line-height: 30px;
  }
  .content .content__container .content__blog .content__text {
    font-size: 16px;
    line-height: 25px;
  }
  .content .content__container .content__blog .content__image img {
    width: 100%;
    height: 80%;
  }
}
.content__blog .services__wrapper {
  width: 1065px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  row-gap: 20px;
}
.content__blog .services__wrapper .services__item {
  width: 329px;
  height: 248px;
  border-radius: 3px;
  border: 1px solid #E3E3E3;
  padding: 20px 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: url('../img/content/services-item-bg.png') no-repeat;
}
.content__blog .services__wrapper .services__item .services__item__header {
  font-size: 20px;
  font-family: "Montserrat-SemiBold";
  color: #535353;
}
.content__blog .services__wrapper .services__item .services__item__price {
  font-size: 20px;
  font-family: "Montserrat-ExtraBold";
  color: #535353;
}
@media (max-width: 1280px) {
  .content__blog .services__wrapper {
    width: 100%;
    justify-content: flex-start;
    row-gap: 20px;
    column-gap: 20px;
  }
  .content__blog .services__wrapper .services__item {
    width: 293px;
    height: 221px;
  }
  .content__blog .services__wrapper .services__item .services__item__header {
    font-size: 18px;
  }
  .content__blog .services__wrapper .services__item .services__item__price {
    font-size: 18px;
  }
}
@media (max-width: 666px) {
  .content__blog .services__wrapper {
    justify-content: center;
  }
}
/* @media (max-width: 768px){
    .content__blog{
    
        .services__wrapper{
            justify-content: center;
    
            .services__item{
                width: 293px;
                height: 221px;
                align-items: center;
                text-align: center;

                .services__item__header{
                    font-size: 18px;
                }
    
                .services__item__price{
                    font-size: 18px;
                }
            }
        }
    }
} */
.experts__body {
  min-width: 235px;
  max-width: 235px;
  height: 414px;
  background-color: #F8F8F8;
  padding: 22px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.experts__body .experts__images {
  width: fit-content;
  height: fit-content;
  user-select: none;
}
.experts__body .experts__images img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 147px;
  height: 147px;
  border-radius: 50%;
}
.experts__body .experts__name {
  font-size: 18px;
  font-family: "Montserrat-SemiBold";
  color: #535353;
  line-height: 25px;
}
.experts__body .experts__spec {
  font-size: 18px;
  font-family: "Montserrat-Regular";
  color: #535353;
  line-height: 25px;
}
.experts__wrapper {
  margin-top: 40px;
  position: relative;
  height: fit-content;
  width: 1190px;
}
.experts__wrapper .owl-carousel {
  width: 100%;
  display: flex;
  justify-content: center;
}
.experts__wrapper .owl-carousel .owl-stage-outer {
  width: 95%;
  margin: 0 auto;
  position: relative;
}
.experts__wrapper .owl-nav {
  position: absolute;
  width: 100%;
  height: 0px;
  top: 40%;
  z-index: 999;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1300px) {
  .experts__wrapper {
    width: 100%;
  }
}
@media (max-width: 1280px) {
  .experts__wrapper .owl-carousel .owl-stage-outer {
    width: calc(100% - 80px);
  }
}
@media (max-width: 1023px) {
  .experts__wrapper .owl-carousel .owl-stage-outer {
    width: 80%;
  }
}
@media (max-width: 1023px) {
  .experts__wrapper .owl-carousel .owl-stage-outer {
    width: 85%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .experts__wrapper .owl-carousel .owl-stage-outer {
    width: 250px;
    margin: 0 auto;
  }
}
.prices {
  background-color: #F8F8F8;
  padding: 40px 0;
}
.prices .prices__container .prices__switch__button {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  gap: 16px;
}
.services__item {
  display: flex;
  height: fit-content;
  align-items: center;
  margin-bottom: 25px;
}
.services__item .btn {
  margin-left: 40px;
}
.services__item:last-child .services__item__info::after {
  content: '';
  width: 0;
  height: 0;
}
.services__item .services__item__info {
  display: flex;
  justify-content: space-between;
  width: 877px;
  height: 50px;
  position: relative;
}
.services__item .services__item__info::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #9A9A9A;
}
.services__item .services__item__info .services__item__name {
  font-size: 18px;
  font-family: "Montserrat-Medium";
  color: #535353;
}
.services__item .services__item__info .services__item__price {
  font-family: "Montserrat-Bold";
}
@media (max-width: 640px) {
  .services__item {
    height: fit-content;
  }
  .services__item .services__item__info {
    justify-content: center;
    width: 80%;
    flex-direction: column;
    height: 100px;
  }
  .services__item .services__item__info .services__item__price {
    padding-top: 20px;
  }
}
@media (max-width: 480px) {
  .services__item {
    flex-direction: column;
    height: fit-content;
  }
  .services__item .btn {
    align-self: center;
    margin-left: 10px;
  }
  .services__item .services__item__info {
    justify-content: center;
    text-align: center;
    width: 80%;
    flex-direction: column;
    height: 100px;
  }
  .services__item .services__item__info::after {
    content: '';
    width: 0;
    height: 0;
  }
  .services__item .services__item__info .services__item__price {
    padding-top: 20px;
  }
}
.banner {
  padding: 35px 0;
  background-color: #F9E8FA;
}
.banner .banner__container .banner__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
}
.banner .banner__container .banner__content .banner__text {
  font-family: "Montserrat-Regular";
  font-size: 25px;
  color: #000;
}
.banner .banner__container .banner__content .banner__contact {
  font-family: "Montserrat-Medium";
  font-size: 25px;
  color: #000;
}
@media (max-width: 1440px) {
  .banner .banner__container .banner__content {
    width: 90%;
  }
}
@media (max-width: 1360px) {
  .banner .banner__container .banner__content {
    width: 100%;
  }
}
@media (max-width: 1280px) {
  .banner .banner__container .banner__content .banner__text {
    font-family: "Montserrat-Regular";
    font-size: 22px;
    color: #000;
  }
  .banner .banner__container .banner__content .banner__contact {
    font-family: "Montserrat-Medium";
    font-size: 22px;
    color: #000;
  }
}
@media (max-width: 991px) {
  .banner .banner__container .banner__content .banner__text {
    font-family: "Montserrat-Regular";
    font-size: 20px;
    color: #000;
  }
  .banner .banner__container .banner__content .banner__contact {
    font-family: "Montserrat-Medium";
    font-size: 20px;
    color: #000;
  }
}
@media (max-width: 888px) {
  .banner .banner__container .banner__content {
    flex-direction: column;
  }
  .banner .banner__container .banner__content .banner__text {
    padding-bottom: 20px;
  }
  .banner .banner__container .banner__content .banner__contact {
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .banner .banner__container .banner__content {
    text-align: center;
  }
  .banner .banner__container .banner__content .banner__text {
    font-size: 18px;
  }
  .banner .banner__container .banner__content .banner__contact {
    font-size: 18px;
  }
}
.benefits__container {
  margin-bottom: 50px;
}
.benefits {
  width: 1065px;
  background-color: #F9E8FA;
  padding: 50px 0;
}
.benefits .content__header {
  text-align: center;
}
.benefits .benefits__wrapper {
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}
.benefits .benefits__wrapper .benefits--col {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-left: 40px;
}
.benefits .benefits__wrapper .benefits--col:first-child {
  margin-left: 0;
}
.benefits .benefits__wrapper .benefits--col .benefits__items {
  display: flex;
  align-items: center;
}
.benefits .benefits__wrapper .benefits--col .benefits__items:last-child {
  padding-bottom: 0;
}
.benefits .benefits__wrapper .benefits--col .benefits__items img {
  user-select: none;
}
.benefits .benefits__wrapper .benefits--col .benefits__items .benefits__text {
  font-size: 16px;
  color: #3B3B3B;
  font-family: "Montserrat-SemiBold";
  text-transform: uppercase;
  margin-left: 20px;
}
@media (max-width: 1200px) {
  .benefits__container {
    padding: 0;
  }
  .benefits {
    width: 100%;
  }
}
@media (max-width: 870px) {
  .benefits .benefits__wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 15px;
  }
  .benefits .benefits__wrapper .benefits--col {
    margin-left: 0;
    margin-top: 20px;
  }
}
.license {
  padding: 25px 0;
  background-color: #F8F8F8;
}
.license .license__container .license__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.license .license__container .license__wrapper .license__image {
  display: flex;
  padding: 0 87px;
}
.license .license__container .license__wrapper .license__image img:first-child {
  padding-right: 20px;
}
.license .license__container .license__wrapper .license__text {
  width: 777px;
}
@media (max-width: 996px) {
  .license .license__container .license__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .license .license__container .license__wrapper .license__image {
    margin-top: 20px;
  }
  .license .license__container .license__wrapper .license__text {
    width: 100%;
  }
  .license .license__container .license__wrapper .license__text .content__text {
    text-align: center;
  }
  .license .license__container .license__wrapper .license__text .content__header {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .license .license__container .license__wrapper .license__image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .license .license__container .license__wrapper .license__image img {
    padding-top: 40px;
  }
  .license .license__container .license__wrapper .license__image img:first-child {
    padding-right: 0;
  }
}
.footer {
  width: 100%;
  background-color: #333;
  padding-top: 30px;
  padding-bottom: 55px;
}
.footer .footer__container .footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.footer .footer__container .footer__contacts .footer__contacts__wrapper {
  display: flex;
  gap: 70px;
}
.footer .footer__container .footer__contacts .footer__contacts__wrapper .contact__number__fut {
  font-size: 25px;
  font-family: "Montserrat-Medium";
  color: #FFFFFF;
}
.footer .footer__container .footer__contacts .footer__contacts__wrapper .contact__adress {
  display: flex;
  align-items: center;
}
.footer .footer__container .footer__contacts .footer__contacts__wrapper .contact__adress .adress__info {
  margin-left: 17px;
  color: #FFFFFF;
  font-size: 13px;
  font-family: "Montserrat-Medium";
  line-height: 20px;
}
.footer .footer__container .footer__menu {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  user-select: none;
  flex-wrap: wrap;
}
.footer .footer__container .footer__menu .menu__item {
  color: #FFFFFF;
  font-family: "Montserrat-Bold";
  font-size: 20px;
}
.footer .footer__container .footer__menu .menu__item:hover {
  color: #814684;
  transition: 0.3s ease;
}
.footer .footer__container .footer__menu .menu__item--active {
  color: #814684;
}
.footer .footer__container .footer__copyright {
  margin-top: 50px;
}
.footer .footer__container .footer__copyright p {
  color: #C8C8C8;
  font-size: 15px;
  font-family: "Montserrat-Medium";
  line-height: 25px;
}
.footer .footer__container .footer__copyright p a {
  color: #814684;
}
.footer .footer__container .footer__copyright p span {
  padding-left: 200px;
}
@media (max-width: 1480px) {
  .footer .footer__container .footer__copyright p span {
    padding-left: 125px;
  }
}
@media (max-width: 1400px) {
  .footer .footer__container .footer__contacts .footer__contacts__wrapper:first-child {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .footer .footer__container .footer__contacts .footer__contacts__wrapper .contact__number__fut {
    font-size: 22px;
  }
  .footer .footer__container .footer__menu {
    width: 80%;
  }
  .footer .footer__container .footer__menu .menu__item {
    font-size: 16px;
  }
}
@media (max-width: 1405px) {
  .footer .footer__container .footer__copyright p span {
    padding-left: 75px;
  }
}
@media (max-width: 1360px) {
  .footer .footer__container .footer__copyright p:first-child {
    display: flex;
    flex-direction: column;
  }
  .footer .footer__container .footer__copyright p:first-child span {
    padding-left: 0;
  }
}
@media (max-width: 991px) {
  .footer .footer__container .footer__contacts .footer__contacts__wrapper:last-child {
    flex-direction: column;
    gap: 20px;
  }
  .footer .footer__container .footer__menu {
    width: 100%;
  }
}
@media (max-width: 730px) {
  .footer .footer__container {
    display: flex;
    flex-direction: column;
  }
  .footer .footer__container .footer__contacts {
    flex-direction: column;
    order: 3;
  }
  .footer .footer__container .footer__menu {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    order: 1;
    margin-top: 0;
  }
  .footer .footer__container .footer__copyright {
    order: 2;
    text-align: center;
    padding-bottom: 50px;
  }
}
