@import "normalize.css";
@import "fonts.css";
/*
	font-family: "Lato-Regular", sans-serif;
	font-family: "Lato-Black", sans-serif;
	font-family: "Lato-Italic", sans-serif;
	font-family: "Lato-Bold", sans-serif;
	font-family: "PlayfairDisplay-Regular", serif;
	font-family: "PlayfairDisplay-Italic", serif;
*/
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
    font-family: "Lato-Regular", sans-serif;
	font-size: 16px;
	background-color: white;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}
.wrapper{
    overflow: hidden;
}
/*================================*/
p.title{
	font-family: "PlayfairDisplay-Regular", serif;
	color: black;
}
p.title-italic{
	font-family: "PlayfairDisplay-Italic", serif;
	color: black;
	font-size: 40px;
}
p.discription{
	color: #999999;
	font-family: "Lato-Regular", sans-serif;
	font-size: 16px;
}
p.discription-italic{
	color: #999999;
	font-family: "Lato-Italic", sans-serif;
	font-size: 16px;
}
/*
	font-family: "Lato-Regular", sans-serif;
	font-family: "Lato-Black", sans-serif;
	font-family: "Lato-Italic", sans-serif;
	font-family: "Lato-Bold", sans-serif;
	font-family: "PlayfairDisplay-Regular", serif;
	font-family: "PlayfairDisplay-Italic", serif;
*/
.container{
	width: 100%;
	max-width: 1483px;
	padding: 0 20px;
	margin: 0 auto;
}
/*================================*/
.header{
	display: flex;
	width: 100%;
	min-height: 710px;
	position: relative;
}
.header__nav{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 92px;
}
.header__menu{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 426px;
}
.header__menu a.menu__link{
	text-transform: uppercase;
	font-size: 15px;
	font-family: "Lato-Bold", sans-serif;
	color: #999999;
	transition: .3s ease;
}
.header__menu a.menu__link:first-child, .header__menu a.menu__link:hover{
	font-family: "Lato-Black", sans-serif;
	color: #000;
	transition: .6s ease;
}
.header__text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	line-height: 1.875;
}
.header__text p.title{
	font-size: 70px;
}

/*-------- Burger -------*/

.header__burger__wrapper{
	display: none;
}
.header__burger{
	position: relative;
	width: 30px;
	height: 3px;
	background: black;
	border-radius: 3px;
}
.header__burger::after{
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	top: 6px;
	background: black;
	border-radius: 3px;
}
.header__burger::before{
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	bottom: 6px;
	background: black;
	border-radius: 3px;
}

/*-----------------------*/
/*================================*/