.about-us{
    position: relative;
    z-index: 10;
}

.about-us__images{
    z-index: 5;
    width: vw(777);
    height: vw(906);
    position: absolute;
    left: 0;
    top: vw(150);

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about-us__container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 20;
}

p.about-us__header{
    font-size: vw(36);
    font-family: $DTW-Bold;
    text-align: center;
    text-transform: uppercase;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.79) 0%, rgba(255, 255, 255, 0.26) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

p.about-us__title{
    font-size: vw(44);
    font-family: $DTW-Bold;
    text-align: center;
    color: white;
    line-height: 120%;
    margin-top: vw(30);
}

.about-us__content{
    margin-top: vw(90);
    align-self: flex-end;
    display: grid;
    grid-template-columns: vw(372) vw(372);
    column-gap: vw(90);
    row-gap: vw(70);
}

.as__content__item{
    display: flex;
    flex-direction: column;
    width: vw(372);
    
    p.as__item__title{
        font-family: $DTW-Bold;
        font-size: vw(24);
        color: white;
        line-height: 120%;
    }

    .as__item__line{
        margin: vw(12) 0;
        width: vw(140);
        height: vw(5);
        background: rgba(255, 255, 255, 0.08);
        box-shadow: 0px vw(51) vw(74) rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(vw(4));
        border-radius: vw(12);
        position: relative;

        &::before{
            content: '';
            position: absolute;
            inset: 0;
            border-radius: vw(12);
            padding: vw(1);
            background:linear-gradient(179.22deg, rgba(175, 253, 255, 0) 0.7%, #AFFDFF 52.82%, rgba(175, 253, 255, 0) 100.77%),
            linear-gradient(89.92deg, rgba(175, 253, 255, 0) -1.09%, #AFFDFF 51.52%, rgba(175, 253, 255, 0) 99.92%);
            -webkit-mask: 
                linear-gradient(white 0 0) content-box, 
                linear-gradient(white 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }    
    }

    p.as__item__text{
        font-family: $MS-Regular;
        font-size: vw(16);
        color: white;
        line-height: 140%;
    }
}

@media (max-width: 990px){
    p.about-us__header{
        font-size: vmin(24);
    }
    
    p.about-us__title{
        font-size: vmin(16);
        margin-top: vmin(25);
    }

    .as__content__item{
        width: vmin(285);

        &:last-child{

            p.as__item__text{
                width: vmin(150);
            }

            p.as__item__title{
                width: vmin(180);
            }
        }
        
        p.as__item__title{
            font-size: vmin(14);
        }
    
        .as__item__line{
            margin: vmin(10) 0;
            width: vmin(100);
            height: vmin(3.6);
            box-shadow: 0px vmin(51) vmin(74) rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(vmin(4));
            border-radius: vmin(12);
    
            &::before{
                border-radius: vmin(12);
                padding: vmin(1);
            }    
        }
    
        p.as__item__text{
            font-size: vmin(13);
        }
    }

    .about-us__content{
        margin-top: vmin(35);
        align-self: center;
        display: flex;
        grid-template-columns: none;
        flex-direction: column;
        column-gap: 0;
        row-gap: vmin(40);
    }

    .about-us{
        margin-bottom: vmin(200);
    }

    .about-us__images{
        z-index: 5;
        width: vmin(511);
        height: vmin(511);
        position: absolute;
        left: vmin(-10);
        top: vmin(550);
    
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}