.build-work{
    position: relative;
    z-index: 10;
}

.build-work__container{
    margin: 0 auto;
}

p.bw__title{
    font-size: vw(44);
    color: white;
    line-height: 120%;
    font-family: $DTW-Bold;
    text-align: center;
}

.bw__wrapp{
    margin-top: vw(90);
    display: grid;
    grid-template-columns: vw(391) vw(391);
    justify-content: space-between;
    z-index: 20;
    position: relative;
    row-gap: vw(40);
}

.bw__item{
    position: relative;

    p.bw__item__text{
        position: relative;
        color: white;
        line-height: 120%;
        font-family: $MS-Regular;
        font-size: vw(20);
        padding-top: vw(85);
        padding-left: vw(95);

        &::before{
            content: '';
            position: absolute;
            width: vw(15);
            height: vw(15);
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
            left: vw(58);
            background: linear-gradient(180deg, #00FFFF 0%, #249396 100%);
            box-shadow: 0px 0px vw(30) #AFFDFF;
        }
    }

    .bw__item__number{
        position: absolute;
        top: 0;
        left: 0;
        font-size: vw(144);
        font-family: $DC-Medium;
        color: rgba($color: #fff, $alpha: 0.04);
        user-select: none;
    }

    &:nth-child(2){
        grid-area: 2/1;
    }

    &:nth-child(3){
        grid-area: 3/1;
    }
}

.bw__images{
    position: absolute;
    width: vw(620);
    height: vw(763);
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 990px){
    p.bw__title{
        font-size: vmin(16);
    }
    
    .bw__wrapp{
        margin-top: vmin(30);
        display: flex;
        grid-template-columns: none;
        justify-content: none;
        flex-direction: column;
        z-index: 20;
        position: relative;
        row-gap: vmin(15);
    }

    .bw__item{
        position: relative;
    
        p.bw__item__text{
            font-size: vmin(13);
            padding-top: vmin(35);
            padding-left: vmin(48);

            &::before{
                content: '';
                position: absolute;
                width: vmin(7.72);
                height: vmin(7.72);
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);
                left: vmin(20);
                background: linear-gradient(180deg, #00FFFF 0%, #249396 100%);
                box-shadow: 0px 0px vmin(30) #AFFDFF;
            }
        }
    
        .bw__item__number{
            font-size: vmin(72);
        }
    }

    .build-work{
        margin-bottom: vmin(332);
    }

    .bw__images{
        width: vmin(250);
        height: vmin(312);
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}