.footer{
    padding: vw(40) 0;
    background: linear-gradient(180deg, rgba(40, 40, 40, 0.28) 0%, rgba(40, 40, 40, 0.1036) 100%);
    backdrop-filter: blur(14px);

    .footer__container{
        display: flex;
        flex-direction: column;
    }
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: vw(30);

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: vw(1);
        background-color: rgba($color: #fff, $alpha: 0.27);
        bottom: 0;
    }
}

.footer__social{
    display: flex;
    align-items: center;

    a.footer__social__item{
        margin-left: vw(30);
        width: vw(48);
        height: vw(48);

        &:first-child{
            margin-left: 0;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

a.footer__politics{
    font-size: vw(18);
    font-family: $MS-Light;
    color: rgba($color: #fff, $alpha: 0.65);
    user-select: none;
}

.footer__logo{
    width: vw(185);
    height: vw(52);
    a{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.footer__copyright{
    display: flex;
    align-items: center;
    margin-top: vw(20);
    
    .copyright__svg{
        width: vw(20);
        height: vw(20);

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    p{
        padding-left: vw(10);
        font-size: vw(16);
        font-family: $MS-Light;
        color: rgba($color: #fff, $alpha: 0.65);
        user-select: none;
    }
}

@media (max-width: 990px){
    .footer{
        padding: vmin(40) 0;
        background: linear-gradient(180deg, rgba(40, 40, 40, 0.28) 0%, rgba(40, 40, 40, 0.1036) 100%);
        backdrop-filter: blur(14px);
    
        .footer__container{
            display: flex;
            flex-direction: column;
        }
    }
    
    .footer__wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        padding-bottom: vmin(15);

        &::after{
            height: vmin(1);
        }
    }

    .footer__logo{
        display: none;
    }

    .footer__copyright{
        display: flex;
        align-self: center;
        margin-top: vmin(13);
        
        .copyright__svg{
            width: vmin(20);
            height: vmin(20);
    
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    
        p{
            padding-left: vmin(10);
            font-size: vmin(13);
            font-family: $MS-Light;
            color: rgba($color: #fff, $alpha: 0.65);
            user-select: none;
        }
    }

    .footer__social{
        padding-bottom: vmin(25);
    
        a.footer__social__item{
            margin-left: vmin(30);
            width: vmin(48);
            height: vmin(48);
    
            &:first-child{
                margin-left: 0;
            }
    
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    a.footer__politics{
        font-size: vmin(13);
        font-family: $MS-Light;
        color: rgba($color: #fff, $alpha: 0.65);
        user-select: none;
    }    
}