.header{
    width: 100%;
    height: vw(111);
    display: flex;
    align-items: center;
    z-index: 5;
    background: linear-gradient(180deg, rgba(40, 40, 40, 0.28) 0%, rgba(40, 40, 40, 0.1036) 100%);
    backdrop-filter: blur(14px);

    .header__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header__logo{
    width: vw(227);
    height: vw(64);

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header__menu{
    .header__burger{
        width: vw(46);
        height: vw(32);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-right: vw(40);
        cursor: pointer;

        span{
            width: 100%;
            height: vw(4);
            background-color: #fff;
            border-radius: vw(5);
        }
    }
}

.header__contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: vw(125);

    a.header__number{
        font-family: $DTW-Medium;
        color: #fff;
        font-size: vw(20);
    }

    p.header__schedule{
        color: rgba($color: #fff, $alpha: 0.8);
        font-size: vw(14);
        font-family: $MS-Light;
        padding-top: vw(10);
    }
}

.header__where{
    display: flex;
    align-items: center;

    .header__map{
        width: vw(91);
        height: vw(47);
        filter: drop-shadow(0px 0px vw(12) #00FFFF);

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    p{
        padding-left: vw(10);
        font-size: vw(14);
        font-family: $MS-Regular;
        color: rgba($color: #fff, $alpha: 0.8);
        line-height: vw(20);
    }
}

// ==================================

.header__nav.menu__active{
    display: flex;
}

.header__nav{
    position: absolute;
    width: vw(294);
    height: vw(344);
    background: rgba($color: #505050, $alpha: 0.5);
    box-shadow: 0px vw(51) vw(74) rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(vw(24));
    border-radius: vw(41);
    right: vw(250);
    top: calc(100% + vw(15));
    display: none;
    justify-content: center;
    padding: vw(40) 0;
    z-index: 10;

    &::before{
        content: '';
        position: absolute;
        inset: 0;
        border-radius: vw(41);
        padding: vw(1);
        background: linear-gradient(179.22deg, rgba(175, 253, 255, 0) 0.7%, #AFFDFF 52.82%, rgba(175, 253, 255, 0) 100.77%),
        linear-gradient(89.92deg, rgba(175, 253, 255, 0) -1.09%, #AFFDFF 51.52%, rgba(175, 253, 255, 0) 99.92%);
        -webkit-mask: 
            linear-gradient(white 0 0) content-box, 
            linear-gradient(white 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
    
    ul.nav__list{
        z-index: 15;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        
        &::after{
            content: '';
            position: absolute;
            height: 100%;
            width: vw(2);
            left: vw(-30);
            background-color: rgba($color: #fff, $alpha: 0.16);
            border-radius: 50%;
        }

        li.nav__item{
            position: relative;
        
            &::after{
                content: '';
                position: absolute;
                top: 40%;
                height: vw(9);
                width: vw(30);
                background: radial-gradient(50% 50% at 50% 50%, rgba(0, 255, 255, 0.94433) 3.12%, #00FFFF 6.77%, rgba(0, 255, 255, 0.814433) 15.62%, rgba(0, 255, 255, 0.34) 25%, rgba(0, 255, 255, 0.1) 50.52%, rgba(0, 255, 255, 0) 97.92%);;
                left: vw(-44);
                border-radius: 50%;
                transform: rotate(-90deg);
            }

            a.nav__link{
                color: white;
                font-family: $MS-Medium;
                font-size: vw(22);
                user-select: none;
            }
        }
    }
}

// ==================================

@media (max-width: 990px){
    .header{
        height: vmin(121);
        padding-top: vmin(25);
    
        .header__container{

            .btn{
                display: none;
            }
        }
    }

    .header__where{
        display: none;
    }

    .header__logo{
        width: vmin(108);
        height: vmin(31);

    }

    .header__menu{
        .header__burger{
            width: vmin(25);
            height: vmin(21);
            margin-right: 0;
            cursor: pointer;
    
            span{
                width: 100%;
                height: vmin(1.8);
                background-color: #fff;
                border-radius: vmin(3);
            }
        }
    }

    .header__contacts{
        margin-left: 0;
        a.header__number{
            font-size: vmin(15);
        }
    
        p.header__schedule{
            font-size: vmin(11);
            padding-top: vmin(5);
        }
    }

    .header__nav.menu__active{
        display: flex;
    }

    .header__nav{
        display: none;
        width: vmin(237);
        height: vmin(277);
        box-shadow: 0px vmin(51) vmin(74) rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(vmin(52));
        background: rgba($color: #505050, $alpha: 0.94);
        border-radius: vmin(41);
        right: vmin(15);
        top: calc(100% + vmin(15));
        padding: vmin(40) 0;
    
        &::before{
            border-radius: vmin(41);
            padding: vmin(1);
        }
    
        ul.nav__list{
            position: relative;
            
            &::after{
                content: '';
                position: absolute;
                height: 100%;
                width: vmin(2);
                left: vmin(-25);
                background-color: rgba($color: #fff, $alpha: 0.16);
                border-radius: 50%;
            }

            li.nav__item{
                position: relative;
            
                &::after{
                    content: '';
                    position: absolute;
                    top: 40%;
                    height: vmin(7);
                    width: vmin(25);
                    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 255, 255, 0.94433) 3.12%, #00FFFF 6.77%, rgba(0, 255, 255, 0.814433) 15.62%, rgba(0, 255, 255, 0.34) 25%, rgba(0, 255, 255, 0.1) 50.52%, rgba(0, 255, 255, 0) 97.92%);;
                    left: vmin(-36);
                    border-radius: 50%;
                    transform: rotate(-90deg);
                }
    
                a.nav__link{
                    font-size: vmin(18);
                }
            }
        }
    }
}