.hero{
    height: vw(1065);
    position: relative;
    z-index: 1;

    .hero__container{
        height: 100%;
        display: flex;
        align-items: center;
    }

    .hero__images{
        position: absolute;
        bottom: 0;
        right: 0;
        width: vw(1428);
        height: vw(1136);
        z-index: -1;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hero__slogan{
        position: absolute;
        top: vw(160);
        left: vw(-280);
        user-select: none;

        p{
            font-family: RFDewiExtended-Bold;
            text-transform: uppercase;
            font-size: vw(116);
            transform: rotate(-90deg);
            position: relative;
            color: rgba(216, 219, 222, 0.03);

            &.slogan__one{
                position: absolute;
            }

            &.slogan__two{
                position: absolute;
                top: vw(160);
                left: vw(100);
            }
        }
    }
}

.hero__content{
    p.hero__title{
        color: rgba($color: #fff, $alpha: 0.84);
        font-size: vw(46);
        font-family: RFDewiExtended-Bold;
        width: vw(525);
        line-height: 140%;
    }

    .hero__descript{
        display: flex;
        align-items: center;
        p{
            padding-top: vw(40);
            padding-left: vw(10);
            font-size: vw(24);
            font-family: $MS-Light;
            color: rgba($color: #fff, $alpha: 0.84);
        }

        .hero__decor{
            width: vw(104);
            height: vw(72);

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.hero__benefits__line{
    position: absolute;
    top: vw(-40);
    left: vw(-35);
    width: vw(584);
    height: vw(22);
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hero__benefits{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: vw(110);

    .hero__benefits__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: vw(50);

        &:first-child{
            margin-left: 0;
        }

        .benefits__number{

            font-family: $DTW-Medium;
            font-size: vw(36);
            background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0.19) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    
        p.benefits__text{
            font-size: vw(16);
            font-family: $MS-Regular;
            color: #fff;
            line-height: 120%;
            text-align: center;
        }
    }

}

.hero__pagination{
    margin-top: vw(50);
    display: flex;
    align-items: flex-end;

    .hero__pagination__num{
        color: #656565;
        font-family: DrukTextWide-Medium;
        display: flex;
        align-items: flex-start;
        font-size: vw(24);

        span{
            font-size: vw(12);
            color: #4D4D4D;
        }
    }

    .hero__pagination__line{
        height: vw(1);
        width: vw(295);
        background-color: rgba(#fff, 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .pagination__line__item{
            width: 33.33%;
            height: vw(1);

            &.item__active{
                background-color: rgba(#fff, 0.5);
            }
        }
    }
}

@media (max-width: 990px){
    .hero__slogan{
        display: none;
    }

    .hero__pagination{
        display: none;
    }

    .hero{
        height: 100%;
        position: relative;
        z-index: 1;
    
        .hero__container{
            height: 100%;
            display: flex;
            align-items: center;
        }
    
        .hero__images{
            position: absolute;
            left: 0;
            top: 0;
            margin-top: vmin(160);
            width: 100%;
            height: vmin(425);
            z-index: -1;
    
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .hero__content{
        p.hero__title{
            color: rgba($color: #fff, $alpha: 0.84);
            font-size: vmin(24);
            font-family: RFDewiExtended-Bold;
            width: vmin(325);
            line-height: 140%;
            margin-top: vmin(23);
        }

        .btn{
            margin-top: vmin(280);
            margin-left: 0 auto;
        }
    
        .hero__descript{
            margin-top: vmin(10);
            display: flex;
            align-items: flex-start;
            p{
                padding-top: 0;
                padding-left: vmin(10);
                font-size: vmin(14);
                font-family: $MS-Light;
                color: rgba($color: #fff, $alpha: 0.84);
            }
    
            .hero__decor{
                width: vmin(104);
                height: vmin(72);
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .hero__benefits{
        display: flex;
        align-items: center;
        position: relative;
        margin-top: vmin(60);
        width: 100%;
        justify-content: space-between;
    
        .hero__benefits__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0;

            .benefits__number{

                font-family: $DTW-Medium;
                font-size: vmin(24);
                background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0.19) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }

            p.benefits__text{
                font-size: vmin(14);
                font-family: $MS-Regular;
                color: #fff;
                line-height: 120%;
                text-align: center;
                padding-top: vmin(5);
            }
        }
    }

    .hero__benefits__line{
        position: absolute;
        width: vmin(507);
        height: vmin(22);
        top: vmin(-40);
        left: 50%;
        transform: translateX(-50%);
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
}