.modal {
	--transition-time: 0.3s;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	cursor: pointer;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal__wrapp {
	display: none;
	cursor: default;
    width: fit-content;
    height: fit-content;
}


.modal.is-open {
	opacity: 1;
	visibility: visible;
	transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal__wrapp.modal-open {
	display: flex;
}


.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.fade {
	opacity: 0;
	transition: opacity var(--transition-time);
}

.fade.animate-open {
	opacity: 1;
	transition: opacity var(--transition-time);
}

.fadeInUp {
	opacity: 0;
	transform: translateY(vw(-100));
	transition: opacity var(--transition-time), transform var(--transition-time);
}

.fadeInUp.animate-open {
	opacity: 1;
	transform: translateY(0);
	transition: opacity var(--transition-time), transform var(--transition-time);
}

.modal__content{
    position: absolute;
    bottom: vw(50);
    right: vw(85);

    .order__call{
        z-index: 9999;
        background: rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(vw(67.6));
    }
}

p.form__text{
    font-family: $MS-Regular;
    font-size: vw(16);
    color: rgba($color: #fff, $alpha: 0.68);
    padding-top: vw(10);
    text-align: center;
    line-height: 120%;
}

.modal__close{
	display: flex;
	width: vmin(30);
	height: vmin(30);
	border-radius: 50%;
	background-color: #00DCE1;
	position: absolute;
	right: vmin(40);
	bottom: vmin(415);
	z-index: 99999;
    border: vmin(2) #AFFDFF solid;
    justify-content: center;
    align-items: center;

    span{
        position: relative;
        width: vmin(30);
        height: vmin(30);
        border-radius: 50%;
        &::after{
            content: '';
            position: absolute;
            top: vmin(13);
            left: vmin(5.5);
            transform: rotate(45deg);
            width: vmin(15);
            height: vmin(2);
            background-color: #AFFDFF;
            border-radius: vmin(5);
        }

        &::before{
            content: '';
            position: absolute;
            top: vmin(13);
            left: vmin(5.5);
            transform: rotate(135deg);
            width: vmin(15);
            height: vmin(2);
            border-radius: vmin(5);
            background-color: #AFFDFF;
        }
    }
}

#quiz__modal{
	.modal__content{
		bottom: auto;
		top: 50%;
		right: auto;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

#sentence{
	.modal__content{
		bottom: auto;
		top: 50%;
		right: auto;
		left: 12.5%;
		transform: translate(0, -50%);
	}
}

.order__call.sentence{
	height: auto;
	justify-content: none;
	backdrop-filter: blur(vw(20));

	p.form__title{
		font-size: vw(24);

		&.two{
			padding-top: vw(35);
		}
	}

	input.default{
		height: vw(58);
		margin-top: 0;

		&.product{
			margin-top: vw(35);
		}

		&.tel, &.email{
			margin-top: vw(15);
		}
	}

}

.form__switch__wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: vw(20);

	.quiz__switch__item{
		width: vw(153);
		height: vw(103);
		border-radius: vw(16);
		position: relative;
		margin-left: vw(50);
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&.active{
			background: linear-gradient(321.97deg, #12989B 25.19%, #07C3C8 84.94%);
		}

		p{
			margin-top: vw(10);
			font-size: vw(16);
			font-family: $MS-Regular;
			color: white;
		}

		.qsi__img{

			&:nth-child(1){
				width: vw(54);
				height: vw(52);
			}

			&:nth-child(3){
				width: vw(54);
				height: vw(45);
			}

			&:nth-child(2){
				width: vw(50);
				height: vw(50);
			}

			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&:first-child{
			margin-left: 0;
		}

		&::before{
			content: '';
			position: absolute;
			inset: 0;
			border-radius: vw(16);
			padding: vw(1);
			background: linear-gradient(179.22deg, rgba(175, 253, 255, 0) 0.7%, #AFFDFF 52.82%, rgba(175, 253, 255, 0) 100.77%),
			linear-gradient(89.92deg, rgba(175, 253, 255, 0) -1.09%, #AFFDFF 51.52%, rgba(175, 253, 255, 0) 99.92%);
			-webkit-mask: 
				linear-gradient(white 0 0) content-box, 
				linear-gradient(white 0 0);
			-webkit-mask-composite: xor;
			mask-composite: exclude;
		}
	}
}


.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
  }
  .select {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: vw(20);
	z-index: 999999;
	width: 100%;
	font-family: $MS-Regular;
	color: white;
	height: vw(58);
	text-align: left;
	margin-top: vw(15);
  }
  .select-styled {
	position: absolute; 
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	font-family: $MS-Regular;
	color: white;
	background: rgba(255, 255, 255, 0.12);
	border: vw(1) solid #BFE9EB;
	border-radius: vw(20);
	display: flex;
	align-items: center;
	padding-left: vw(35);

	&::after{
		position: absolute;
		content: '';
		width: vw(2);
		height: vw(10);
		background-color: #49CCCF;
		transform: rotate(-45deg);
		right: vw(26);
	}
	
	&::before{
		position: absolute;
		content: '';
		width: vw(2);
		height: vw(10);
		background-color: #49CCCF;
		transform: rotate(45deg);
		right: vw(20);
	}
	&:active, &.active {
		&::after{
			transform: rotate(-135deg);
			background: rgba(73, 204, 207, 0.47);
		}

		&::before{
			transform: rotate(135deg);
			background: rgba(73, 204, 207, 0.47);
		}
	}
  }
  
  .select-options {
	display: none; 
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	height: vw(330);
	background: #2F4243;
	backdrop-filter: blur(vw(20));
	border-radius: vw(20);
	padding: vw(30) 0;
	padding-left: vw(35);
	margin-top: vw(10);
	border: vw(1) solid #BFE9EB;
	
	li {
	  padding-top: vw(22);
	  text-align: left;
	  &:first-child{
		padding-top: 0;
	  }
	}
  }

#problemsModal{
	.modal__content{
		bottom: auto;
		top: 50%;
		right: auto;
		left: 40%;
		transform: translate(-50%, -50%);
		.order__call{
			.default{
				margin-top: vw(20);
			}
	
			height: fit-content;
			textarea{
				width: 100%;
				background: rgba(255, 255, 255, 0.12);
				position: relative;
				z-index: 99999;
				resize: none;
				height: vw(189);
				outline: none;
				border-radius: vw(20);
				border: vw(1) solid #BFE9EB;
				font-size: vw(20);
				color: white;
				font-family: $MS-Regular;
				padding: vw(30) vw(30);
				&::placeholder{
					font-size: vw(20);
					color: white;
					font-family: $MS-Regular;
				}
			}
		}
	}
}

@media (min-width: 990px){
	.modal__close{
		display: none;
	}
}

@media (max-width: 990px){

	.order__call.sentence{
		height: auto;
		justify-content: none;
		backdrop-filter: blur(vmin(20));
	
		p.form__title{
			font-size: vmin(15);
	
			&.two{
				padding-top: vmin(15);
			}
		}
	
		input.default{
			height: vmin(40);
			border-radius: vmin(15);
			margin-top: 0;
	
			&.product{
				margin-top: vmin(15);
			}
	
			&.tel, &.email{
				margin-top: vmin(15);
			}
		}
	
	}

	.form__switch__wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	
		.quiz__switch__item{
			width: vmin(84.15);
			height: vmin(62.315);
			border-radius: vmin(5);
			margin-left: 0;


			p{
				margin-top: vmin(5);
				font-size: vmin(13);
			}

			.qsi__img{


				&:nth-child(1){
					width: vmin(27);
					height: vmin(26);
				}

				&:nth-child(2){
					width: vmin(27);
					height: vmin(22.5);
				}

				&:nth-child(3){
					width: vmin(25);
					height: vmin(25);
				}
			}

			&::before{
				border-radius: vmin(10);
				padding: vmin(1);
			}
		}
	}

	.select-hidden {
		display: none;
		visibility: hidden;
		padding-right: 10px;
	  }
	  .select {
		cursor: pointer;
		display: inline-block;
		position: relative;
		font-size: vmin(14);
		z-index: 999999;
		width: 100%;
		font-family: $MS-Regular;
		color: white;
		height: vmin(40);
		text-align: left;
		margin-top: vmin(15);
	  }
	  .select-styled {
		position: absolute; 
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		font-family: $MS-Regular;
		color: white;
		background: rgba(255, 255, 255, 0.12);
		border: vw(1) solid #BFE9EB;
		border-radius: vmin(15);
		display: flex;
		align-items: center;
		padding-left: vmin(32);

	
		&::after{
			position: absolute;
			content: '';
			width: vmin(2);
			height: vmin(8);
			background-color: #49CCCF;
			transform: rotate(-45deg);
			right: vmin(24);
		}
		
		&::before{
			position: absolute;
			content: '';
			width: vmin(2);
			height: vmin(8);
			background-color: #49CCCF;
			transform: rotate(45deg);
			right: vmin(20);
		}
		&:active, &.active {
			&::after{
				transform: rotate(-135deg);
				background: rgba(73, 204, 207, 0.47);
			}
	
			&::before{
				transform: rotate(135deg);
				background: rgba(73, 204, 207, 0.47);
			}
		}
	  }
	  
	  .select-options {
		display: none; 
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: 999;
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		height: vmin(230);
		background: #2F4243;
		backdrop-filter: blur(vmin(20));
		border-radius: vmin(15);
		padding: vmin(17) 0;
		padding-left: vmin(32);
		margin-top: vmin(5);
		border: vw(1) solid #BFE9EB;
		
		li {
		  padding-top: vmin(15);
		  text-align: left;
		  &:first-child{
			padding-top: 0;
		  }
		}
	  }

	#sentence{
		.modal__content{
			bottom: auto;
			top: 50%;
			right: auto;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.modal__close{
			right: vmin(33);
			bottom: vmin(657);
		}
	}

	.modal__content{
		bottom: vmin(30);
		right: vmin(42);

		.order__call{
			z-index: 9999;
			background: rgba(255, 255, 255, 0.08);
			backdrop-filter: blur(vmin(26.028));

		}
	}

	p.form__text{
		font-family: $MS-Regular;
		font-size: vmin(12);
		color: rgba($color: #fff, $alpha: 0.68);
		padding-top: vmin(5);
		text-align: center;
		line-height: 120%;
	}

	.getpkbtn{
		display: none;
	}

	#problemsModal{
		.modal__close{
			right: vmin(40);
			bottom: vmin(555);
		}

		.modal__content{
			top: auto;
			left: auto;
			bottom: vmin(30);
			right: vmin(42);
			transform: none;
			.order__call{
				.default{
					margin-top: vmin(20);
				}
		
				height: fit-content;
				textarea{
					width: 100%;
					background: rgba(255, 255, 255, 0.12);
					position: relative;
					z-index: 99999;
					resize: none;
					height: vmin(120);
					outline: none;
					border-radius: vmin(20);
					border: vmin(1) solid #BFE9EB;
					font-size: vmin(13);
					color: white;
					font-family: $MS-Regular;
					padding: vmin(20) vmin(30);
					&::placeholder{
						font-size: vmin(13);
						color: white;
						font-family: $MS-Regular;
					}
				}
			}
		}
	}

	.checkbox__default{

        input+label{
            text-align: left;
        }
    }
}