.portfolio{

    .portfolio__container{
        margin: 0 auto;

        .services__content{
            position: relative;
            z-index: 10;

            .tab_container{
                margin-top: vw(40);
            }

            .portfolio__header{
                display: grid;
                align-self: center;
                grid-template-columns: vw(600) 1fr;
                position: relative;
                z-index: 15;
            }
        }
    }

}

#portfolio{
    width: vw(572);
    margin: 0;
    display: grid;
    grid-template-columns: vw(167) vw(167) vw(167);
    height: vw(132);
    margin-top: vw(80);
    order: 1;


    &::after{
        display: none;
    }

    li{
        width: vw(167);
        height: vw(52);
        border-radius: vw(52);
        border: vw(1) solid #BFE9EB;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: vw(16);
        color: rgba($color: #fff, $alpha: 0.68);
        font-family: $MS-Regular;

        &.active{
            background: linear-gradient(321.97deg, #12989B 25.19%, #07C3C8 84.94%);

            &::after{
                display: none;
            }

            a{
                color: white;
            }
        }

        a{
            font-size: vw(16);
            color: rgba($color: #fff, $alpha: 0.68);
            font-family: $MS-Regular;

            span.mob{
                display: none;
            }
        }
    }
}

.portfolio__title{
    width: 100%;
    margin-left: vw(60);
    order: 2;

    p.portfolio__header{
        font-family: $DTW-Bold;
        font-size: vw(36);
        text-transform: uppercase;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.79) 0%, rgba(255, 255, 255, 0.26) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    p.portfolio__text{
        color: white;
        font-size: vw(44);
        font-family: $DTW-Bold;
        margin-top: vw(40);
    }
}

.portfolio__images{
    position: absolute;
    width: vw(1039);
    height: vw(1065);
    left: vw(-250);
    top: vw(-368);
    z-index: 5;
    pointer-events: none;
    cursor: none;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.swiper {
    width: 100%;
    height: 100%;
    z-index: 30;
    margin-top: vw(80);
}

.swiper-slide {
    width: vw(457);
    height: vw(495);
    z-index: 35;
    position: relative;


    .swiper-slide-image{
        position: absolute;
        top: 0;
        left: 0;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: vw(14);
        }
    }

    &::after{
        content: '';
        position: absolute;
        width: vw(3);
        height: calc(100% - vw(15));
        border-radius: vw(14) 0 0 vw(14);
        background-color: rgba(#fff, 0.24);
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .work__header{
        width: vw(337);
        height: vw(90);
        border-radius: 0 vw(14) vw(14) 0;
        background: rgba(36, 58, 58, 0.35);
        backdrop-filter: blur(vw(10));
        position: absolute;
        top: vw(28);
        left: 0;
        z-index: 40;
        padding-left: vw(35);
        padding-right: vw(15);
        display: flex;
        justify-content: center;
        flex-direction: column;

        &::after{
            content: '';
            position: absolute;
            width: vw(3);
            height: 100%;
            background-color: #fff;
            left: 0;
            top: 0;
        }

        &::before{
            content: '';
            position: absolute;
            inset: 0;
            border-radius: 0 vw(14) vw(14) 0;
            padding: vw(1);
            background: linear-gradient(179.22deg, rgba(175, 253, 255, 0) 0.7%, #AFFDFF 52.82%, rgba(175, 253, 255, 0) 100.77%),
            linear-gradient(89.92deg, rgba(175, 253, 255, 0) -1.09%, #AFFDFF 51.52%, rgba(175, 253, 255, 0) 99.92%);
            -webkit-mask: 
                linear-gradient(white 0 0) content-box, 
                linear-gradient(white 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        p.work__title{
            font-size: vw(24);
            color: #fff;
            font-family: $DTW-Bold;
            z-index: 45;
        }

        p.work__text{
            font-size: vw(16);
            color: white;
            letter-spacing: vw(1);
            font-family: $MS-Regular;
            line-height: 110%;
            z-index: 45;
        }
    }

    .btn-more{
        position: absolute;
        outline: none;
        border-radius: vw(63);
        background: rgba(28, 99, 116, 0.5);
        border: vw(1) solid rgba(255, 255, 255, 0.1);
        width: vw(166);
        height: vw(54);
        bottom: vw(40);
        right: vw(37);
        cursor: pointer;
        z-index: 45;
        backdrop-filter: blur(vw(11));
        font-size: vw(18);
        color: white;
        font-family: $MS-Regular;

        &:hover{
            background: rgba(51, 135, 156, 0.5);
        }
    }
}

.swiper-button-disabled{
    opacity: .5;
}

.swiper-button-prev{
    left: vw(-90);
    top: 50%;
    transform: translateY(-50%);
}

.swiper-button-next{
    right: vw(-90);
    top: 50%;
    transform: translateY(-50%);
}

.swiper-button-prev, .swiper-button-next{
    position: absolute;
    cursor: pointer;
    width: vw(74);
    height: vw(74);
    z-index: 9999;

    &.disable{
        opacity: .5;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::before{
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 50%;
        padding: vw(3);
        width: vw(60);
        height: vw(60);
        background: radial-gradient(50% 50% at 50% 50%, rgba(153, 233, 235, 0) 86.98%, rgba(153, 233, 235, 0.21) 100%);
        -webkit-mask: 
            linear-gradient(white 0 0) content-box, 
            linear-gradient(white 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn__arrow{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .btn__img{
            width: vw(8);
            height: vw(14);

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.swiper-button-prev{
    img{
        transform: rotate(180deg);
    }

    .btn__arrow{
        .btn__img{
            img{
                transform: rotate(0deg);
            }
        }
    }
}

.slider__wrapper{
    position: relative;
}

@media (max-width: 990px){
    .portfolio{

        .portfolio__container{
    
            .services__content{
    
                .portfolio__header{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    
    }

    #portfolio{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: vmin(145) vmin(145);
        justify-content: space-between;
        height: vmin(180);
        margin-top: vmin(25);
        order: 2;
    
    
        &::after{
            display: none;
        }
    
        li{
            width: vmin(145);
            height: vmin(45);
            border-radius: vmin(30);
            border: vmin(1) solid #BFE9EB;
            display: flex;
            justify-content: center;
            align-items: center;
    
            &.active{
                background: linear-gradient(321.97deg, #12989B 25.19%, #07C3C8 84.94%);
    
                &::after{
                    display: none;
                }
    
                a{
                    color: white;
                }
            }
    
            a{
                font-size: vmin(12);
            }
        }
    }

    .portfolio__title{
        margin-left: 0;
        order: 1;
        text-align: center;
    
        p.portfolio__header{
            font-size: vmin(24);
        }
    
        p.portfolio__text{
            font-size: vmin(16);
            margin-top: vmin(15);
        }
    }

    .swiper-button-prev{
        left: 0;
        top: vmin(-15);
        transform: translateY(0);
    }
    
    .swiper-button-next{
        right: 0;
        top: vmin(-15);
        transform: translateY(0);
    }

    .swiper-button-prev, .swiper-button-next{
        width: vmin(67);
        height: vmin(67);
    
        &::before{
            padding: vmin(3);
            width: vmin(54);
            height: vmin(54);
        }
    
        .btn__arrow{
    
            .btn__img{
                width: vmin(8);
                height: vmin(14);
            }
        }
    }

    .slider__wrapper{
        margin-top: vmin(50);
    }

    .swiper-slide {
        width: vmin(457);
        height: vmin(277);
        z-index: 35;
        position: relative;
    
        .swiper-slide-image{
            width: 100%;
            height: vmin(206);
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: vmin(14);
    
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: vmin(14);
                position: absolute;
                top: vmin(70);
            }
        }
    
        &::after{
            display: none;
        }
    
        .work__header{
            width: vmin(189);
            height: auto;
            border: none;
            background: transparent;
            backdrop-filter: none;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            top: 0;
            z-index: 40;
            padding: 0 vmin(15);
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
    
            &::after{
                display: none;
            }
    
            &::before{
                display: none;
            }
    
            p.work__title{
                font-size: vmin(13);
            }
    
            p.work__text{
                font-size: vmin(10);
                letter-spacing: 0;
            }
        }
    
        .btn-more{
            border-radius: vmin(63);
            background: rgba(28, 99, 116, 0.5);
            border: vmin(1) solid rgba(255, 255, 255, 0.1);
            width: vmin(137);
            height: vmin(37);
            bottom: vmin(15);
            right: auto;
            left: 50%;
            transform: translateX(-50%);
            backdrop-filter: blur(vmin(5));
            font-size: vmin(13);
    
            &:hover{
                background: rgba(51, 135, 156, 0.5);
            }
        }
    }

    .swiper-pagination{
        width: vmin(290);
        height: vmin(2);
        background-color: rgba($color: #fff, $alpha: 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: vmin(25);

        .swiper-pagination-bullet{
            width: 33.33%;
            height: vmin(2);
        }

        .swiper-pagination-bullet-active{
            background-color: rgba($color: #fff, $alpha: 0.5);
        }
    }
}