.problems{
    position: relative;

    .problems__container{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        position: relative;
    }
}

p.problems__title{
    color: #fff;
    text-align: center;
    font-family: $DTW-Bold;
    font-size: vw(36);
    line-height: 120%;
    z-index: 5;
}

.problems__slogan{
    user-select: none;
    position: absolute;
    top: vw(350);
    right: vw(550);

    p{
        font-family: RFDewiExtended-Bold;
        text-transform: uppercase;
        font-size: vw(116);
        transform: rotate(-90deg);
        position: relative;
        color: rgba(216, 219, 222, 0.03);

        &.slogan__one{
            position: absolute;
        }

        &.slogan__two{
            position: absolute;
            top: vw(160);
            left: vw(120);
        }
    }
}

.problems__body{
    width: vw(691);
    height: vw(721);
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0px vw(51) vw(74) rgba(0, 0, 0, 0.25);
    border-radius: vw(41);
    position: relative;
    align-self: flex-end;
    margin-top: vw(80);
    margin-bottom: vw(100);
    padding: vw(64) vw(60);
    z-index: 5;

    .problems__discuss{
        display: flex;
        align-items: center;
        z-index: 6;
        position: relative;
        margin-top: vw(60);

        p{
            margin-left: vw(50);
            font-size: vw(16);
            color: rgba($color: #fff, $alpha: 0.8);
            font-family: $MS-Regular;
            line-height: 120%;
            user-select: none;
        }
    }

    ul.problems__list{
        display: flex;
        flex-direction: column;
        z-index: 6;
        position: relative;
        padding-left: vw(40);

        &::before{
            content: '';
            position: absolute;
            width: vw(1);
            height: 110%;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            background-color: rgba($color: #fff, $alpha: 0.16);
            border-radius: 50%;
        }

        li.problems__list__item{
            position: relative;
            font-family: $MS-Regular;
            font-size: vw(19);
            color: white;
            padding-top: vw(30);

            &:first-child{
                padding-top: 0;
            }

            &::before{
                content: '';
                position: absolute;
                left: vw(-54);
                top: 65%;
                transform: translateY(-50%);
                height: vw(9);
                width: vw(30);
                border-radius: 50%;
                transform: rotate(-90deg);
                background: radial-gradient(50% 50% at 50% 50%, rgba(0, 255, 255, 0.94433) 3.12%, #00FFFF 6.77%, rgba(0, 255, 255, 0.814433) 15.62%, rgba(0, 255, 255, 0.34) 25%, rgba(0, 255, 255, 0.1) 50.52%, rgba(0, 255, 255, 0) 97.92%);;
            }
        }
    }

    &::before{
        content: '';
        position: absolute;
        inset: 0;
        border-radius: vw(41);
        padding: vw(1);
        background: linear-gradient(179.22deg, rgba(175, 253, 255, 0) 0.7%, #AFFDFF 52.82%, rgba(175, 253, 255, 0) 100.77%),
        linear-gradient(89.92deg, rgba(175, 253, 255, 0) -1.09%, #AFFDFF 51.52%, rgba(175, 253, 255, 0) 99.92%);
        -webkit-mask: 
            linear-gradient(white 0 0) content-box, 
            linear-gradient(white 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    .problems__body__decor{
        width: vw(290);
        height: vw(267);
        position: absolute;
        top: vw(-126);
        right: vw(-74);

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.problems__man{
    width: vw(1412);
    height: vw(940);
    position: absolute;
    top: vw(100);
    left: 0;
    z-index: 0;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.cure__problems{
    align-self: center;
    text-align: center;
    z-index: 5;

    p.title{
        font-family: $DTW-Medium;
        font-size: vw(30);
        color: #fff;
        line-height: 140%;
    }

    p.text{
        font-family: $MS-Light;
        font-size: vw(18);
        line-height: 140%;
        color: rgba($color: #fff, $alpha: 0.9);
        width: vw(647);
        letter-spacing: vw(0.5);
        padding-top: vw(20);
    }
}

@media (max-width: 990px){
    .problems__man{
        display: none;
    }

    .problems__slogan{
        display: none;
    }

    .problems__body{
        width: vmin(356);
        height: auto;
        background: rgba(255, 255, 255, 0.08);
        box-shadow: 0px vmin(51) vmin(74) rgba(0, 0, 0, 0.25);
        border-radius: vmin(41);
        position: relative;
        align-self: center;
        margin-top: vmin(30);
        margin-bottom: vmin(20);
        padding: vmin(33) 0;
        z-index: 5;
        display: flex;
        flex-direction: column;

    .problems__discuss{
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 6;
        position: relative;
        margin-top: vmin(25);
        text-align: center;

        p{
            margin-left: 0;
            font-size: vmin(13);
            color: rgba($color: #fff, $alpha: 0.8);
            font-family: $MS-Regular;
            line-height: 120%;
            user-select: none;
            order: 1;
        }

        .btn{
            order: 2;
            margin-top: vmin(10);
        }
    }

    ul.problems__list{
        display: flex;
        flex-direction: column;
        z-index: 6;
        position: relative;
        padding-left: 0;
        padding: 0 vmin(50);

        &::before{
            content: '';
            position: absolute;
            width: vw(1);
            height: 105%;
            top: 50%;
            transform: translateY(-50%);
            left: vmin(30);
            background-color: rgba($color: #fff, $alpha: 0.16);
            border-radius: 50%;
        }

        li.problems__list__item{
            position: relative;
            font-family: $MS-Regular;
            font-size: vmin(14);
            color: white;
            padding-top: vmin(22);

            &:first-child{
                padding-top: 0;
            }

            &::before{
                content: '';
                position: absolute;
                left: vmin(-34);
                top: 50%;
                transform: translateY(-50%);
                height: vmin(7);
                width: vmin(30);
                border-radius: 50%;
                transform: rotate(-90deg);
                background: radial-gradient(50% 50% at 50% 50%, rgba(0, 255, 255, 0.94433) 3.12%, #00FFFF 6.77%, rgba(0, 255, 255, 0.814433) 15.62%, rgba(0, 255, 255, 0.34) 25%, rgba(0, 255, 255, 0.1) 50.52%, rgba(0, 255, 255, 0) 97.92%);;
            }
        }
    }
    
        &::before{
            content: '';
            position: absolute;
            inset: 0;
            border-radius: vmin(41);
            padding: vmin(1);
            background: linear-gradient(179.22deg, rgba(175, 253, 255, 0) 0.7%, #AFFDFF 52.82%, rgba(175, 253, 255, 0) 100.77%),
            linear-gradient(89.92deg, rgba(175, 253, 255, 0) -1.09%, #AFFDFF 51.52%, rgba(175, 253, 255, 0) 99.92%);
            -webkit-mask: 
                linear-gradient(white 0 0) content-box, 
                linear-gradient(white 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }
    
        .problems__body__decor{
            width: vmin(130);
            height: vmin(131);
            position: absolute;
            top: vmin(-29);
            right: vmin(-27);
    
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    p.problems__title{
        color: #fff;
        text-align: center;
        font-family: $DTW-Medium;
        font-size: vmin(18);
        line-height: 120%;
        z-index: 5;
    }

    .cure__problems{
        align-self: center;
        text-align: center;
        z-index: 5;
    
        p.title{
            font-family: $DTW-Medium;
            font-size: vmin(14);
            color: rgba($color: #fff, $alpha: 0.85);
            line-height: 140%;
        }
    
        p.text{
            font-family: $MS-Light;
            font-size: vmin(14);
            line-height: 140%;
            color: rgba($color: #fff, $alpha: 0.9);
            width: vmin(356);
            letter-spacing: vmin(0.5);
            padding-top: vmin(10);
        }
    }
    
}