<div class="list-group masterworks">
   <div class="heading" style="padding: 0;"><span>Работы мастеров</span></div>
   <div class="col-12 row" style="margin: 0; padding: 0;">
       
       
        <div class="col-12 col-sm-6 col-lg-6">
                   <img src="/catalog/view/theme/unishop2/stylesheet/images/master1.png" alt="IMG">
        </div>
        <div class="col-12 col-sm-6 col-lg-6">
                   <img src="/catalog/view/theme/unishop2/stylesheet/images/master2.png" alt="IMG">
        </div>  
       
       
       
       
       
       
       
       
       
   </div>
</div>
<style>
    .list-group.masterworks{
        padding: 0 4%;
        margin-top: 40px;
    }
    .list-group.masterworks img{
        width: 100%;
    }
</style>