/* stylelint-disable */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* [class*="__container"]{

} */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.header {
  width: 100%;
  height: 113px;
  background: url("../img/header/header__bg.png") no-repeat, #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 40px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo p {
  margin-left: 20px;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

ul.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 500px;
  margin-left: 10%;
}
ul.header__nav li.header__nav__item a {
  color: white;
  font-weight: 500;
  font-size: 14px;
  /* &:hover{
      color: rgb(187, 187, 187);
      transition: .3s color ease;
  } */
}

.header__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: right;
  position: relative;
}
.header__callback::before {
  content: url("../img/header/call.png");
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -80px;
}
.header__callback a.header__callback__number__mob {
  display: none;
}
.header__callback a.header__callback__number {
  font-weight: 700;
  color: white;
  font-size: 24px;
}
.header__callback a.header__callback__order {
  font-weight: 500;
  color: white;
  font-size: 12px;
  margin-top: 5px;
}
.header__callback a.header__callback__order:hover {
  color: black;
  -webkit-transition: 0.3s color ease;
  -o-transition: 0.3s color ease;
  transition: 0.3s color ease;
}

.header__burger {
  display: none;
}

.header__burger {
  cursor: pointer;
  width: 22px;
  height: 16px;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__burger span {
  width: 100%;
  height: 2px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
}
.header__burger span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  background-color: #fff;
  bottom: -7px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header__burger span::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

/*    Mobile    */
@media (max-width: 990px) {
  .header {
    height: 70px;
    background-image: none;
    padding: 0 20px;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__menu {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .header__menu .header__nav {
    display: none;
  }
  .header__menu.menu__active .header__burger span {
    background-color: transparent;
  }
  .header__menu.menu__active .header__burger span::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .header__menu.menu__active .header__burger span::after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .header__menu.menu__active .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 70px;
    left: 0;
    margin: 0;
    background-color: black;
    width: 100%;
    height: calc(100vh - 70px);
    z-index: 25;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .header__menu.menu__active .header__nav .header__nav__item {
    margin-top: 10%;
  }
  .header__logo {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .header__logo img {
    width: 124px;
    height: 46px;
  }
  .header__logo p {
    display: none;
  }
  .header__callback {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .header__callback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: right;
    position: relative;
  }
  .header__callback::before {
    display: none;
  }
  .header__callback a.header__callback__number__mob {
    display: block;
  }
  .header__callback a.header__callback__number {
    display: none;
  }
  .header__callback a.header__callback__order {
    display: none;
  }
}
.intro {
  width: 100%;
  height: 775px;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro__bg {
  width: 100%;
  height: 775px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 5;
}
.intro__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.intro__contents {
  position: relative;
  z-index: 15;
  margin-left: 12%;
}

.intro__slogan p.slogan {
  font-size: 64px;
  color: black;
  font-weight: 700;
  line-height: 130%;
}
.intro__slogan p.slogan span {
  color: white;
  position: relative;
}
.intro__slogan p.slogan span::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 2px;
  top: 0;
  background-color: #D40050;
  z-index: -1;
}

.get__gifts__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
}
.get__gifts__text p.text {
  width: 478px;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

.get__gifts__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
}
.get__gifts__buttons p.text {
  margin-left: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #D40050;
  position: relative;
}
.get__gifts__buttons p.text::after {
  content: url("../img/svg/intro/arrow.svg");
  position: absolute;
  display: block;
  top: 50px;
  left: -80px;
}
.get__gifts__buttons .btn__calc__price {
  cursor: pointer;
  width: 250px;
  height: 53px;
  background-color: #D40050;
  font-size: 16px;
  font-weight: 500;
  color: white;
  position: relative;
  -webkit-transform: translate(7px, -7px);
  -ms-transform: translate(7px, -7px);
  transform: translate(7px, -7px);
  -webkit-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease;
}
.get__gifts__buttons .btn__calc__price::after {
  content: "";
  width: 100%;
  height: 100%;
  border: 2px #D40050 solid;
  position: absolute;
  top: 7px;
  left: -7px;
  -webkit-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease;
}
.get__gifts__buttons .btn__calc__price:hover {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  transition: 0.15s linear;
}
.get__gifts__buttons .btn__calc__price:hover::after {
  top: 0;
  left: 0;
  -webkit-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  transition: 0.15s linear;
}

.intro__benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 100px;
}
.intro__benefits .intro__benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 40px;
}
.intro__benefits .intro__benefits__item:first-child {
  margin-left: 0;
}
.intro__benefits .intro__benefits__item p {
  margin-left: 15px;
  font-weight: 500;
  line-height: 130%;
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */