<section class="about-us">

    <div class="about-us__container">

        <p class="about-us__header">О нас</p>
        <p class="about-us__title">Сотрудничайте с теми,<br>кто делает результат</p>

        <div class="about-us__content">

            <div class="as__content__item">

                <p class="as__item__title">Целая команда в "Штате"</p>
                <div class="as__item__line"></div>
                <p class="as__item__text">Индивидуальный подход и полное погружение в проект. Над Вашим проектом будут работать 5-7 специалистов по цене одного наемного работника</p>

            </div>

            <div class="as__content__item">

                <p class="as__item__title">Только нужные каналы</p>
                <div class="as__item__line"></div>
                <p class="as__item__text">Подбираем только те каналы продвижения, которые подойдут именно вашему бизнесу, мы не навязываем то, что вам не нужно</p>

            </div>

            <div class="as__content__item">

                <p class="as__item__title">Поэтапная работа</p>
                <div class="as__item__line"></div>
                <p class="as__item__text">Мы предоставляем возможность поэтапной оплаты, что позволит видеть то, за что конкретно вы платите</p>

            </div>

            <div class="as__content__item">

                <p class="as__item__title">Гарантия по договору</p>
                <div class="as__item__line"></div>
                <p class="as__item__text">Полностью прозрачная работа, условия которой и гарантии подробно прописаны в договоре, который составляется по вашему запросу</p>

            </div>

        </div>

    </div>

    <div class="about-us__images">
        <img src="img/about-us.png" alt="">
    </div>

</section>

<div class="section__line"></div>