<section class="build-work">

    <div class="build-work__container">

        <p class="bw__title">Как будет строится работа?</p>

        <div class="bw__wrapp">

            <div class="bw__item">

                <div class="bw__item__number">01.</div>
                <p class="bw__item__text">Определяемся с основными
                    услугами и обозначаем
                    окончательную стоимость Вашего проекта</p>

            </div>

            <div class="bw__item">

                <div class="bw__item__number">02.</div>
                <p class="bw__item__text">Заключаем договор (при необходимости),
                    в котором прописываем все условия,
                    сроки и гарантии работы</p>

            </div>

            <div class="bw__item">

                <div class="bw__item__number">03.</div>
                <p class="bw__item__text">Заполняете бриф,
                    в котором подробно
                    рассказываете о своей компании и всех своих пожеланиях</p>

            </div>

            <div class="bw__item">

                <div class="bw__item__number">04.</div>
                <p class="bw__item__text">Мы проводим
                    исследования
                    и приступаем
                    к работе над Вашим проектом</p>

            </div>

            <div class="bw__item">

                <div class="bw__item__number">05.</div>
                <p class="bw__item__text">Предоставляем отчеты по
                    каждому этапу, если все хорошо –
                    подписываете акт и
                    оплачиваете оставшуюся часть</p>

            </div>

            <div class="bw__item">

                <div class="bw__item__number">06.</div>
                <p class="bw__item__text">Вы в восторге от Вашего продающего сайта /
                    соц. сетей и радуетесь потоку новых клиентов</p>

            </div>

        </div>

    </div>

    <div class="bw__images">
        <img src="img/build-work.png" alt="">
    </div>

</section>

<div class="section__line"></div>