<div class="contacts">

    <div class="contacts__container">
        
        <div class="contacts__info">

            <p class="contacts__header">Контакты</p>
            <p class="contacts__title">Остались вопросы?</p>
            <p class="contacts__text">Свяжитесь с нами</p>

            <div class="contacts__item --number">

                <p class="contacts__text">Телефон</p>
                <p class="contacts__data"><span></span>8 (900) 138-58-02</p>

            </div>

            <div class="contacts__item --social">

                <a href="#" class="social__item">
                    
                    <div class="social__item__img">
                        <img src="img/svg/contacts__social/item1.svg" alt="">
                    </div>

                    <p>Telegram</p>

                </a>

                <a href="#" class="social__item">
                    
                    <div class="social__item__img">
                        <img src="img/svg/contacts__social/item2.svg" alt="">
                    </div>

                    <p>Viber</p>

                </a>

                <a href="#" class="social__item">
                    
                    <div class="social__item__img">
                        <img src="img/svg/contacts__social/item3.svg" alt="">
                    </div>

                    <p>WhatsApp</p>

                </a>

            </div>

            <div class="contacts__item --email">

                <p class="contacts__text">E-Mail</p>
                <p class="contacts__data"><span></span>info@klientoterapia.com</p>

            </div>

        </div>

        <div class="contacts__images">
            <img src="img/contacts.png" alt="">
        </div>

        <form action="" class="order__call default">

            <p class="form__title">Заполните форму мы перезвоним Вам</p>

            <input type="text" class="default" placeholder="Ваше имя">
            <input type="tel" class="default" placeholder="Ваш телефон">

            <button class="btn --fill --hero">Заказать звонок</button>

            <div class="checkbox__default">
                <input type="checkbox" name="politics" id="politics" class="checkbox__default">
                <label for="politics"><p>Вы соглашаетесь с <a href="#">политикой конфиденциальности</a></p></label>
            </div>

        </form>

    </div>

</div>