<section class="get-kp">

    <div class="get-kp__container">

        <div class="get-kp__wrapp">

            <p class="title">Ответьте на 6 вопросов, чтобы получить персональное КП</p>
            <p class="text">с перечнем рекомендаций по увеличению продаж в вашем бизнесе</p>
            <button class="btn --fill --selection" data-path="quizmodal" data-animation="fade" data-speed="300">получить персональное кп</button>

            <div class="get-kp__decor">
                <img src="img/portfolio__decor.png" alt="">
            </div>

        </div>

    </div>

    <div class="get-kp__images">
        <img src="img/get-kp.png" alt="">
    </div>

</section>

<div class="section__line"></div>