<header class="header">

    <div class="header__container">

        <div class="header__logo">
            <a href="/"><img src="img/logo.png" alt=""></a>
        </div>

        <div class="header__where">
            <div class="header__map"><img src="img/svg/header__map.svg" alt=""></div>
            <p>Работаем удаленно<br>во всей РФ и СНГ</p>
        </div>

        <div class="header__contacts">
            <a href="tel:8 (900) 138-58-02" class="header__number">8 (900) 138-58-02</a>
            <p class="header__schedule">Звоните: Пн-Пт 9:00-20:00</p>
        </div>

        <button class="btn --transparent-fill" data-path="connection" data-animation="fade" data-speed="300">Связаться с нами</button>

        <div class="header__menu">

            <div class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="header__nav">

                <ul class="nav__list">
                    <li class="nav__item"><a href="#" class="nav__link">главная</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">услуги</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">портфолио</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">о нас</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">получить КП</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">контакты</a></li>
                </ul>

            </div>

        </div>

    </div>

</header>
