<section class="hero">
    
    <div class="hero__container">

        <div class="hero__content">
            <p class="hero__title">Приведем клиентов в ваш бизнес уже в первый месяц</p>
            <div class="hero__descript"><div class="hero__decor"><img src="img/svg/hero__decor.svg" alt=""></div><p>с гарантией результата</p></div>
            <button class="btn --fill --hero" data-path="sentence" data-animation="fade" data-speed="300">Оставьте заявку<br>и получите КП<br><span>это бесплатно</span></button>
            
            <div class="hero__benefits">

                <div class="hero__benefits__line"><img src="img/svg/hero__line.svg" alt=""></div>

                <div class="hero__benefits__item">
                    <div class="benefits__number">10<span>+</span></div>
                    <p class="benefits__text">лет опыта<br>в Digital</p>
                </div>

                <div class="hero__benefits__item">
                    <div class="benefits__number">100<span>+</span></div>
                    <p class="benefits__text">ниш с которыми<br>мы работали</p>
                </div>

                <div class="hero__benefits__item">
                    <div class="benefits__number">400<span>+</span></div>
                    <p class="benefits__text">выполненых<br>проектов</p>
                </div>

            </div>

            <div class="hero__pagination">

                <div class="hero__pagination__num">01<span>/03</span></div>

                <div class="hero__pagination__line">
                    <div class="pagination__line__item item__active"></div>
                    <div class="pagination__line__item"></div>
                    <div class="pagination__line__item"></div>
                </div>

            </div>

        </div>

    </div>

    <div class="hero__images">
        <img src="img/hero.png" alt="">
    </div>

    <div class="hero__slogan">
        <p class="slogan__one">Клиенто</p>
        <p class="slogan__two">Терапия</p>
    </div>

</section>

<div class="section__line"></div>