<div class="modal">

    <div class="modal__wrapp" data-target="connection">

        <div class="modal__close">
            <span></span>
        </div>

        <div class="modal__content">
            
            <form action="" class="order__call default">

                <p class="form__title"><span class="ordercalltitle">Перезвонить Вам?</span></p>
                <p class="form__text">Заполните форму и мы позвоним<br>вам в течение часа.</p>
    
                <input type="text" class="default" placeholder="Ваше имя">
                <input type="tel" class="default" placeholder="Ваш телефон" id="phone__mask1">
    
                <button class="btn --fill --hero">Заказать звонок</button>
    
                <div class="checkbox__default">
                    <input type="checkbox" name="politics2" id="politics2" class="checkbox__default" checked>
                    <label for="politics2"><p>Вы соглашаетесь с <a href="#">политикой конфиденциальности</a></p></label>
                </div>
    
            </form>

        </div>

    </div>
    
    <div class="modal__wrapp" data-target="sentence" id="sentence">

        <div class="modal__close">
            <span></span>
        </div>

        <div class="modal__content">
            
            <form action="" class="order__call sentence default">

                <p class="form__title">Получите персональное предложение</p>
                <p class="form__text">Заполните форму и мы позвоним<br>вам в течение часа.</p>

                <p class="form__text two">что необходимо</p>
                
                <select id="necessary">
                    <option value="2010">получать заявки</option>
                    <option value="2011">разработать сайт</option>
                    <option value="2012">вести соц.сети</option>
                    <option value="2013">реклама (трафик)</option>
                    <option value="2014">разработать фирменный стиль</option>
                    <option value="2015">хочу всё, сразу и быстро</option>
                    <option value="2014">ещё не определился</option>
                </select>

                <input type="text" class="default product" placeholder="ваш продукт или услуга">
                <input type="tel" class="default tel" placeholder="ваш телефон" id="phone__mask6">

                <p class="form__text two">как вам удобно общатся:</p>

                <div class="form__switch__wrapper">
                
                    <div class="quiz__switch__item">
    
                        <div class="qsi__img">
                            <img src="img/svg/phone.svg" alt="">
                        </div>
    
                        <p>телефон</p>
    
                    </div>

                    <div class="quiz__switch__item">
    
                        <div class="qsi__img">
                            <img src="img/svg/contacts__social/item3.svg" alt="">
                        </div>
    
                        <p>WhatsApp</p>
    
                    </div>
    
                    <div class="quiz__switch__item">
    
                        <div class="qsi__img">
                            <img src="img/svg/contacts__social/item1.svg" alt="">
                        </div>
    
                        <p>Telegram</p>
    
                    </div>
    
                </div>
    
                <input type="text" class="default email" placeholder="ваш e-mail">

                <button class="btn --fill --hero">Заказать звонок</button>
    
                <div class="checkbox__default">
                    <input type="checkbox" name="politics2" id="politics8" class="checkbox__default" checked>
                    <label for="politics8"><p>Вы соглашаетесь с <a href="#">политикой конфиденциальности</a></p></label>
                </div>
    
            </form>

        </div>

    </div>

    <div class="modal__wrapp" data-target="zayavka">

        <div class="modal__close">
            <span></span>
        </div>

        <div class="modal__content">
            
            <form action="" class="order__call default">

                <p class="form__title"><span class="ordercalltitle">Оставить заявку?</span></p>
                <p class="form__text">Заполните форму и мы позвоним<br>вам в течение часа.</p>
    
                <input type="text" class="default" placeholder="Ваше имя">
                <input type="tel" class="default" placeholder="Ваш телефон" id="phone__mask2">
    
                <button class="btn --fill --hero">Оставить заявку</button>
    
                <div class="checkbox__default">
                    <input type="checkbox" name="politics5" id="politics5" class="checkbox__default" checked>
                    <label for="politics5"><p>Вы соглашаетесь с <a href="#">политикой конфиденциальности</a></p></label>
                </div>
    
            </form>

        </div>

    </div>

    <div class="modal__wrapp" data-target="getKPmodal">

        <div class="modal__close">
            <span></span>
        </div>

        <div class="modal__content">
            
            <form action="" class="order__call default">

                <p class="form__title">Получите<br>персональное КП</p>
                <p class="form__text">с перечнем рекомендаций по увеличению продаж в вашем бизнесе</p>
    
                <input type="text" class="default" placeholder="Ваше имя">
                <input type="tel" class="default" placeholder="Ваш телефон" id="phone__mask3">
    
                <button class="btn --fill --hero">получить <span class="getpkbtn">персональное</span> кп</button>
                
                <div class="checkbox__default">
                    <input type="checkbox" name="politics3" id="politics3" class="checkbox__default" checked>
                    <label for="politics3"><p>Вы соглашаетесь с <a href="#">политикой конфиденциальности</a></p></label>
                </div>
    
            </form>

        </div>

    </div>

    <div class="modal__wrapp" data-target="problemModal" id="problemsModal">

        <div class="modal__close">
            <span></span>
        </div>

        <div class="modal__content">
            
            <form action="" class="order__call default">

                <p class="form__title">Расскажите <br>о вашей проблеме</p>
                <p class="form__text">и мы предложим вам готовое решение!</p>
    
                <input type="text" class="default" placeholder="Ваше имя">
                <input type="tel" class="default" placeholder="Ваш телефон" id="phone__mask4">
                <textarea class="default" placeholder="Ваша проблема"></textarea>
    
                <button class="btn --fill --hero">получить кп</button>
                
                <div class="checkbox__default">
                    <input type="checkbox" name="politics4" id="politics4" class="checkbox__default" checked>
                    <label for="politics4"><p>Вы соглашаетесь с <a href="#">политикой конфиденциальности</a></p></label>
                </div>
    
            </form>

        </div>

    </div>

    <div class="modal__wrapp" data-target="quizmodal" id="quiz__modal">

        <div class="modal__content">
            @include('quiz.html')
        </div>

    </div>

</div>