<section class="portfolio">

    <div class="portfolio__container">

        <div class="services__content">

            <div class="portfolio__header">

                <div class="portfolio__images">
                    <img src="img/portfolio__decor.png" alt="">
                </div>

                <ul class="tabs" id="portfolio">
                    <li class="active"><a>Сайты</a></li>
                    <li><a>SMM</a></li>
                    <li><a>Контекст</a></li>
                    <li><a>Брендинг</a></li>
                    <li><a>Презентация</a></li>
                    <li><a>Полиграфия</a></li>
                </ul>
    
                <div class="portfolio__title">
                    <p class="portfolio__header">Портфолио</p>
                    <p class="portfolio__text">Лучшее доказательство<br><span>-</span> это результаты наших клиентов</p>
                </div>

            </div>
    
            <div class="tab_container">
    
                <div class="tab_content active" id="portfolio1">
                    
                    <div class="slider__wrapper">

                        <div class="swiper site">
        
                            <div class="swiper-wrapper">
            
                                <div class="swiper-slide">
            
                                    <div class="swiper-slide-image">
                                        <img src="img/slider/item1.png" alt="">
                                    </div>
            
                                    <div class="work__header">
                                        <p class="work__title">Limid Pools</p>
                                        <p class="work__text">Продающий сайт для сети по строительству бассейнов</p>
                                    </div>
            
                                    <button class="btn-more">подробнее</button>
            
                                </div>
            
                                <div class="swiper-slide">
            
                                    <div class="swiper-slide-image">
                                        <img src="img/slider/item2.png" alt="">
                                    </div>
            
                                    <div class="work__header">
                                        <p class="work__title">Energy Foods</p>
                                        <p class="work__text">Сайт + мини-магазин</p>
                                    </div>
            
                                    <button class="btn-more">подробнее</button>
            
                                </div>
            
                                <div class="swiper-slide">
            
                                    <div class="swiper-slide-image">
                                        <img src="img/slider/item3.png" alt="">
                                    </div>
            
                                    <div class="work__header">
                                        <p class="work__title">Мир Кожзама</p>
                                        <p class="work__text">продажа кожзаменителя оптом от производителя</p>
                                    </div>
            
                                    <button class="btn-more">подробнее</button>
            
                                </div>
            
                                <div class="swiper-slide">
            
                                    <div class="swiper-slide-image">
                                        <img src="img/slider/item1.png" alt="">
                                    </div>
            
                                    <div class="work__header">
                                        <p class="work__title">Limid Pools</p>
                                        <p class="work__text">Продающий сайт для сети по строительству бассейнов</p>
                                    </div>
            
                                    <button class="btn-more">подробнее</button>
            
                                </div>
            
                                <div class="swiper-slide">
            
                                    <div class="swiper-slide-image">
                                        <img src="img/slider/item2.png" alt="">
                                    </div>
            
                                    <div class="work__header">
                                        <p class="work__title">Energy Foods</p>
                                        <p class="work__text">Сайт + мини-магазин</p>
                                    </div>
            
                                    <button class="btn-more">подробнее</button>
            
                                </div>
            
                                <div class="swiper-slide">
            
                                    <div class="swiper-slide-image">
                                        <img src="img/slider/item3.png" alt="">
                                    </div>
            
                                    <div class="work__header">
                                        <p class="work__title">Мир Кожзама</p>
                                        <p class="work__text">продажа кожзаменителя оптом от производителя</p>
                                    </div>
            
                                    <button class="btn-more">подробнее</button>
            
                                </div>
                                
                            </div>
            
                        </div>
            
                        <div class="swiper-button-prev">
            
                            <div class="btn__arrow__stroke">
                
                                <img src="img/svg/services__arrow/stroke.svg" alt="">
                    
                                <div class="btn__arrow">
                                    <div class="btn__img">
                                        <img src="img/svg/services__arrow/left.svg" alt="">
                                    </div>
                                </div>
                    
                            </div>
            
                        </div>
                        
                        <div class="swiper-button-next">
            
                            <div class="btn__arrow__stroke">
                            
                                <img src="img/svg/services__arrow/stroke.svg" alt="">
                    
                                <div class="btn__arrow">
                                    <div class="btn__img">
                                        <img src="img/svg/services__arrow/right.svg" alt="">
                                    </div>
                                </div>
                                
                            </div>
            
                        </div>

                        <div class="swiper-pagination"></div>
        
                    </div>

                </div>

                <div class="tab_content" id="portfolio2"></div>
                <div class="tab_content" id="portfolio3"></div>
                <div class="tab_content" id="portfolio4"></div>
                <div class="tab_content" id="portfolio5"></div>
                <div class="tab_content" id="portfolio6"></div>
                
            </div>

        </div>

    </div>

</section>

<div class="section__line"></div>