<div class="quiz">

    <p class="quiz__title">
        <span class="desk">Ответьте на 6 вопросов и получите<br>
            идивидуальное коммерческое предложение</span><span class="mob">Ответьте на 6 вопросов, чтобы получить персональное КП</span>
    </p>

    <span class="mob__text">с перечнем рекомендаций по увеличению продаж в вашем бизнесе</span>

    <div class="quiz__pagination">
        <li class="quiz__pag__item active"></li>
        <li class="quiz__pag__item"></li>
        <li class="quiz__pag__item"></li>
        <li class="quiz__pag__item"></li>
        <li class="quiz__pag__item"></li>
        <li class="quiz__pag__item"></li>
    </div>

    <div class="guiz__page">

        <div class="quiz__page__content active" id="quiz__page__one">

            <p class="quiz__answer__num">
                вопрос <span class="num__start">1</span> из <span class="num__end">6</span>
            </p>

            <p class="quiz__page__title">Чем занимается ваша компания?</p>

            <div class="quiz__input__body">
                <p class="quiz__input__text">Ваша ниша</p>
                <input type="text" class="quiz__input">
            </div>

            <div class="quiz__input__body">
                <p class="quiz__input__text">Ссылка на сайт (если есть)</p>
                <input type="text" class="quiz__input">
            </div>

            <div class="quiz__input__body">
                <p class="quiz__input__text">Ссылка на соц. сети (если есть)</p>
                <input type="text" class="quiz__input">
            </div>

            <div class="quiz__btn__wrapper">

                <div class="btn__arrow__stroke btn__quiz btn__quiz--prev disable">
        
                    <img src="img/svg/services__arrow/stroke.svg" alt="">
        
                    <div class="btn__arrow">
                        <div class="btn__img">
                            <img src="img/svg/services__arrow/left.svg" alt="">
                        </div>
                    </div>
        
                </div>
        
                <div class="btn__arrow__stroke btn__quiz btn__quiz--next">
                    
                    <div class="btn__desc">

                        <img src="img/svg/services__arrow/stroke.svg" alt="">
        
                        <div class="btn__arrow">
                            <div class="btn__img">
                                <img src="img/svg/services__arrow/right.svg" alt="">
                            </div>
                        </div>

                    </div>

                    <div class="btn__mob">
                        <button class="btn --fill --next">Далее</button>
                    </div>
                    
                </div>
        
            </div>

        </div>

        <div class="quiz__page__content" id="quiz__page__two">

            <p class="quiz__answer__num">
                вопрос <span class="num__start">2</span> из <span class="num__end">6</span>
            </p>

            <p class="quiz__page__title">Откуда на данный момент <br>приходят клиенты?</p>
            <p class="quiz__page__text">*возможно несколько вариантов ответа</p>

            <div class="quiz__checkbox__wrapper">

                <div class="quiz__checkbox__body">
                    <input type="checkbox" name="" id="social">
                    <label for="social">социальные<br>сети</label>
                </div>

                <div class="quiz__checkbox__body">
                    <input type="checkbox" name="" id="target">
                    <label for="target">таргетированная<br>реклама</label>
                </div>

                <div class="quiz__checkbox__body">
                    <input type="checkbox" name="" id="context">
                    <label for="context">контекстная<br>реклама</label>
                </div>

                <div class="quiz__checkbox__body">
                    <input type="checkbox" name="" id="seo">
                    <label for="seo">SEO<br>продвижение</label>
                </div>

                <div class="quiz__checkbox__body">
                    <input type="checkbox" name="" id="sundress">
                    <label for="sundress">по<br>«сарафану»</label>
                </div>

                <div class="quiz__checkbox__body">
                    <input type="checkbox" name="" id="none">
                    <label for="none">вообще<br>нет клиентов</label>
                </div>

            </div>

            <div class="quiz__input__body">
                <p class="quiz__input__text">другое</p>
                <input type="text" class="quiz__input">
            </div>

            <div class="quiz__btn__wrapper">

                <div class="btn__arrow__stroke btn__quiz btn__quiz--prev">
        
                    <img src="img/svg/services__arrow/stroke.svg" alt="">
        
                    <div class="btn__arrow">
                        <div class="btn__img">
                            <img src="img/svg/services__arrow/left.svg" alt="">
                        </div>
                    </div>
        
                </div>
        
                <div class="btn__arrow__stroke btn__quiz btn__quiz--next">
                    
                    <div class="btn__desc">

                        <img src="img/svg/services__arrow/stroke.svg" alt="">
        
                        <div class="btn__arrow">
                            <div class="btn__img">
                                <img src="img/svg/services__arrow/right.svg" alt="">
                            </div>
                        </div>

                    </div>

                    <div class="btn__mob">
                        <button class="btn --fill --next">Далее</button>
                    </div>
                    
                </div>
        
            </div>

        </div>

        <div class="quiz__page__content" id="quiz__page__three">

            <p class="quiz__answer__num">
                вопрос <span class="num__start">3</span> из <span class="num__end">6</span>
            </p>

            <p class="quiz__page__title">Какие каналы привлечения клиентов
                <br>хотите использовать/улучшить?</p>
            <p class="quiz__page__text">*возможно несколько вариантов ответа</p>

            <div class="quiz__checkbox__wrapper">

                <div class="quiz__checkbox__body">
                    <input type="checkbox" name="" id="site">
                    <label for="site">сайт</label>
                </div>

                <div class="quiz__checkbox__body">
                    <input type="checkbox" name="" id="social2">
                    <label for="social2">социальные<br>сети</label>
                </div>

                <div class="quiz__checkbox__body">
                    <input type="checkbox" name="" id="context2">
                    <label for="context2">контекстная<br>реклама</label>
                </div>

                <div class="quiz__checkbox__body">
                    <input type="checkbox" name="" id="seo2">
                    <label for="seo2">SEO<br>продвижение</label>
                </div>

                <div class="quiz__checkbox__body">
                    <input type="checkbox" name="" id="all">
                    <label for="all">хочу всё и сразу</label>
                </div>

            </div>

            <div class="btn__decide">
                <button class="btn --fill --not__decide">Ещё не определился, подберите мне</button>
            </div>

            <div class="quiz__btn__wrapper">

                <div class="btn__arrow__stroke btn__quiz btn__quiz--prev">
        
                    <img src="img/svg/services__arrow/stroke.svg" alt="">
        
                    <div class="btn__arrow">
                        <div class="btn__img">
                            <img src="img/svg/services__arrow/left.svg" alt="">
                        </div>
                    </div>
        
                </div>
        
                <div class="btn__arrow__stroke btn__quiz btn__quiz--next">
                    
                    <div class="btn__desc">

                        <img src="img/svg/services__arrow/stroke.svg" alt="">
        
                        <div class="btn__arrow">
                            <div class="btn__img">
                                <img src="img/svg/services__arrow/right.svg" alt="">
                            </div>
                        </div>

                    </div>

                    <div class="btn__mob">
                        <button class="btn --fill --next">Далее</button>
                    </div>
                    
                </div>
        
            </div>

        </div>

        <div class="quiz__page__content" id="quiz__page__four">

            <p class="quiz__answer__num">
                вопрос <span class="num__start">4</span> из <span class="num__end">6</span>
            </p>

            <p class="quiz__page__title">Нужны ли вам <br>дополнительные услуги?</p>
            <p class="quiz__page__text">*возможно несколько вариантов ответа</p>

            <div class="quiz__checkbox__wrapper">

                <div class="quiz__checkbox__body">
                    <input type="checkbox" name="" id="designcb">
                    <label for="designcb">Дизайн <span>(фирменный стиль, дизайн банеров, коммеческих предложений и т.д.)</span></label>
                </div>

                <div class="quiz__checkbox__body">
                    <input type="checkbox" name="" id="analitica">
                    <label for="analitica">Аналитика <span>(Яндекс метрика, Гугл аналитика)</span></label>
                </div>

                <div class="quiz__checkbox__body">
                    <input type="checkbox" name="" id="dontknow">
                    <label for="dontknow">Пока не знаю</label>
                </div>

                <div class="quiz__checkbox__body">
                    <input type="checkbox" name="" id="reputation">
                    <label for="reputation">Повышение репутации <span>в сети</span></label>
                </div>

                <div class="quiz__checkbox__body">
                    <input type="checkbox" name="" id="crm">
                    <label for="crm">CRM-система</label>
                </div>

                <div class="quiz__checkbox__body">
                    <input type="checkbox" name="" id="not">
                    <label for="not">Нет, спасибо</label>
                </div>

            </div>

            <div class="quiz__btn__wrapper">

                <div class="btn__arrow__stroke btn__quiz btn__quiz--prev">
        
                    <img src="img/svg/services__arrow/stroke.svg" alt="">
        
                    <div class="btn__arrow">
                        <div class="btn__img">
                            <img src="img/svg/services__arrow/left.svg" alt="">
                        </div>
                    </div>
        
                </div>
        
                <div class="btn__arrow__stroke btn__quiz btn__quiz--next">
                    
                    <div class="btn__desc">

                        <img src="img/svg/services__arrow/stroke.svg" alt="">
        
                        <div class="btn__arrow">
                            <div class="btn__img">
                                <img src="img/svg/services__arrow/right.svg" alt="">
                            </div>
                        </div>

                    </div>

                    <div class="btn__mob">
                        <button class="btn --fill --next">Далее</button>
                    </div>
                    
                </div>
        
            </div>

        </div>

        <div class="quiz__page__content" id="quiz__page__five">

            <p class="quiz__answer__num">
                вопрос <span class="num__start">5</span> из <span class="num__end">6</span>
            </p>

            <p class="quiz__page__title">Контактная информация</p>

            <div class="quiz__input__wrapper">

                <div class="quiz__input__body">
                    <p class="quiz__input__text mobtext">Ваше имя</p>
                    <input type="text" class="quiz__input" placeholder="Ваше имя">
                </div>
    
                <div class="quiz__input__body">
                    <p class="quiz__input__text mobtext">Ваш телефон</p>
                    <input type="tel" class="quiz__input" placeholder="Ваш телефон" id="phone__mask5">
                </div>

            </div>

            <div class="quiz__btn__wrapper">

                <div class="btn__arrow__stroke btn__quiz btn__quiz--prev">
        
                    <img src="img/svg/services__arrow/stroke.svg" alt="">
        
                    <div class="btn__arrow">
                        <div class="btn__img">
                            <img src="img/svg/services__arrow/left.svg" alt="">
                        </div>
                    </div>
        
                </div>
        
                <div class="btn__arrow__stroke btn__quiz btn__quiz--next">
                    
                    <div class="btn__desc">

                        <img src="img/svg/services__arrow/stroke.svg" alt="">
        
                        <div class="btn__arrow">
                            <div class="btn__img">
                                <img src="img/svg/services__arrow/right.svg" alt="">
                            </div>
                        </div>

                    </div>

                    <div class="btn__mob">
                        <button class="btn --fill --next">Далее</button>
                    </div>
                    
                </div>
        
            </div>

        </div>

        <div class="quiz__page__content" id="quiz__page__six">

            <p class="quiz__answer__num">
                вопрос <span class="num__start">6</span> из <span class="num__end">6</span>
            </p>

            <p class="quiz__page__title">Где вам удобнее провести консультацию?</p>

            <div class="quiz__switch__wrapper">
                
                <div class="quiz__switch__item">

                    <div class="qsi__img">
                        <img src="img/svg/quiz__img/item1.svg" alt="">
                    </div>

                    <p>телефон</p>

                </div>

                <div class="quiz__switch__item">

                    <div class="qsi__img">
                        <img src="img/svg/contacts__social/item1.svg" alt="">
                    </div>

                    <p>Telegram</p>

                </div>

                <div class="quiz__switch__item">

                    <div class="qsi__img">
                        <img src="img/svg/contacts__social/item2.svg" alt="">
                    </div>
                    
                    <p>Viber</p>

                </div>

                <div class="quiz__switch__item">

                    <div class="qsi__img">
                        <img src="img/svg/contacts__social/item3.svg" alt="">
                    </div>

                    <p>WhatsApp</p>

                </div>

            </div>

            <div class="quiz__btn__wrapper">

                <div class="btn__arrow__stroke btn__quiz btn__quiz--prev">
        
                    <img src="img/svg/services__arrow/stroke.svg" alt="">
        
                    <div class="btn__arrow">
                        <div class="btn__img">
                            <img src="img/svg/services__arrow/left.svg" alt="">
                        </div>
                    </div>
        
                </div>
        
                <div class="btn__arrow__stroke btn__quiz btn__quiz--next">
                    
                    <div class="btn__desc">

                        <img src="img/svg/services__arrow/stroke.svg" alt="">
        
                        <div class="btn__arrow">
                            <div class="btn__img">
                                <img src="img/svg/services__arrow/right.svg" alt="">
                            </div>
                        </div>

                    </div>

                    <div class="btn__mob">
                        <button class="btn --fill --next">Далее</button>
                    </div>
                    
                </div>
        
            </div>

        </div>

       <!--  <div class="quiz__page__content" id="quiz__page__final">

            <p class="header__title">Спасибо!</p>
            <p class="header__text">Мы свяжемся с вами в ближайшее время.</p>
            <div class="final__img">
                <img src="img/svg/emoji.svg" alt="">
            </div>

        </div> -->

    </div>

</div>