<section class="selection">

    <div class="selection__container">

        <p class="selection__title">У вас есть бизнес,<br>но продажи не радуют?</p>
        <p class="selection__text">Ответьте на 6 вопросов и мы:</p>

        <div class="selection__item">

            <div class="selection__number">

                <p class="number">01.</p>

                <div class="selection__number__img">
                    <img src="img/selection/number-bg.png" alt="">
                </div>

            </div>

            <p class="selection__text">Бесплатно проведем аудит ваших каналов привлечения клиентов</p>

        </div>

        <div class="selection__item">

            <div class="selection__number">

                <p class="number">02.</p>

                <div class="selection__number__img">
                    <img src="img/selection/number-bg.png" alt="">
                </div>
                
            </div>

            <p class="selection__text">Подберем наиболее эффективные каналы привлечения</p>

        </div>

        <div class="selection__item">

            <div class="selection__number">

                <p class="number">03.</p>

                <div class="selection__number__img">
                    <img src="img/selection/number-bg.png" alt="">
                </div>
                
            </div>

            <p class="selection__text">Подготовим индивидуальное предложение с рекомендациями по увеличению продаж</p>
            
        </div>

        <button class="btn --fill --selection" data-path="quizmodal" data-animation="fade" data-speed="300">Подобрать эффективный<br>канал продаж</button>

        <div class="selection__images">
            <img src="img/portfolio__decor.png" alt="">
        </div>

    </div>

    <div class="selection__images--man">
        <img src="img/selection/man-03.png" alt="">
    </div>

</section>

<div class="section__line"></div>