<section class="services">

    <div class="services__container">
        
        <p class="services__title">Услуги</p>
        <p class="services__discript">Делаем все что нужно<br>для полноценнного ведения бизнеса в интернете</p>


        <ul class="tabs">
            <li><a href="#tab1"><div class="svg__services__icon"><img class="img-svg" src="img/svg/services__tabs/item1.svg" alt=""></div>Разработка</a></li>
            <li><a href="#tab2"><div class="svg__services__icon"><img class="img-svg" src="img/svg/services__tabs/item2.svg" alt=""></div>Продвижение</a></li>
            <li><a href="#tab3"><div class="svg__services__icon"><img class="img-svg" src="img/svg/services__tabs/item3.svg" alt=""></div>Дизайн</a></li>
            <li><a href="#tab4"><div class="svg__services__icon"><img class="img-svg" src="img/svg/services__tabs/item4.svg" alt=""></div>Аналитика</a></li>
        </ul>

        <div class="tab_container">

            <div class="tab_content" id="tab1">

                Контент вкладки: Разработка
                
                <!-- <ul class="tabs_child">
                    <li><a href="#tab11">Модификация</a></li>
                    <li><a href="#tab12">Модификация</a></li>
                    <li><a href="#tab13">Модификация</a></li>
                </ul> -->

                <!-- <div class="tab_container_child">

                    <div class="tab_content_child" id="tab11">
                    
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ipsum nisi, egestas et mi semper, interdum gravida dolor. In vitae scelerisque orci, sed interdum orci. In hac habitasse platea dictumst. Vivamus vitae velit adipiscing, porttitor sem in, egestas lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dapibus lacinia viverra. Duis a quam vitae magna pellentesque laoreet quis id ipsum. Morbi commodo, augue nec ullamcorper euismod, tortor massa convallis erat, vel egestas lorem urna ut justo. Aliquam erat volutpat. Integer sagittis iaculis purus, sed tempus sem. Donec non commodo metus. Donec lacinia ligula ut porta rutrum. Nam mi neque.
                    
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ipsum nisi, egestas et mi semper, interdum gravida dolor. In vitae scelerisque orci, sed interdum orci. In hac habitasse platea dictumst. Vivamus vitae velit adipiscing, porttitor sem in, egestas lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dapibus lacinia viverra. Duis a quam vitae magna pellentesque laoreet quis id ipsum. Morbi commodo, augue nec ullamcorper euismod, tortor massa convallis erat, vel egestas lorem urna ut justo. Aliquam erat volutpat. Integer sagittis iaculis purus, sed tempus sem. Donec non commodo metus. Donec lacinia ligula ut porta rutrum. Nam mi neque.
                    
                    </div>

                </div> -->

            </div>

            <div class="tab_content" id="tab2">

                Контент вкладки: Продвижение

            </div>

            <div class="tab_content" id="tab3">

                Контент вкладки: Дизайн

            </div>

            <div class="tab_content" id="tab4">

                Контент вкладки: Аналитика

            </div>

        </div>

    </div>
</section>

<div class="section__line"></div>