// main: ../../style.less

.Experts{
    margin-top: 35px;
}

.experts__body{
    width: 235px;
    height: 414px;
    background-color: #F8F8F8;
    padding: 22px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    .experts__images{
        width: fit-content;
        height: fit-content;
        
        img{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 147px;
            height: 147px;
            border-radius: 50%;
        }
    }

    .experts__name{
        font-size: 18px;
        font-family: @semibold;
        color: @gray;
        line-height: 25px;
    }

    .experts__spec{
        font-size: 18px;
        font-family: @regular;
        color: @gray;
        line-height: 25px;
    }
}

.swiper-button-prev{
    
}

.content__slider{
    .content__container{
        .content__blog{
            width: 70%;
        }
    }
}