.btn{
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    user-select: none;
    font-family: $DTW-Medium;
}

.btn.--transparent-fill{
    font-family: $DTW-Medium;
    font-size: vw(14);
    width: vw(219);
    height: vw(51);
    border: vw(1) solid #00DBE0;
    box-shadow: 0px vw(1) vw(15) rgba(0, 96, 98, 0.56);
    border-radius: vw(125);
    transition: background .3s ease;
}

.btn.--transparent-fill:hover{
    background-color: #00DBE0;
    transition: background .3s ease;
}

.btn.--fill{
    background: linear-gradient(321.97deg, #12989B 25.19%, #07C3C8 84.94%);
    border: vw(1) solid #00DBE0;
    font-size: vw(15);
    border-radius: vw(124);
    line-height: 140%;
    text-transform: uppercase;
    span{
        font-family: $MS-Light;
        font-size: vw(14);
        text-transform: none;
    }
}

.btn.--hero{
    width: vw(338);
    height: vw(110);
    margin-top: vw(45);
}

.btn.--discuss{
    width: vw(338);
    height: vw(98);
}

@media (max-width: 990px){
    .btn.--hero{
        width: vmin(338);
        height: vmin(110);
        margin-top: vmin(45);
    }

    .btn.--fill{
        background: linear-gradient(321.97deg, #12989B 25.19%, #07C3C8 84.94%);
        border: vmin(1) solid #00DBE0;
        font-size: vmin(15);
        border-radius: vmin(124);
        line-height: 140%;
        text-transform: uppercase;
        span{
            font-family: $MS-Light;
            font-size: vmin(14);
            text-transform: none;
        }
    }

    .btn.--discuss{
        width: vmin(282);
        height: vmin(62);
    }
}