/* stylelint-disable */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[class*=__container] {
  width: 100%;
  max-width: 85.8711566618vw;
  padding: 0 0.7320644217vw;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-pointer-events.swiper-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

.swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* 3D Effects */
.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-ordinal-group: 10000;
  -ms-flex-order: 9999;
  order: 9999;
}
.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}
.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}
.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

.header__menu {
  background-color: #2B2B2B;
  height: 5.8565153734vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu__container .search {
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-left: 5.8565153734vw;
}
.menu__container .search.disable {
  border: none;
}
.menu__container .search.disable input {
  width: 0;
}
.menu__container .search.disable .search__ico {
  margin-left: 13.17715959vw;
}
.menu__container .search input {
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.menu__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a.menu__logo {
  width: 9.224011713vw;
  height: 4.5387994143vw;
}
a.menu__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.menu__nav {
  width: 39.8243045388vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 3.2942898975vw;
}
.menu__nav a.nav__item {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.2445095168vw;
  -webkit-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color;
}
.menu__nav a.nav__item:hover {
  color: rgba(255, 255, 255, 0.6);
}

.menu__burger {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 3.2942898975vw;
  height: 2.5622254758vw;
  cursor: pointer;
}
.menu__burger span {
  position: relative;
  height: 0.1098096633vw;
  width: 100%;
  background: #fff;
}
.menu__burger span::after {
  content: "";
  position: absolute;
  height: 0.1098096633vw;
  width: 100%;
  background: #fff;
  top: 0.878477306vw;
  left: 0;
}
.menu__burger span::before {
  content: "";
  position: absolute;
  height: 0.1098096633vw;
  width: 100%;
  background: #fff;
  top: -0.878477306vw;
  left: 0;
}

.menu__right {
  width: 29.2825768668vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__intro {
  position: relative;
  background: url("../img/intro.png") no-repeat center;
  background-size: 100%;
  height: 45.3879941435vw;
  width: 100%;
}

.intro__content {
  width: 84.5534407028vw;
  height: 27.6720351391vw;
  background: -o-linear-gradient(359.82deg, #222222 3.44%, rgba(43, 43, 43, 0.3) 55.56%, rgba(255, 255, 255, 0.05) 81.76%);
  background: linear-gradient(90.18deg, #222222 3.44%, rgba(43, 43, 43, 0.3) 55.56%, rgba(255, 255, 255, 0.05) 81.76%);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 4.0263543192vw;
}
.intro__content p.title {
  text-transform: uppercase;
  font-size: 3.4407027818vw;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 662;
  line-height: 120%;
}
.intro__content p.title span {
  color: #57C54E;
}
.intro__content p.text {
  font-size: 1.9765739385vw;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 2.9282576867vw;
}
.intro__content button.intro {
  width: 21.9619326501vw;
  height: 5.1976573939vw;
  border-radius: 3.2942898975vw;
  background: -webkit-gradient(linear, left top, right top, from(#067C48), to(#3CBA92));
  background: -o-linear-gradient(left, #067C48 0%, #3CBA92 100%);
  background: linear-gradient(90deg, #067C48 0%, #3CBA92 100%);
  cursor: pointer;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2445095168vw;
  font-weight: 500;
  margin-top: 2.196193265vw;
}

.intro__btn {
  position: absolute;
  bottom: 4.39238653vw;
  right: 18.8872620791vw;
}

.intro__btn__images {
  width: 3.6603221083vw;
  height: 3.7335285505vw;
}
.intro__btn__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (min-width: 1600px) {
  .header__menu {
    height: 5vw;
  }
  .menu__container .search {
    margin-left: 5vw;
  }
  .menu__container .search.disable .search__ico {
    margin-left: 11.25vw;
  }
  a.menu__logo {
    width: 7.875vw;
    height: 3.875vw;
  }
  .menu__nav {
    width: 34vw;
    margin-left: 2.8125vw;
  }
  .menu__nav a.nav__item {
    font-size: 1.0625vw;
  }
  .menu__burger {
    width: 2.8125vw;
    height: 2.1875vw;
  }
  .menu__burger span {
    height: 0.09375vw;
  }
  .menu__burger span::after {
    height: 0.09375vw;
    top: 0.75vw;
  }
  .menu__burger span::before {
    height: 0.09375vw;
    top: -0.75vw;
  }
  .menu__right {
    width: 25vw;
  }
  .header__intro {
    height: 38.75vw;
  }
  .intro__content {
    width: 72.1875vw;
    height: 23.625vw;
    padding-left: 3.4375vw;
  }
  .intro__content p.title {
    font-size: 2.9375vw;
  }
  .intro__content p.text {
    font-size: 1.6875vw;
    margin-top: 2.5vw;
  }
  .intro__content button.intro {
    width: 18.75vw;
    height: 4.4375vw;
    border-radius: 2.8125vw;
    font-size: 1.0625vw;
    margin-top: 1.875vw;
  }
  .intro__btn {
    bottom: 3.75vw;
    right: 16.125vw;
  }
  .intro__btn__images {
    width: 3.125vw;
    height: 3.1875vw;
  }
}
.product__info {
  padding: 4.0263543192vw 0;
}
.product__info p.header {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #222222;
  line-height: 110%;
  font-size: 2.7086383602vw;
}
.product__info .product__info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 6.9546120059vw;
  -moz-column-gap: 6.9546120059vw;
  column-gap: 6.9546120059vw;
  row-gap: 3.6603221083vw;
}
.product__info .product__info__item {
  margin-top: 2.9282576867vw;
  cursor: pointer;
  width: 23.4260614934vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product__info .product__info__item .product__info__image {
  width: 10.980966325vw;
  height: 10.980966325vw;
}
.product__info .product__info__item .product__info__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.product__info .product__info__item p.product__info__text {
  font-size: 1.0980966325vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 1.0980966325vw;
  text-align: center;
}

@media (min-width: 1600px) {
  .product__info {
    padding: 3.4375vw 0;
  }
  .product__info p.header {
    font-size: 2.3125vw;
  }
  .product__info .product__info__container {
    -webkit-column-gap: 5.9375vw;
    -moz-column-gap: 5.9375vw;
    column-gap: 5.9375vw;
    row-gap: 3.125vw;
  }
  .product__info .product__info__item {
    margin-top: 2.5vw;
    width: 20vw;
  }
  .product__info .product__info__item .product__info__image {
    width: 9.375vw;
    height: 9.375vw;
  }
  .product__info .product__info__item p.product__info__text {
    font-size: 0.9375vw;
    margin-top: 0.9375vw;
  }
}
.swiper-slide {
  background: #262626;
  width: 41.7276720351vw;
  height: 27.5256222548vw;
}
.swiper-slide .slide__images {
  height: 27.5256222548vw;
  width: 25.6954612006vw;
}
.swiper-slide .slide__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.swiper-slide .slide__info {
  position: absolute;
  right: 0;
  top: 0;
  height: 20.3513909224vw;
  width: 16.1786237189vw;
  padding: 1.6105417277vw 1.0980966325vw;
}
.swiper-slide .slide__info p.info {
  padding-top: 2.196193265vw;
  color: white;
  font-size: 1.2445095168vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.swiper-slide .slide__info p.info:first-child {
  padding-top: 0;
}
.swiper-slide .slide__info a.more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 4.7584187408vw;
  color: white;
  font-size: 1.2445095168vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: relative;
}
.swiper-slide .slide__info a.more-info::after {
  content: "";
  position: absolute;
  bottom: -0.3660322108vw;
  left: 0;
  width: 9.1508052709vw;
  height: 0.0732064422vw;
  background-color: #fff;
}
.swiper-slide .slide__info a.more-info .mi__images {
  width: 1.317715959vw;
  height: 0.439238653vw;
  margin-left: 0.3660322108vw;
}
.swiper-slide .slide__info a.more-info .mi__images img {
  width: 100%;
  height: 100%;
}

.bestproject__container {
  padding: 5.1244509517vw 0;
}
.bestproject__container p.header {
  font-size: 2.7086383602vw;
  text-transform: uppercase;
  margin-bottom: 2.9282576867vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.slider__wrapper {
  position: relative;
}
.slider__wrapper .swiper-button-prev {
  position: absolute;
  left: -4.39238653vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  width: 3.074670571vw;
  height: 2.0497803807vw;
}
.slider__wrapper .swiper-button-prev img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.slider__wrapper .swiper-button-next {
  position: absolute;
  right: -4.39238653vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  width: 3.074670571vw;
  height: 2.0497803807vw;
}
.slider__wrapper .swiper-button-next img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (min-width: 1600px) {
  .swiper-slide {
    width: 35.625vw;
    height: 23.5vw;
  }
  .swiper-slide .slide__images {
    height: 23.5vw;
    width: 21.9375vw;
  }
  .swiper-slide .slide__info {
    height: 17.375vw;
    width: 18.125vw;
    padding: 1.375vw 0.9375vw;
  }
  .swiper-slide .slide__info p.info {
    padding-top: 1.875vw;
    font-size: 1.0625vw;
  }
  .swiper-slide .slide__info a.more-info {
    padding-top: 4.0625vw;
    font-size: 1.0625vw;
  }
  .swiper-slide .slide__info a.more-info::after {
    bottom: -0.3125vw;
    width: 7.8125vw;
    height: 0.0625vw;
  }
  .swiper-slide .slide__info a.more-info .mi__images {
    width: 1.125vw;
    height: 0.375vw;
    margin-left: 0.3125vw;
  }
  .bestproject__container {
    padding: 4.375vw 0;
  }
  .bestproject__container p.header {
    font-size: 2.3125vw;
    margin-bottom: 2.5vw;
  }
  .slider__wrapper .swiper-button-prev {
    left: -3.75vw;
    width: 2.625vw;
    height: 1.75vw;
  }
  .slider__wrapper .swiper-button-next {
    right: -3.75vw;
    width: 2.625vw;
    height: 1.75vw;
  }
}
.footer {
  width: 100%;
  height: 22.3279648609vw;
  background-color: #2A2A2A;
  padding: 2.9282576867vw 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 27.1595900439vw;
}

p.footer__text {
  font-size: 1.0834553441vw;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.4641288433vw;
  line-height: 120%;
  letter-spacing: 0.0732064422vw;
  padding-top: 2.7818448023vw;
}

.footer__logo {
  width: 9.224011713vw;
  height: 4.5387994143vw;
}
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.footer__right .menu__nav {
  width: 55.3440702782vw;
  margin-left: 0;
}
.footer__right .menu__nav a.nav__item {
  font-size: 1.9765739385vw;
}

.footer__right__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 3.2942898975vw;
}
.footer__right__info .footer__right__text p.footer__text {
  padding-top: 0;
}
.footer__right__info a.footer__number {
  font-family: "Montserrat", sans-serif;
  color: #57C54E;
  font-size: 1.8301610542vw;
  font-family: 500;
}

.footer__right__last {
  margin-top: 3.2942898975vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__right__last .map__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__right__last .map__text .map__images {
  width: 1.5710102489vw;
  height: 1.5710102489vw;
}
.footer__right__last .map__text .map__images img {
  width: 100%;
  height: 100%;
}
.footer__right__last .map__text p.footer__text {
  padding-top: 0;
  padding-left: 0.3660322108vw;
}

.search {
  width: 18.6676427526vw;
  height: 3.7335285505vw;
  border-radius: 2.9282576867vw;
  border: 0.0732064422vw solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.search input {
  width: 100%;
  outline: none;
  border: none;
  height: 3.0014641288vw;
  background-color: transparent;
  padding-left: 1.0980966325vw;
  font-size: 1.2445095168vw;
  color: #888888;
  font-family: "Montserrat", sans-serif;
}
.search .search__ico {
  width: 2.196193265vw;
  height: 2.196193265vw;
  margin-right: 1.0980966325vw;
  cursor: pointer;
}
.search .search__ico img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}

@media (min-width: 1600px) {
  .footer {
    height: 19.0625vw;
    padding: 2.5vw 0;
  }
  .footer__info {
    width: 23.1875vw;
  }
  p.footer__text {
    font-size: 0.925vw;
    font-size: 1.25vw;
    letter-spacing: 0.0625vw;
    padding-top: 2.375vw;
  }
  .footer__logo {
    width: 7.875vw;
    height: 3.875vw;
  }
  .footer__right {
    margin-left: 7.5vw;
  }
  .footer__right .menu__nav {
    width: 47.25vw;
  }
  .footer__right .menu__nav a.nav__item {
    font-size: 1.6875vw;
  }
  .footer__right__info {
    margin-top: 2.8125vw;
  }
  .footer__right__info a.footer__number {
    font-size: 1.5625vw;
  }
  .footer__right__last {
    margin-top: 2.8125vw;
  }
  .footer__right__last .map__text .map__images {
    width: 1.34125vw;
    height: 1.34125vw;
  }
  .footer__right__last .map__text p.footer__text {
    padding-left: 0.3125vw;
  }
  .search {
    width: 15.9375vw;
    height: 3.1875vw;
    border-radius: 2.5vw;
    border: 0.0625vw solid #fff;
  }
  .search input {
    height: 2.5625vw;
    padding-left: 0.9375vw;
    font-size: 1.0625vw;
  }
  .search .search__ico {
    width: 1.875vw;
    height: 1.875vw;
    margin-right: 0.9375vw;
  }
}
.quiz {
  width: 100%;
  /* position: relative;
  display: grid;  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.quiz__nav {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  z-index: 1;
}
.quiz__nav .quiz__nav__images {
  width: 36.4568081991vw;
  height: 73.5724743777vw;
  position: relative;
  z-index: 5;
}
.quiz__nav .quiz__nav__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.quiz__nav .quiz__pagination {
  z-index: 10;
  position: absolute;
  top: 5.1244509517vw;
  left: 5.710102489vw;
}
.quiz__nav .quiz__pagination .quiz__pag__item {
  cursor: pointer;
  font-size: 1.4641288433vw;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 3.2942898975vw;
}
.quiz__nav .quiz__pagination .quiz__pag__item:first-child {
  margin-top: 0;
}
.quiz__nav .quiz__pagination .quiz__pag__item.active {
  color: #57C54E;
}

.guiz__page .quiz__page__content {
  height: 73.5724743777vw;
  position: relative;
}
.guiz__page .quiz__page__content p.header {
  text-align: center;
  padding-top: 5.1244509517vw;
  font-size: 1.9765739385vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  text-transform: uppercase;
}

/* #first__page{
    .quiz__page__content{
        width: vw(900);
    }

} */
.home__item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 2.196193265vw;
  margin-top: 2.9282576867vw;
  padding: 0 5.1244509517vw;
}
.home__item__wrapper .home__item {
  width: 15.6661786237vw;
  height: 17.1303074671vw;
  border: 0.0732064422vw solid #BABABA;
  cursor: pointer;
}
.home__item__wrapper .home__item .home__item__images {
  width: 15.6661786237vw;
  height: 13.8360175695vw;
}
.home__item__wrapper .home__item .home__item__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.home__item__wrapper .home__item p.title {
  text-align: center;
  font-size: 1.0980966325vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 450;
  padding-top: 1.0980966325vw;
}

.btn__quiz--next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 3.4407027818vw;
  right: 4.9780380673vw;
}
.btn__quiz--next p {
  font-size: 1.9765739385vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.btn__quiz--next .btn__next__images {
  width: 1.9765739385vw;
  height: 1.1713030747vw;
  margin-left: 0.3660322108vw;
}
.btn__quiz--next .btn__next__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (min-width: 1600px) {
  .quiz__nav .quiz__nav__images {
    width: 31.125vw;
    height: 62.8125vw;
  }
  .quiz__nav .quiz__pagination {
    top: 4.375vw;
    left: 4.875vw;
  }
  .quiz__nav .quiz__pagination .quiz__pag__item {
    font-size: 1.25vw;
    margin-top: 2.8125vw;
  }
  .guiz__page .quiz__page__content {
    height: 62.8125vw;
  }
  .guiz__page .quiz__page__content p.header {
    padding-top: 4.375vw;
    font-size: 1.6875vw;
  }
  .home__item__wrapper {
    row-gap: 1.875vw;
    margin-top: 2.5vw;
    padding: 0 9.375vw;
  }
  .home__item__wrapper .home__item {
    width: 13.375vw;
    height: 14.625vw;
    border: 0.0625vw solid #BABABA;
  }
  .home__item__wrapper .home__item .home__item__images {
    width: 13.375vw;
    height: 11.8125vw;
  }
  .home__item__wrapper .home__item p.title {
    font-size: 0.9375vw;
    padding-top: 0.9375vw;
  }
  .btn__quiz--next {
    bottom: 2.9375vw;
    right: 8vw;
  }
  .btn__quiz--next p {
    font-size: 1.6875vw;
  }
  .btn__quiz--next .btn__next__images {
    width: 1.6875vw;
    height: 1vw;
    margin-left: 0.3125vw;
  }
}
.reviews__container {
  padding: 4.7584187408vw 0;
}
.reviews__container p.header {
  text-transform: uppercase;
  font-size: 2.7086383602vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.reviews__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.reviews__item {
  position: relative;
  padding-top: 2.5622254758vw;
  padding-left: 6.7349926794vw;
  margin-top: 3.2942898975vw;
}
.reviews__item .reviews__images {
  width: 5.6368960469vw;
  height: 5.6368960469vw;
  position: absolute;
  top: 0;
  left: 0;
}
.reviews__item .reviews__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.reviews__item p.data__text {
  font-size: 1.0980966325vw;
  font-family: "Montserrat", sans-serif;
}
.reviews__item p.data__text span {
  font-weight: 600;
}
.reviews__item .reviews p.data__text:last-child {
  padding-top: 1.0980966325vw;
}
.reviews__item .stars__images {
  width: 8.345534407vw;
  height: 1.0980966325vw;
  margin: 0.7320644217vw 0;
}
.reviews__item .stars__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.reviews__item .reviews__comment {
  width: 30.9663250366vw;
  padding: 2.196193265vw;
  border-radius: 1.4641288433vw;
  background-color: #EFEFEF;
  color: black;
  font-size: 1.0980966325vw;
  font-family: "Montserrat", sans-serif;
}

.reviews__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 5.8565153734vw;
}
.reviews__right p.title {
  font-size: 2.196193265vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.reviews__right button {
  width: 17.2767203514vw;
  height: 4.0995607613vw;
  border-radius: 4.0263543192vw;
  background-color: #4A8854;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.2445095168vw;
  text-transform: uppercase;
  margin-top: 2.196193265vw;
}

.input__wrapp {
  margin-top: 2.9282576867vw;
}
.input__wrapp p.input__name {
  font-size: 1.0980966325vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 1.0980966325vw;
}
.input__wrapp textarea {
  width: 43.9238653001vw;
  height: 13.17715959vw;
  border: 0.0732064422vw solid #000000;
  border-radius: 1.0980966325vw;
  outline: none;
  padding: 1.4641288433vw;
  font-size: 1.0980966325vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  resize: none;
}
.input__wrapp input {
  outline: none;
  border-radius: 1.0980966325vw;
  height: 2.196193265vw;
  border: 0.0732064422vw solid #000000;
  font-size: 1.0980966325vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0 1.4641288433vw;
}
.input__wrapp select {
  width: 15.8857979502vw;
  height: 1.8301610542vw;
  border: 0.0732064422vw solid #000000;
  outline: none;
  font-size: 1.0980966325vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  position: relative;
}

.input__double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.input__double .input__wrapp:first-child input {
  width: 11.9326500732vw;
}
.input__double .input__wrapp:last-child {
  margin-left: 2.196193265vw;
}
.input__double .input__wrapp:last-child input {
  width: 18.5944363104vw;
}

@media (min-width: 1600px) {
  .reviews__container {
    padding: 4.0625vw 0;
  }
  .reviews__container p.header {
    font-size: 2.3125vw;
  }
  .reviews__item {
    padding-top: 2.1875vw;
    padding-left: 5.75vw;
    margin-top: 2.8125vw;
  }
  .reviews__item .reviews__images {
    width: 4.8125vw;
    height: 4.8125vw;
  }
  .reviews__item p.data__text {
    font-size: 0.9375vw;
  }
  .reviews__item .reviews p.data__text:last-child {
    padding-top: 0.9375vw;
  }
  .reviews__item .stars__images {
    width: 7.125vw;
    height: 0.9375vw;
    margin: 0.625vw 0;
  }
  .reviews__item .reviews__comment {
    width: 26.4375vw;
    padding: 1.875vw;
    border-radius: 1.25vw;
    font-size: 0.9375vw;
  }
  .reviews__right {
    margin-left: 10vw;
  }
  .reviews__right p.title {
    font-size: 1.875vw;
  }
  .reviews__right button {
    width: 14.75vw;
    height: 3.5vw;
    border-radius: 3.4375vw;
    font-size: 1.0625vw;
    margin-top: 1.875vw;
  }
  .input__wrapp {
    margin-top: 2.5vw;
  }
  .input__wrapp p.input__name {
    font-size: 0.9375vw;
    margin-bottom: 0.9375vw;
  }
  .input__wrapp textarea {
    width: 37.5vw;
    height: 11.25vw;
    border: 0.0625vw solid #000000;
    border-radius: 0.9375vw;
    padding: 1.25vw;
    font-size: 0.9375vw;
  }
  .input__wrapp input {
    border-radius: 0.9375vw;
    height: 1.875vw;
    border: 0.0625vw solid #000000;
    font-size: 0.9375vw;
    padding: 0 1.25vw;
  }
  .input__wrapp select {
    width: 13.5625vw;
    height: 1.5625vw;
    border: 0.0625vw solid #000000;
    font-size: 0.9375vw;
  }
  .input__double .input__wrapp:first-child input {
    width: 10.1875vw;
  }
  .input__double .input__wrapp:last-child {
    margin-left: 1.875vw;
  }
  .input__double .input__wrapp:last-child input {
    width: 15.875vw;
  }
}
.benefits {
  margin-top: 5.1244509517vw;
  position: relative;
}
.benefits::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 68.8872620791vw;
  height: 0.1464128843vw;
  background-color: #038E00;
  z-index: 10;
}
.benefits::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 36.4568081991vw;
  height: 0.1464128843vw;
  background-color: #038E00;
  z-index: 10;
}

.benefits__images {
  position: absolute;
  right: 0;
  top: 0;
  width: 56.2225475842vw;
  height: 36.6032210835vw;
  z-index: 5;
}
.benefits__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.benefits__container {
  height: 36.6032210835vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.benefits__container p.title {
  font-size: 1.9765739385vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.benefits__container p.text {
  font-size: 1.2445095168vw;
  font-family: "Montserrat", sans-serif;
  width: 32.9428989751vw;
  padding-top: 2.7818448023vw;
}

@media (min-width: 1600px) {
  .benefits {
    margin-top: 4.375vw;
  }
  .benefits::before {
    width: 65.0625vw;
    height: 0.125vw;
  }
  .benefits::after {
    width: 34.875vw;
    height: 0.125vw;
  }
  .benefits__images {
    width: 56.2225475842vw;
    height: 36.6032210835vw;
  }
  .benefits__container {
    height: 36.6032210835vw;
  }
  .benefits__container p.title {
    font-size: 1.6875vw;
  }
  .benefits__container p.text {
    font-size: 1.0625vw;
    width: 28.125vw;
    padding-top: 2.375vw;
  }
}
/*# sourceMappingURL=main.css.map */