/* stylelint-disable */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[class*=__container] {
  width: 100%;
  max-width: 61.09375vw;
  padding: 0 0.5208333333vw;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-pointer-events.swiper-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

.swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* 3D Effects */
.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-ordinal-group: 10000;
  -ms-flex-order: 9999;
  order: 9999;
}
.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}
.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}
.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

.header__menu {
  background-color: #2B2B2B;
  height: 4.1666666667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu__container .search {
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-left: 4.1666666667vw;
}
.menu__container .search.disable {
  border: none;
}
.menu__container .search.disable input {
  width: 0;
}
.menu__container .search.disable .search__ico {
  margin-left: 9.375vw;
}
.menu__container .search input {
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.menu__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a.menu__logo {
  width: 6.5625vw;
  height: 3.2291666667vw;
}
a.menu__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.menu__nav {
  width: 28.3333333333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 2.34375vw;
}
.menu__nav a.nav__item {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 0.8854166667vw;
  -webkit-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color;
}
.menu__nav a.nav__item:hover {
  color: rgba(255, 255, 255, 0.6);
}

.menu__burger {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 2.34375vw;
  height: 1.8229166667vw;
  cursor: pointer;
}
.menu__burger span {
  position: relative;
  height: 0.078125vw;
  width: 100%;
  background: #fff;
}
.menu__burger span::after {
  content: "";
  position: absolute;
  height: 0.078125vw;
  width: 100%;
  background: #fff;
  top: 0.625vw;
  left: 0;
}
.menu__burger span::before {
  content: "";
  position: absolute;
  height: 0.078125vw;
  width: 100%;
  background: #fff;
  top: -0.625vw;
  left: 0;
}

.menu__right {
  width: 20.8333333333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__intro {
  position: relative;
  background: url("../img/intro.png") no-repeat center;
  background-size: 100%;
  height: 32.2916666667vw;
  width: 100%;
}

.intro__content {
  width: 60.15625vw;
  height: 19.6875vw;
  background: -o-linear-gradient(359.82deg, #222222 3.44%, rgba(43, 43, 43, 0.3) 55.56%, rgba(255, 255, 255, 0.05) 81.76%);
  background: linear-gradient(90.18deg, #222222 3.44%, rgba(43, 43, 43, 0.3) 55.56%, rgba(255, 255, 255, 0.05) 81.76%);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 2.8645833333vw;
}
.intro__content p.title {
  text-transform: uppercase;
  font-size: 2.4479166667vw;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 662;
  line-height: 120%;
}
.intro__content p.title span {
  color: #57C54E;
}
.intro__content p.text {
  font-size: 1.40625vw;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 2.0833333333vw;
}
.intro__content button.intro {
  width: 15.625vw;
  height: 3.6979166667vw;
  border-radius: 2.34375vw;
  background: -webkit-gradient(linear, left top, right top, from(#067C48), to(#3CBA92));
  background: -o-linear-gradient(left, #067C48 0%, #3CBA92 100%);
  background: linear-gradient(90deg, #067C48 0%, #3CBA92 100%);
  cursor: pointer;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8854166667vw;
  font-weight: 500;
  margin-top: 1.5625vw;
}

.intro__btn {
  position: absolute;
  bottom: 3.125vw;
  right: 13.4375vw;
}

.intro__btn__images {
  width: 2.6041666667vw;
  height: 2.65625vw;
}
.intro__btn__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.product__info {
  padding: 2.8645833333vw 0;
}
.product__info p.header {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #222222;
  line-height: 110%;
  font-size: 1.9270833333vw;
}
.product__info .product__info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.product__info .product__info__item {
  margin-top: 2.0833333333vw;
  cursor: pointer;
  width: 16.6666666667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product__info .product__info__item .product__info__image {
  width: 7.8125vw;
  height: 7.8125vw;
}
.product__info .product__info__item .product__info__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.product__info .product__info__item p.product__info__text {
  font-size: 0.78125vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 0.78125vw;
  text-align: center;
}

.swiper-slide {
  background: #262626;
  width: 29.6875vw;
  height: 19.5833333333vw;
}
.swiper-slide .slide__images {
  height: 19.5833333333vw;
  width: 18.28125vw;
}
.swiper-slide .slide__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.swiper-slide .slide__info {
  position: absolute;
  right: 0;
  top: 0;
  height: 14.4791666667vw;
  width: 11.5104166667vw;
  padding: 1.1458333333vw 0.78125vw;
}
.swiper-slide .slide__info p.info {
  padding-top: 1.5625vw;
  color: white;
  font-size: 0.8854166667vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.swiper-slide .slide__info p.info:first-child {
  padding-top: 0;
}
.swiper-slide .slide__info a.more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 3.3854166667vw;
  color: white;
  font-size: 0.8854166667vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: relative;
}
.swiper-slide .slide__info a.more-info::after {
  content: "";
  position: absolute;
  bottom: -0.2604166667vw;
  left: 0;
  width: 6.5104166667vw;
  height: 0.0520833333vw;
  background-color: #fff;
}
.swiper-slide .slide__info a.more-info .mi__images {
  width: 0.9375vw;
  height: 0.3125vw;
  margin-left: 0.2604166667vw;
}
.swiper-slide .slide__info a.more-info .mi__images img {
  width: 100%;
  height: 100%;
}

.bestproject__container {
  padding: 3.6458333333vw 0;
}
.bestproject__container p.header {
  font-size: 1.9270833333vw;
  text-transform: uppercase;
  margin-bottom: 2.0833333333vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.slider__wrapper {
  position: relative;
}
.slider__wrapper .swiper-button-prev {
  position: absolute;
  left: -3.125vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  width: 2.1875vw;
  height: 1.4583333333vw;
}
.slider__wrapper .swiper-button-prev img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.slider__wrapper .swiper-button-next {
  position: absolute;
  right: -3.125vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  width: 2.1875vw;
  height: 1.4583333333vw;
}
.slider__wrapper .swiper-button-next img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.footer {
  width: 100%;
  height: 15.8854166667vw;
  background-color: #2A2A2A;
  padding: 2.0833333333vw 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 19.3229166667vw;
}

p.footer__text {
  font-size: 0.7708333333vw;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.0416666667vw;
  line-height: 120%;
  letter-spacing: 0.0520833333vw;
  padding-top: 1.9791666667vw;
}

.footer__logo {
  width: 6.5625vw;
  height: 3.2291666667vw;
}
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.footer__right .menu__nav {
  width: 39.375vw;
  margin-left: 0;
}
.footer__right .menu__nav a.nav__item {
  font-size: 1.40625vw;
}

.footer__right__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2.34375vw;
}
.footer__right__info .footer__right__text p.footer__text {
  padding-top: 0;
}
.footer__right__info a.footer__number {
  font-family: "Montserrat", sans-serif;
  color: #57C54E;
  font-size: 1.3020833333vw;
  font-family: 500;
}

.footer__right__last {
  margin-top: 2.34375vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__right__last .map__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__right__last .map__text .map__images {
  width: 1.1177083333vw;
  height: 1.1177083333vw;
}
.footer__right__last .map__text .map__images img {
  width: 100%;
  height: 100%;
}
.footer__right__last .map__text p.footer__text {
  padding-top: 0;
  padding-left: 0.2604166667vw;
}

.search {
  width: 13.28125vw;
  height: 2.65625vw;
  border-radius: 2.0833333333vw;
  border: 0.0520833333vw solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.search input {
  width: 100%;
  outline: none;
  border: none;
  height: 2.1354166667vw;
  background-color: transparent;
  padding-left: 0.78125vw;
  font-size: 0.8854166667vw;
  color: #888888;
  font-family: "Montserrat", sans-serif;
}
.search .search__ico {
  width: 1.5625vw;
  height: 1.5625vw;
  margin-right: 0.78125vw;
  cursor: pointer;
}
.search .search__ico img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}

.quiz {
  width: 100%;
  /* position: relative;
  display: grid;  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.quiz__nav {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  z-index: 1;
}
.quiz__nav .quiz__nav__images {
  width: 39.0625vw;
  height: 52.34375vw;
  position: relative;
  z-index: 5;
}
.quiz__nav .quiz__nav__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.quiz__nav .quiz__pagination {
  z-index: 10;
  position: absolute;
  top: 3.6458333333vw;
  left: 5.1041666667vw;
}
.quiz__nav .quiz__pagination .quiz__pag__item {
  cursor: pointer;
  font-size: 1.0416666667vw;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 2.34375vw;
}
.quiz__nav .quiz__pagination .quiz__pag__item:first-child {
  margin-top: 0;
}
.quiz__nav .quiz__pagination .quiz__pag__item.active {
  color: #57C54E;
}

.guiz__page .quiz__page__content {
  height: 52.34375vw;
  position: relative;
}
.guiz__page .quiz__page__content p.header {
  text-align: center;
  padding-top: 3.6458333333vw;
  font-size: 1.40625vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  text-transform: uppercase;
}

/* #first__page{
    .quiz__page__content{
        width: vw(900);
    }

} */
.home__item__wrapper {
  /* display: grid;
  grid-template-columns: vw(214) vw(214) vw(214);
  justify-content: space-between; */
  width: 41.6666666667vw;
  /* row-gap: vw(30);
  column-gap: vw(30); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 1.5625vw;
  margin-top: 2.0833333333vw;
  margin-left: 7.2916666667vw;
}
.home__item__wrapper .home__item {
  width: 11.1458333333vw;
  height: 12.1875vw;
  border: 0.0520833333vw solid #BABABA;
  cursor: pointer;
}
.home__item__wrapper .home__item .home__item__images {
  width: 11.1458333333vw;
  height: 9.84375vw;
}
.home__item__wrapper .home__item .home__item__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.home__item__wrapper .home__item p.title {
  text-align: center;
  font-size: 0.78125vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 450;
  padding-top: 0.78125vw;
}

.btn__quiz--next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 2.4479166667vw;
  right: 0;
}
.btn__quiz--next p {
  font-size: 1.40625vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.btn__quiz--next .btn__next__images {
  width: 1.40625vw;
  height: 0.8333333333vw;
  margin-left: 0.2604166667vw;
}
.btn__quiz--next .btn__next__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.reviews__container {
  padding: 3.3854166667vw 0;
}
.reviews__container p.header {
  text-transform: uppercase;
  font-size: 1.9270833333vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.reviews__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.reviews__item {
  position: relative;
  padding-top: 1.8229166667vw;
  padding-left: 4.7916666667vw;
  margin-top: 2.34375vw;
}
.reviews__item .reviews__images {
  width: 4.0104166667vw;
  height: 4.0104166667vw;
  position: absolute;
  top: 0;
  left: 0;
}
.reviews__item .reviews__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.reviews__item p.data__text {
  font-size: 0.78125vw;
  font-family: "Montserrat", sans-serif;
}
.reviews__item p.data__text span {
  font-weight: 600;
}
.reviews__item .reviews p.data__text:last-child {
  padding-top: 0.78125vw;
}
.reviews__item .stars__images {
  width: 5.9375vw;
  height: 0.78125vw;
  margin: 0.5208333333vw 0;
}
.reviews__item .stars__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.reviews__item .reviews__comment {
  width: 22.03125vw;
  padding: 1.5625vw;
  border-radius: 1.0416666667vw;
  background-color: #EFEFEF;
  color: black;
  font-size: 0.78125vw;
  font-family: "Montserrat", sans-serif;
}

.reviews__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 4.1666666667vw;
}
.reviews__right p.title {
  font-size: 1.5625vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.reviews__right button {
  width: 12.2916666667vw;
  height: 2.9166666667vw;
  border-radius: 2.8645833333vw;
  background-color: #4A8854;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 0.8854166667vw;
  text-transform: uppercase;
  margin-top: 1.5625vw;
}

.input__wrapp {
  margin-top: 2.0833333333vw;
}
.input__wrapp p.input__name {
  font-size: 0.78125vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 0.78125vw;
}
.input__wrapp textarea {
  width: 31.25vw;
  height: 9.375vw;
  border: 0.0520833333vw solid #000000;
  border-radius: 0.78125vw;
  outline: none;
  padding: 1.0416666667vw;
  font-size: 0.78125vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  resize: none;
}
.input__wrapp input {
  outline: none;
  border-radius: 0.78125vw;
  height: 1.5625vw;
  border: 0.0520833333vw solid #000000;
  font-size: 0.78125vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0 1.0416666667vw;
}
.input__wrapp select {
  width: 11.3020833333vw;
  height: 1.3020833333vw;
  border: 0.0520833333vw solid #000000;
  outline: none;
  font-size: 0.78125vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.input__double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.input__double .input__wrapp:first-child input {
  width: 8.4895833333vw;
}
.input__double .input__wrapp:last-child {
  margin-left: 1.5625vw;
}
.input__double .input__wrapp:last-child input {
  width: 13.2291666667vw;
}
/*# sourceMappingURL=main.css.map */