/* stylelint-disable */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[class*=__container] {
  width: 100%;
  max-width: 65.8857979502vw;
  padding: 0 0.7320644217vw;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-pointer-events.swiper-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

.swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* 3D Effects */
.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-ordinal-group: 10000;
  -ms-flex-order: 9999;
  order: 9999;
}
.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}
.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}
.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

.header__menu {
  background-color: #2B2B2B;
  height: 4.7584187408vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6.7349926794vw 31.1127379209vw 14.6412884334vw 5.1244509517vw;
  grid-template-columns: 6.7349926794vw 31.1127379209vw 14.6412884334vw 5.1244509517vw;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu__container .search {
  margin-left: 10.980966325vw;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.menu__container .search.disable {
  border: none;
}
.menu__container .search.disable input {
  width: 0;
}

a.menu__logo {
  width: 6.7349926794vw;
  height: 3.2855051245vw;
}
a.menu__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.menu__nav {
  width: 29.2825768668vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 1.8301610542vw;
}
.menu__nav a.nav__item {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 0.878477306vw;
  -webkit-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color;
}
.menu__nav a.nav__item:hover {
  color: rgba(255, 255, 255, 0.6);
}

.header__intro {
  position: relative;
  background: url("../img/intro.png") no-repeat center;
  background-size: 100%;
  height: 33.3089311859vw;
  width: 100%;
}

.intro__content {
  width: 62.2254758419vw;
  height: 20.4245973646vw;
  background: -o-linear-gradient(359.82deg, #222222 3.44%, rgba(43, 43, 43, 0.3) 55.56%, rgba(255, 255, 255, 0.05) 81.76%);
  background: linear-gradient(90.18deg, #222222 3.44%, rgba(43, 43, 43, 0.3) 55.56%, rgba(255, 255, 255, 0.05) 81.76%);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 3.074670571vw;
}
.intro__content p.title {
  text-transform: uppercase;
  font-size: 1.9765739385vw;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 662;
  line-height: 120%;
}
.intro__content p.title span {
  color: #57C54E;
}
.intro__content p.text {
  font-size: 1.3909224012vw;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 2.1229868228vw;
}
.intro__content button.intro {
  width: 16.2518301611vw;
  height: 3.8067349927vw;
  border-radius: 2.4158125915vw;
  background: -webkit-gradient(linear, left top, right top, from(#067C48), to(#3CBA92));
  background: -o-linear-gradient(left, #067C48 0%, #3CBA92 100%);
  background: linear-gradient(90deg, #067C48 0%, #3CBA92 100%);
  cursor: pointer;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.878477306vw;
  font-weight: 500;
  margin-top: 1.6105417277vw;
}

.intro__btn {
  position: absolute;
  bottom: 4.39238653vw;
  right: 18.8872620791vw;
}

.intro__btn__images {
  width: 3.6603221083vw;
  height: 3.7335285505vw;
}
.intro__btn__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.product__info {
  padding: 4.0263543192vw 0;
}
.product__info p.header {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #222222;
  line-height: 110%;
  font-size: 1.9765739385vw;
}
.product__info .product__info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.product__info .product__info__item {
  margin-top: 2.196193265vw;
  cursor: pointer;
  width: 17.0571010249vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product__info .product__info__item .product__info__image {
  width: 8.1259150805vw;
  height: 8.1259150805vw;
}
.product__info .product__info__item .product__info__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.product__info .product__info__item p.product__info__text {
  font-size: 0.8052708638vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 0.8052708638vw;
  text-align: center;
}

.swiper-slide {
  background: #262626;
  width: 30.8199121523vw;
  height: 20.3513909224vw;
}
.swiper-slide .slide__images {
  height: 20.3513909224vw;
  width: 18.9604685212vw;
}
.swiper-slide .slide__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.swiper-slide .slide__info {
  position: absolute;
  right: 0;
  top: 0;
  height: 20.3513909224vw;
  width: 13.17715959vw;
  padding: 1.0834553441vw;
}
.swiper-slide .slide__info p.info {
  padding-top: 1.8301610542vw;
  color: white;
  font-size: 0.878477306vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.swiper-slide .slide__info p.info:first-child {
  padding-top: 0;
}
.swiper-slide .slide__info a.more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 4.0263543192vw;
  color: white;
  font-size: 0.878477306vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: relative;
}
.swiper-slide .slide__info a.more-info::after {
  content: "";
  position: absolute;
  bottom: -0.3660322108vw;
  left: 0;
  width: 6.8448023426vw;
  height: 0.0732064422vw;
  background-color: #fff;
}
.swiper-slide .slide__info a.more-info .mi__images {
  width: 1.317715959vw;
  height: 0.439238653vw;
  margin-left: 0.3660322108vw;
}
.swiper-slide .slide__info a.more-info .mi__images img {
  width: 100%;
  height: 100%;
}

.bestproject__container {
  padding: 4.0263543192vw 0;
}
.bestproject__container p.header {
  font-size: 1.9765739385vw;
  text-transform: uppercase;
  margin-bottom: 2.1229868228vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.slider__wrapper {
  position: relative;
}
.slider__wrapper .swiper-button-prev {
  position: absolute;
  left: -3.2210834553vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  width: 3.074670571vw;
  height: 2.0497803807vw;
}
.slider__wrapper .swiper-button-prev img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.slider__wrapper .swiper-button-next {
  position: absolute;
  right: -3.2210834553vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  width: 3.074670571vw;
  height: 2.0497803807vw;
}
.slider__wrapper .swiper-button-next img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.footer {
  width: 100%;
  height: 16.2518301611vw;
  background-color: #2A2A2A;
  padding: 1.6105417277vw 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 20.1317715959vw;
}

p.footer__text {
  font-size: 1.0834553441vw;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 0.878477306vw;
  line-height: 120%;
  letter-spacing: 0.0732064422vw;
  padding-top: 2.7818448023vw;
}

.footer__logo {
  width: 6.7349926794vw;
  height: 3.2855051245vw;
}
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.footer__right .menu__nav {
  width: 43.9238653001vw;
  margin-left: 0;
}
.footer__right .menu__nav a.nav__item {
  font-size: 1.317715959vw;
}

.footer__right__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 3.2942898975vw;
}
.footer__right__info .footer__right__text p.footer__text {
  padding-top: 0;
}
.footer__right__info a.footer__number {
  font-family: "Montserrat", sans-serif;
  color: #57C54E;
  font-size: 1.3909224012vw;
  font-family: 500;
}

.footer__right__last {
  margin-top: 3.2942898975vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__right__last .map__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__right__last .map__text .map__images {
  width: 1.5710102489vw;
  height: 1.5710102489vw;
}
.footer__right__last .map__text .map__images img {
  width: 100%;
  height: 100%;
}
.footer__right__last .map__text p.footer__text {
  padding-top: 0;
  padding-left: 0.3660322108vw;
}

.search {
  width: 15.0073206442vw;
  height: 3.0014641288vw;
  border-radius: 2.9282576867vw;
  border: 0.0292825769vw solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.search input {
  width: 100%;
  outline: none;
  border: none;
  height: 3.0014641288vw;
  background-color: transparent;
  padding-left: 1.0980966325vw;
  font-size: 0.878477306vw;
  color: #888888;
  font-family: "Montserrat", sans-serif;
}
.search .search__ico {
  width: 1.6251830161vw;
  height: 1.6251830161vw;
  margin-right: 1.0980966325vw;
  cursor: pointer;
}
.search .search__ico img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}
/*# sourceMappingURL=main.css.map */