// main: ../../style.less

p.intro__header{
    color: @orange-lighter;
    width: 500px;
    font-size: 48px;
    font-family: @bold;
    line-height: 103%;
}

p.intro__text{
    width: 546px;
    color: white;
    line-height: 103%;
    font-size: 14px;
    padding-top: 20px;
}

.intro__btn{
    margin-top: 40px;
    display: flex;
    
    .btn{
        &:last-child{
            margin-left: 15px;
        }
    }
}

@media (max-width: 680px){
    p.intro__header{
        color: @orange-lighter;
        width: 480px;
        font-size: 40px;
        font-family: @bold;
        line-height: 103%;
    }
    
    p.intro__text{
        width: 480px;
        color: white;
        line-height: 103%;
        font-size: 14px;
        padding-top: 20px;
    }
}

@media (max-width: 640px){
    .intro__btn{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: -25px;
        z-index: 15;
        left: 50%;
        transform: translateX(-50%);
        
        .btn{
            &:last-child{
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }

    p.intro__header{
        font-size: 36px;
    }
}

@media (max-width: 400px){
    .intro__btn{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        z-index: 15;
        left: 50%;
        transform: translateX(-50%);
        
        .btn{
            &:last-child{
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }

    p.intro__header{
        font-size: 36px;
    }
}

@media (max-width: 440px){
    p.intro__text{
        margin-bottom: 40px;
    }
}

@media (max-width: 394px){
    p.intro__text{
        margin-bottom: 0;
    }
}

@media (max-width: 375px){
    p.intro__text{
        margin-bottom: 0;
        font-size: 13px;
    }
}


@media (max-width: 530px){
    p.intro__header{
        width: 100%;
    }
    
    p.intro__text{
        width: 100%;
    }
}