// main: ../../style.less

.intro{
    width: 100%;
    height: 600px;
    background: url('../img/intro.png') no-repeat center;
    position: relative;

    .intro__container{
        position: relative;
        margin: 0 auto;
    }
}