// main: ../../style.less

.quality{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    .quality__container{
        display: flex;
        justify-content: space-between;

        &.quality__col__3{
            justify-content: center;
            column-gap: 30px;
        }

        .quality__item{
            width: 280px;
            height: 200px;
            background: rgba(255, 255, 255, 0.81);
            box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(27px);
            position: relative;
            padding-top: 25px;
            padding-left: 20px;
            padding-right: 20px;

            .quality__item__numbering{
                position: absolute;
                top: -8px;
                left: -8px;
                width: 60px;
                height: 49px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                background-color: @orange;
                font-size: 25px;
                font-family: @bold;
                color: white;
                user-select: none;
            }

            .quality__item__text{
                font-size: 18px;
                text-align: center;

                span{
                    font-family: @bold;
                }
            }

        }
    }

    
}

@media (min-width: 1024px){
    .quality{
        padding-bottom: 170px;
        .quality__container.quality__wrapp{
            position: absolute;
            top: -75px;
            z-index: 55;
        }
    }
}


@media (max-width: 1024px){
    .quality{
        margin: 30px 0;

        .quality__container{
            display: grid;
            grid-template-columns: 280px 280px;
            justify-content: space-around;
            row-gap: 30px;
        }

        .quality__container.quality__wrapp{
            position: static;
        }
    }
}

@media (max-width: 990px){
    .quality{
        .quality__container{
            display: grid;
            grid-template-columns: 250px 250px;
            justify-content: center;
            column-gap: 50px;
            row-gap: 20px;

            .quality__item{
                width: 250px;
            }
        }
    }
}

@media (max-width: 600px){
    .quality{

        .quality__container{
            grid-template-columns: 150px 150px;
            justify-content: center;
            column-gap: 20px;
            row-gap: 30px;

           .quality__item{
                width: 150px;
                height: 260px;
                padding-left: 15px;
                padding-right: 15px; 

                p.quality__item__text{
                    margin-top: 23%;
                }
           }
        }
    }
}
