// main: ../style.less

.section__title{
    position: relative;
    width: fit-content;
    p{
        font-family: @bold;
        font-size: 48px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: -33px;
            bottom: -10px;
            width: 515px;
            height: 34px;
            background-color: @orange;
            z-index: -1;
        }
    }
}

.section__descripts{
    font-size: 18px;
    margin-top: 15px;
    width: 475px;
}

@media (max-width: 600px){
    .section__descripts{
        width: 317px;
    }

    .section__title{
        p{
            &::after{
                left: 0;
                width: 100%;
            }
        }
    }
}