.compare-page{overflow-x:auto}
.compare-page span{padding:2px 5px}
.compare-page .table-bordered td{padding:10px;border-color:#eee}
.compare-page .table-bordered tr td{width:20%}
.compare-page__name{min-width:160px;margin:0 0 10px;font-weight:500}
.compare-page__img{position:relative;margin:0 0 10px}
.compare-page__delete{position:absolute;top:0px;right:0;padding:1px 5px 0;background: rgba(255, 255, 255, .7);border-radius:2px}
.compare-page__price{margin:0 0 5px}
.compare-page__price .price{justify-content:center;margin:0 0 15px;font-size:1.3em}
.compare-page__cart span{padding:0}