@charset "utf-8";
/* CSS Document */

/* Default styles */
html, body, * {
	margin: 0;
	padding: 0;
}

.nodis {
	display: none !important;
}

body {
    position: relative;
    min-width: 1170px;
}
sup {
    font-size: 50%;
}
h1 sup {
    font-size: 42%;
    font-weight: normal;
    top: -1em;
}
.clear {
	clear: both;
}

.center {
	width: 980px;
	margin: 0 auto;
}
video{
	    width: 100%;
    display: block;
    margin: auto;
}
#navigation .our-contacts {
    text-align: right;
}
/*
#navigation .our-contacts{
	position: relative;
	top: -11px;
	float: right;
	text-align: right;
}
*/
#navigation .our-contacts a{
	display: block;
}

#navigation .our-contacts.call{
	text-align: left;
}

#navigation .our-contacts.call a{
	margin:0px;
}

#navigation .call_button {
height: 40px;
width: 130px;
background-color: #3d3d3d;
float: right;
color: #fff;
font-size: 10px;
font-weight: bold;
font-family: "Lato-Bold",sans-serif;
text-align: center;
text-transform: uppercase;
line-height: 40px;
letter-spacing: 1px;
text-decoration: none;
margin: 0;
}


.col .col {
    min-height: 1px;
    width: 50%;
    float: left;
}

section h2 {
	font-family: 'Lato-Bold', sans-serif;
	font-size: 22px;
	color: #4C4B4B;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
}

.sticky {
	height: 100px !important;
	position: fixed;
	top: 0px;
	z-index: 101;
	opacity: 1 !important;
	animation: fadeIn 0.2s linear normal;
    -webkit-animation: fadeIn 0.2s linear normal;
	visibility: none;
}

.fady {
	position: fixed;
	top: 0px;
	height: 0px !important;
	animation: fadeOut 0.2s linear normal;
    -webkit-animation: fadeOut 0.2s linear normal;
	visibility: hidden;
	transition:visibility 0s linear 0.2s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

span.form-error {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 13px;
	color: #D71818;
	position: absolute;
	top: 55px;
	left: 2px;
}

.popup-box span.form-error {
	position: relative;
	margin-top:5px;
	display:block;
	font-weight: bold;
	top:0;
	left:0;
}

.sale span.form-error {
	top: -16px;
	left: 2px;
}

form#question_form span.form-error {
	top: -9px;
	left: 0px;
}

fieldset {
	display: inline-block;
	border: 0;
	position: relative;
}

a.gallery {
	text-decoration: none;
}

/* Header */
header {
	height: 660px;
	background-image: url("../img/telega_header_bg1.jpg");
	/*background-color: #F9F9F9;*/
	background-repeat: no-repeat;
	background-position: center top;
	border-bottom: 13px #42413E solid;
}

header#thx_top {
	height: 135px;
	background-color: #F9F9F9;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center top;
	border-bottom: 13px #42413E solid;
}

header#thx_top + section#navigation {
	opacity: 1 !important;
	height: 100px !important;
}

.header_info {
	height: 95px;
}

.header_info .col:first-child img {
	margin-top: 30px;
	float: left;
}

.header_logo_vert_line {
	height: 50px;
	width: 1px;
	background-color: #DCDCDC;
	float: left;
	margin-top: 30px;
	margin-left: 10px;
}

.header_logo_text {
height: 65px;
    float: right;
    width: 71%;
    margin-top: 24px;
    margin-left: 13px;
    font-family: 'Lato-Light', sans-serif;
}

.header_logo_text p {
	text-align: left;
	color: #7E7E7E;
	margin-top: 8px;
}

a.call_button {
	height: 40px;
	width: 200px;
	background-color: #3D3D3D;
	margin-top: 35px;
	float: right;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Lato-Bold', sans-serif;
	text-align: center;
	text-transform: uppercase;
	line-height: 40px;
	letter-spacing: 1px;
	text-decoration: none;
}

a.call_button:hover {
	background-color: #595959;
}

header .call_info {
	float: right;
	margin-top: 38px;
	margin-right: 13px;
}

header .call_info p {
	text-align: right;
	color: #42413E;
	font-size: 16px;
	font-family: 'Lato-Regular', sans-serif;
}

header .call_info p span {
	color: #7E7E7E;
	font-size: 14px;
	font-family: 'Lato-Regular', sans-serif;
}

header .call_info p span.default-color a {
	color: #42413E;
}

header .center {
	position: relative;
}

header .header_form {
	width: 580px;
	/*background-color: rgba(180, 180, 180, 0.2);*/
	position: absolute;
	top: 200px;
}

header h1 {
	font-size: 36px;
	font-weight: bold;
	color: #F9B000;
	font-family: 'Raleway-Black', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 36px;
}

header h2 {
	font-size: 20px;
	font-family: 'Lato-Light', sans-serif;
	color: #2e4549;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-top: 8px;
}

.header_form p {
	font-weight: bold;
	font-family: 'Lato-Black', sans-serif;
	color: #F9B000;
	font-size: 20px;
	letter-spacing: 1px;
	margin-top: 25px;
}

.header_form p.condition {
	margin-top: 0;
	color: #4C4B4B;
	font-family: 'Lato-Regular', sans-serif;
	font-weight: normal;
}

#form1 {
	margin-top: 20px;
}

#form1 input {
	height: 50px;
	width: 180px;
	margin-left: 2px;
	font-family: 'Lato-Light';
}

#form1 input[type="text"],
#form1 input[type="tel"] {
	font-size: 15px;
	color: #A0A0A0;
	padding-left: 16px;
	box-sizing: border-box;
	border: 1px #DDD solid;
	color: #646464;
	font-family: 'Lato-Regular', sans-serif;
}

.btn {
    padding: 0 30px;
}

.btn, #form1 input[type="submit"] {
    height: 50px;
    line-height: 48px;
    border: 0;
    font-family: 'Lato-Bold', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #2d4443;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #F9B000;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    display: inline-block;
    text-decoration: none;
}

#form1 input[type="submit"]:hover {
	background-color: #FFC230;
}

/* Меню навигации */
#navigation {
	/*height: 100px;*/
	/*height: 0;*/
	background-color: #FDFDFD;
	border-bottom: 1px #EBEBEB solid;
	width: 100%;
	opacity: 0;
}
#navigation .center {
    display: flex;
    align-items: center;
}
#navigation img {
	height: 44px;
    padding-right: 25px;
    border-right: 1px solid #e1e1e1;
    margin: 28px 0;
	/*margin-top: 29px;*/
	/*float: left;*/
}
#navigation nav {
    display: flex;
    align-items: center;
}

/*.nav_logo_vert_line {
	height: 40px;
	width: 1px;
	background-color: #E1E1E1;
	margin-top: 33px;
	margin-left: 40px;
	float: left;
}*/

/*#navigation nav {
	display: block;
	height: 40px;
	margin-top: 43px;
	float: left;
}*/

#navigation nav a {
	color: #42413E;
	font-family: 'Lato-Regular', sans-serif;
	font-size: 17px;
	margin: 0 15px;
	text-decoration: none;
}

#navigation nav a:hover {
	color: #F3AC01;
}

#navigation nav ul, nav ul>li {
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 0;
}
#navigation nav ul li > ul {
    display: none;
    position: absolute;
    min-width: 480px;
    top: 100%;
    left: -3px;
    padding: 10px 0;
    background: #FFFFFF;
    border: 3px #f6f6f6 solid;
}
#navigation nav ul li > ul li {
    padding: 7px 0;
    display: block;
}
#navigation nav ul li > ul li a {
    font-size: 16px;
    font-family: 'Lato-Light';
}
#navigation nav ul li:hover > ul {
    display: block;
}
nav a.toHome {
	margin: 0 !important;
	text-decoration: underline !important;
}


/* Секция "Выгоды" */
section#gains {
	padding-top: 70px;
	background: url("../img/telega_heading_bg.png") repeat-x 0 80px;
}

#gains > .center > h2 {
	display: block;
	width: 210px;
	margin: 0 auto;
	background-color: #FFF;
}

.gains_list {
	margin-top: 60px;
}

.gains_list .col {
	height: 95px;
	margin-bottom: 35px;
}

.gain_img {
	width: 85px;
	float: left;
}

.gain_text {
	overflow: hidden;
	font-family: 'Lato-Regular', sans-serif;
	color: #636363;
	font-size: 16px;
}

.gain_text span {
	font-family: 'Lato-Bold', sans-serif;
	font-size: 20px;
	color: #F9B000;
	display: inline-block;
	margin-bottom: 12px;
}

/* Секция текста стр. благодарности */
section#thx_message h1 {
	font-family: 'Lato-Light', sans-serif;
	color: #7E7E7E;
	text-align: center;
	font-size: 44px;
	margin-top: 210px;
}

section#thx_message h2 {
	font-family: 'Lato-Regular', sans-serif;
	color: #7E7E7E;
	text-align: center;
	font-size: 13px;
}


/* Секция "О тележках" */
.telega_descr {
	height: 456px;
	width: 100%;
	background-image: url("../img/telega_thisIs_full.jpg");
	background-repeat: no-repeat;
	background-position: top left;
	position: relative;
}

.telega_descr.hydra {
	height: 456px;
	width: 100%;
	background-image: url("../img/telega_thisIs_full-hydra.jpg");
	background-repeat: no-repeat;
	background-position: top left;
	position: relative;
}

.telega_descr.semi {
	height: 456px;
	width: 100%;
	background-image: url("../img/telega_thisIs_full-semi.jpg");
	background-repeat: no-repeat;
	background-position: top left;
	position: relative;
}

.telega_descr > .descr {
	background-color: #FFF;
	border: 1px #DDD solid;
	min-height: 10px;
	min-width: 10px;
	position: absolute;
	top: 0px;
	left: 0px;
	padding-left: 16px;
	box-sizing: border-box;
}

.telega_descr > .descr:hover {
	border-color: #FBD14B;
}

.telega_descr > .descr p {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 14px;
	color: #868585;
	line-height: 18px;
}

.telega_descr.hydra > .part_1 {
	width: 301px;
	height: 89px;
	padding-top: 14px;
	top: 0;
	left: 0;
}

.telega_descr.hydra > .part_2 {
	width: 301px;
	height: 76px;
	padding-top: 18px;
    top: 97px;
	left: 0;
}

.telega_descr.hydra > .part_3 {
	width: 301px;
	height: 46px;
	padding-top: 13px;
	top: 179px;
	left: 0;
}

.telega_descr.hydra > .part_4 {
	width: 301px;
	height: 90px;
	padding-top: 16px;
	top: 233px;
	left: 0;
}

.telega_descr.hydra > .part_5 {
	width: 301px;
	height: 46px;
	padding-top: 13px;
	top: 331px;
	left: 0;
}

.telega_descr.hydra > .part_6 {
	width: 301px;
	height: 69px;
	padding-top: 15px;
	top: 385px;
	left: 0;
}

.telega_descr.hydra > .part_7 {
	width: 301px;
	height: 48px;
	padding-top: 14px;
	top: 0;
	left: 677px;
}

.telega_descr.hydra > .part_8 {
	width: 301px;
	height: 110px;
	padding-top: 16px;
	top: 72px;
	left: 677px;
}

.telega_descr.hydra > .part_9 {
	width: 301px;
	height: 90px;
	padding-top: 17px;
	top: 191px;
	left: 677px;
}

.telega_descr.hydra > .part_10 {
	width: 301px;
	height: 48px;
	padding-top: 13px;
	top: 289px;
	left: 677px;
}

.telega_descr.hydra > .part_11 {
	width: 301px;
	height: 95px;
	padding-top: 20px;
	top: 359px;
	left: 677px;
}

.telega_descr.semi > .part_1 {
	width: 301px;
	height: 89px;
	padding-top: 14px;
	top: 5px;
	left: 0;
}

.telega_descr.semi > .part_2 {
	width: 301px;
	height: 47px;
	padding-top: 13px;
	top: 99px;
	left: 0;
}

.telega_descr.semi > .part_3 {
	width: 301px;
	height: 72px;
	padding-top: 17px;
	top: 152px;
	left: 0;
}

.telega_descr.semi > .part_4 {
	width: 301px;
	height: 72px;
	padding-top: 16px;
	top: 229px;
	left: 0;
}

.telega_descr.semi > .part_5 {
	width: 301px;
	height: 72px;
	padding-top: 16px;
	top: 310px;
	left: 0;
}

.telega_descr.semi > .part_6 {
	width: 301px;
	height: 69px;
	padding-top: 15px;
	top: 387px;
	left: 0;
}

.telega_descr.semi > .part_7 {
	width: 301px;
	height: 48px;
	padding-top: 14px;
	top: 5px;
	left: 672px;
}

.telega_descr.semi > .part_8 {
	width: 301px;
	height: 110px;
	padding-top: 17px;
	top: 77px;
	left: 672px;
}

.telega_descr.semi > .part_9 {
	width: 301px;
	height: 90px;
	padding-top: 17px;
	top: 195px;
	left: 672px;
}

.telega_descr.semi > .part_10 {
	width: 301px;
	height: 47px;
	padding-top: 13px;
	top: 292px;
	left: 672px;
}

.telega_descr.semi > .part_11 {
	width: 301px;
	height: 95px;
	padding-top: 20px;
	top: 361px;
	left: 672px;
}

.telega_descr > .part_1 {
	width: 301px;
	height: 89px;
	padding-top: 14px;
	top: 0;
	left: 0;
}

.telega_descr > .part_2 {
	width: 301px;
	height: 46px;
	padding-top: 13px;
    top: 111px;
	left: 0;
}

.telega_descr > .part_3 {
	width: 301px;
	height: 46px;
	padding-top: 13px;
	top: 190px;
	left: 0;
}

.telega_descr > .part_4 {
	width: 301px;
	height: 46px;
	padding-top: 13px;
	top: 250px;
	left: 0;
}

.telega_descr > .part_5 {
	width: 301px;
	height: 72px;
	padding-top: 14px;
	top: 307px;
	left: 0;
}

.telega_descr > .part_6 {
	width: 301px;
	height: 45px;
	padding-top: 13px;
	top: 411px;
	left: 0;
}

.telega_descr > .part_7 {
	width: 301px;
	height: 69px;
	padding-top: 14px;
	top: 0;
	left: 679px;
}

.telega_descr > .part_8 {
	width: 301px;
	height: 95px;
	padding-top: 15px;
	top: 144px;
	left: 679px;
}

.telega_descr > .part_9 {
	width: 301px;
	height: 110px;
	padding-top: 25px;
	top: 247px;
	left: 679px;
}

.telega_descr > .part_10 {
	width: 301px;
	height: 90px;
	padding-top: 15px;
	top: 366px;
	left: 679px;
}

.highlight {
	position: absolute;
}

.shape_1 {
	top: 155px;
	left: 415px;
	opacity: 0;
}

.shape_2 {
	top: 155px;
	left: 415px;
	opacity: 0;
}

.shape_3 {
	top: 251px;
	left: 411px;
	opacity: 0;
}

.shape_4 {
	top: 238px;
	left: 315px;
	opacity: 0;
}

.shape_5 {
	top: 251px;
	left: 395px;
	opacity: 0;
}

.shape_6 {
	top: 404px;
	left: 343px;
	opacity: 0;
}

.shape_7 {
	top: 252px;
	left: 385px;
	opacity: 0;
}

.shape_8 {
	top: 346px;
	left: 567px;
	opacity: 0;
}

.shape_9 {
	top: 417px;
	left: 503px;
	opacity: 0;
}

.shape_1.hydra {
	top: 215px;
	left: 402px;
	opacity: 0;
}

.shape_2.hydra {
	top: 375px;
	left: 452px;
	opacity: 0;
}

.shape_3.hydra {
	top: 393px;
	left: 372px;
	opacity: 0;
}

.shape_4.hydra {
	top: 35px;
	left: 437px;
	opacity: 0;
}

.shape_5.hydra {
	top: 372px;
	left: 551px;
	opacity: 0;
}

.shape_6.hydra {
	top: 369px;
	left: 493px;
	opacity: 0;
}

.shape_1.semi {
	top: 236px;
	left: 396px;
	opacity: 0;
}

.shape_2.semi {
	top: 261px;
	left: 421px;
	opacity: 0;
}

.shape_3.semi {
	top: 259px;
	left: 416px;
	opacity: 0;
}

.shape_4.semi {
	top: 393px;
	left: 392px;
	opacity: 0;
}

.shape_5.semi {
	top: -5px;
	left: 495px;
	opacity: 0;
}

.shape_6.semi {
	top: 391px;
	left: 569px;
	opacity: 0;
}

.shape_7.semi {
	top: 385px;
	left: 525px;
	opacity: 0;
}

section#thisIs {
	padding: 70px 0;
	background: url("../img/telega_heading_bg.png") repeat-x 0 83px;
}

#thisIs h2 {
	display: block;
	width: 630px;
	margin: 0 auto;
	background-color: #FFF;
}

/* Секция "Хиты" */
section#hits {
	padding-top: 0px;
	background: url("../img/telega_heading_bg.png") repeat-x 0 80px;
}

#hits > .center > h2 {
	display: block;
	width: 500px;
	margin: 0 auto;
	background-color: #FFF;
}

#hits > .center > h3 {
	font-family: 'Lato-Regular', sans-serif;
	color: #656565;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #F3AC01;
	padding-top: 5px;
}

.katalog_hits {
	margin-top: 45px;
	margin-bottom: 50px;
}

p.hit_name {
	font-size: 20px;
	font-family: 'Lato-Bold', sans-serif;
	font-weight: bold;
	color: #F3AC01;
}

p.hit_sec_name {
	font-size: 15px;
	font-family: 'Lato-Regular', sans-serif;
	color: #656363;
	margin-top: 5px;
}

.hit_data {
	height: auto;
	width: 450px;
	border: 2px #ECECEC solid;
	margin-top: 15px;
}

.hit_left {
	margin-right: 40px;
}

.hit_right {
	margin-left: 30px;
}

.r_text > p.hit_name,
.r_text > p.hit_sec_name {
	padding-left: 30px;
	box-sizing: content-box;
}

.hit_data_img {
text-align: center;
border-bottom: 1px #ECECEC solid;
position: relative;
width: 100%;
height: 270px;
padding-top: 15px;
}

.hit_data_img:after {
	content: 'хит продаж';
	display: block;
	height: 38px;
	width: 140px;
	background-color: #F54D56;
	border-left: 4px #DE3841 solid;
	text-align: center;
	line-height: 38px;
	font-family: 'Lato-Regular', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #FFF;
	position: absolute;
	top: -2px;
	left: -2px;
}

.hit_data_img img {
    max-height: 250px;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.items_row .col img {
    max-width: 100%;
    max-height: 240px;
    margin: 0 auto;
}

.items_row > .col:nth-child(3n + 1) {
    clear: both;
}

.hit_data_descr {
	padding: 15px 0;
	border-bottom: 1px #ECECEC solid;
}

.hit_data_descr .col,
.hit_data_price .col {
	padding-left: 30px;
	box-sizing: border-box;
}

.hit_data_descr .col p {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 15px;
	color: #868585;
	line-height: 27px;
}

.hit_data_price {
	padding: 20px 0;
}

.hit_data_price p {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 26px;
	color: #717171;
}

.hit_data_price p sup {
	font-size: 19px;
}

.hit_data_price .new_price p {
	font-family: 'Lato-Bold', sans-serif;
	font-size: 26px;
	color: #868585;
}

.hit_buy_area {
	height: 50px;
	width: 454px;
}

.r_text .hit_buy_area {
	margin-left: 30px;
}

.hit_buy_area a.hit_buy {
	display: block;
	height: 50px;
	width: 230px;
	margin: 0 auto;
	background-color: #FFB400;
	color: #FFF;
	font-family: 'Lato-Bold', sans-serif;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
}

.hit_buy_area a.hit_buy:hover {
	background-color: #FFC230;
}
/* Секция "Скидка" */
section.sale {
	padding: 20px 0;
	background-color: #F8BD31;
}

section.sale h3 {
	font-family: 'Lato-Black', sans-serif;
	font-weight: bold;
	font-size: 23px;
	color: #3D3D3D;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0px;
}

section.sale p {
	color: #FFF;
	font-family: 'Lato-Bold', sans-serif;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
	margin-top: 10px;
}

.sale form {
	margin-top: 10px;
}

.sale form input {
	height: 35px;
	width: 340px;
	margin-left: 2px;
	font-family: 'Lato-Light';
}

.sale form input[type="text"],
.sale form input[type="tel"] {
	font-size: 15px;
	color: #A0A0A0;
	padding-left: 16px;
	box-sizing: border-box;
	border: 1px #DDD solid;
	color: #646464;
	font-family: 'Lato-Regular', sans-serif;
}

.sale form input[type="text"] {
	margin-right: 6px;
}

.sale form input[type="submit"],
.more_prod3 a {
	height: 35px;
	width: 260px;
	border: 0;
	font-family: 'Lato-Regular', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	/*letter-spacing: 2px;*/
	text-transform: uppercase;
	background-color: #3D3D3D;
	margin-left: 18px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	display: inline-block;
	text-align: center;
	line-height: 35px;
}

.sale form input[type="submit"]:hover,
.more_prod3 a:hover{
	background-color: #4E4E4E;
	color: #FFF;
	text-decoration: none;
}

.filter_block {
    padding: 1px 0 21px 0;
    background: #f8bd31;
}

.more_prod ul {
    list-style-type: none;
    padding-left: 0;
}

.more_prod ul li {
    display: inline-block;
    vertical-align: top;
    margin: 0 7px;
	width: 23%;
}

.more_prod ul li img {
	width: 100%;	
}

.more_prod ul li a {
    background: #fff;
    color: #3d3d3d;
    display: block;
    padding: 5px 15px;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 14px;
/*	border: 5px solid #e2e2e2;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  */
}
/*
.more_prod ul li a:hover,
.more_prod ul li a:focus {
	border-color: #d0d0d0;
}
*/
.more_prod ul li a:hover,
.more_prod ul li a:focus {
	text-decoration: none;
}

.more_prod ul li i {
    font-size: 10px;
    position: relative;
    top: -1px;
}

.more_prod ul li a span {
    border-bottom: 1px dashed #7f7f7f;
}

.more_prod ul li a:hover span,
.more_prod ul li a:focus span {
	border-bottom-style: solid;
}

.more_prod, .more_prod3 {
    /*margin: 10px auto 30px;*/
    text-align: center;
}


/* Секция "Весь каталог" */
.items_row {
	margin-top: 40px;
}

.items_row .col {
    margin-bottom: 20px;
}

h3.items_row_name {
	font-family: 'Lato-Light', sans-serif;
	font-size: 20px;
	color: #656363;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.kat_item_data table {
    width: 100%;
}

.kat_item_data table td {
    width: 50%;
}

p.kat_item_name {
	font-family: 'Lato-Bold', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #F3AC01;
}

p.kat_item_sec_name {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 15px;
	color: #656363;
	margin-top: 3px;
}


.kat_item_sec_name a {
	color: #656363;
}

.kat_item_data {
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
	border: 3px #F6F6F6 solid;
	margin-top: 10px;
}
.product:hover .kat_item_data {
	-webkit-box-shadow: 0px -2px 40px -10px rgba(77,77,77,1);
	-moz-box-shadow: 0px -2px 40px -10px rgba(77,77,77,1);
	box-shadow: 0px -2px 40px -10px rgba(77,77,77,1);
}
/*
.kat_item_data:hover, .kat_item_data:focus {
    border-color: #FFB400;
}
*/
#msGallery img {
	max-width: 100%;
}

.item_data_img {
    padding-top: 15px;
    height: 270px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px #f6f6f6 solid;
    width: 100%;
}

.item_data_img img {

max-height: 270px;
	max-width: 100%;
}

.item_data_descr {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 13px;
    line-height: 22px;
    color: #868585;
    padding: 16px 20px;
    border-bottom: 1px #F6F6F6 solid;
}

.item_data_descr p {
	font-family: 'Lato-Bold', sans-serif;
	font-size: 13px;
	line-height: 22px;
	color: #868585;
}

.item_data_descr .col,
.item_data_price .col {
	padding-left: 20px;
	box-sizing: border-box;
}

.item_data_price {
	padding: 20px 0px 0;
}

.items_row .col .more {
	margin-bottom: 15px;
	text-align: center;
}

.items_row .col .more a {
	color: #F3AC01;
	font-size: 16px;
	font-family: 'Lato-Regular', sans-serif;
	text-decoration: underline;	
}

.item_data_price p {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 22px;
	color: #717171;
	margin-bottom: 0;
}

.item_data_price p sup {
	font-size: 14px;
}

.item_data_price .new_price p {
	font-family: 'Lato-Bold', sans-serif;
	font-size: 22px;
	color: #ff0000;
}

.item_buy_area {
	height: 50px;
	text-align: center;
}

.item_buy_area a.buy_button {
	display: block;
	height: 50px;
	/*width: 230px;*/
	margin: 0 auto;
	background-color: #FFB400;
	color: #FFF;
	font-family: 'Lato-Bold', sans-serif;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}

.item_buy_area a.buy_button:hover {
	/*background-color: #FFC230;*/
    background-color: #d89800;
}

/* Секция "Ролики" */
section#rol {
	padding-bottom: 65px;
}

section#rol .items_row > .col {
	width: 230px;
	margin-right: 12px;
	min-height: 100px;
}

section#rol .kat_item_data {
	width: 230px;
	border: 3px #F6F6F6 solid;
	margin-top: 10px;
}

section#rol .item_data_img {
	display: table-cell;
	width: 224px;
	height: 150px;
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px #F6F6F6 solid;
}

section#rol .item_data_descr {
	height: 100px;
	padding: 20px 20px;
	border-bottom: 1px #F6F6F6 solid;
}

section#rol .item_data_descr p {
	line-height: 17px;
	font-family: 'Lato-Regular', sans-serif;
}

section#rol .item_data_price {
	text-align: center;
	font-family: 'Lato-Black', sans-serif;
	font-weight: bold;
}

section#rol .item_buy_area {
	width: 230px;
}

section#rol .item_buy_area a.buy_button {
	width: 236px;
	cursor: pointer;
}

section#rol .item_buy_area a.buy_button:hover {
	background-color: #FFC230;
}

/* Секция "Сертификаты" */
section#certificates {
	background: url("../img/telega_heading_bg.png") repeat-x 0 80px;
    padding: 70px 0;
}

#certificates > .center > h2 {
	display: block;
	width: 220px;
	margin: 0 auto;
	background-color: #FFF;
}

.certificates_area {
	margin-top: 50px;
}

.certificates_area img {
	border: 3px #F6F6F6 solid;
}

.certificates_area .col:nth-child(1) img {
	display: block;
	float: right;
	margin-right: 7px;
}

.certificates_area .col:nth-child(2) img {
	display: block;
	float: left;
	margin-left: 7px;
}

/* Секция "О компании" */
section#company_heading {
	padding-top: 70px;
	background: url("../img/telega_heading_bg.png") repeat-x 0 77px;
}

#company_heading > .center > h2 {
	display: block;
	width: 360px;
	margin: 0 auto;
	background-color: #FFF;
	margin-bottom: 30px;
}

section#company_heading {
	padding-top: 65px;
	padding-bottom: 30px;
}

section#company {
	height: 620px;
	background-image: url("../img/telega_company_bg.jpg");
	background-size: 1920px auto;
	background-position: center top;
	background-repeat: no-repeat;
}

.company_text_area {
	height: 620px;
	width: 560px;
	background-color: rgba(18, 18, 18, 0.9);
}

.company_man {
	height: 180px;
	padding-top: 60px;
	overflow: hidden;
	clear: both;
}

.man_head {
	height: 113px;
	width: 113px;
	margin-left: 30px;
	float: left;
}

.man_head img {
	border-radius: 50%;
	width: 100%;
}

.man_name {
	height: 113px;
	width: 417px;
	float: left;
}

.man_name > p:nth-child(1) {
	font-family: 'Lato-Bold', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #F3AC01;
	padding-left: 15px;
	margin-top: 20px;
}

.man_name > p:nth-child(2) {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 15px;
	color: #FFF;
	padding-left: 15px;
	padding-top: 10px;
}

.company_text {
	margin-top: 10px;
	position: relative;
}

.company_quote {
	height: 13px;
	width: 13px;
	background-image: url("../img/telega_quotes.png");
	position: absolute;
	top: 0px;
	left: 43px;
}

.company_text p {
	padding-left: 65px;
	padding-right: 90px;
	font-family: 'Lato-Regular', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #FFF;
	margin-bottom: 12px;
}

/* Секция "Участие в выставках" */
section#shows {
	padding: 70px 0;
 
}

#shows > .center > h2 {
	display: block;
	width: 330px;
	margin: 0 auto;
	background-color: #FFF;
}

section#shows {
	padding-top: 60px;
}

.shows_doc_area {
	margin-top: 35px;
}

.shows_doc_area img {
	height: 265px;
	width: 182px;
	border: 3px #F6F6F6 solid;
	margin-right: 4px;
}

.info a.polit {
	font-family: 'Lato-Light', sans-serif;
	color: #FFF;
	text-decoration: none;
	margin-top: 20px;
	font-size: 14px;
	display: inline-block;
}

/* Секция "Отзывы" */
section#feedback {
	padding-top: 70px;
	background: url("../img/telega_heading_bg.png") repeat-x 0 62px;
}

#feedback > .center > h2 {
	display: block;
	width: 280px;
	margin: 0 auto;
	background-color: #FFF;
}

section#feedback {
	padding: 50px 0;
}



.feedback_slider {
	height: 373px;
	width: 100%;
	margin-top: 50px;
	position: relative;
}

a.feedback_back,
a.feedback_next {
	height: 373px;
	width: 40px;
	background-color: #ECECEC;
	float: left;
	position: absolute;
}

a.feedback_back {
	background-image: url("../img/telega_feedback_left.png");
	background-position: center center;
	background-repeat: no-repeat;
	/*margin-left: -930px;*/
	left: 0;
}

a.feedback_next {
	background-image: url("../img/telega_feedback_right.png");
	background-position: center center;
	background-repeat: no-repeat;
	/*margin-left: 930px;*/
	right: 5px;
}

a.feedback_back:hover,
a.feedback_next:hover {
	background-color: #E2E2E2;
}

.feedbacks {
	height: 373px;
	width: 880px;
	float: left;
	margin: 0 50px;
	margin-right: 5px;
	overflow: hidden;
	position: relative;
}

.feedback_block {
	height: 370px;
	width: 286px;
	border: 1px #CDCDCD solid;
	float: left;
	margin-right: 5px;
	position: relative;
}

.feedback_block img {
	width: 100%;
}

.left_part {
	height: 413px;
	width: 160px;
	border-right: 1px #CCC solid;
	float: left;
	background-color: #FFF;
	padding-top: 33px;
	box-sizing: border-box;
}

.left_part img {
	display: block;
	height: 110px;
	width: 110px;
	margin: 0 auto;
	border-radius: 50%;
}

.left_part img.feedback_letter {
	border: 2px #FFB812 solid;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 0;
	height: auto;
}

.left_part p {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 13px;
	color: #F3AC01;
	box-sizing: border-box;
	padding-left: 21px;
	margin-top: 10px;
}

.right_part {
	height: 413px;
	width: 273px;
	float: left;
	background-color: #FFF;
	padding-top: 33px;
	padding-left: 20px;
	box-sizing: border-box;
}

p.feedback_name {
	font-family: 'Lato-Bold', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #F3AC01;
}

p.feedback_post {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 15px;
	color: #656363;
	line-height: 22px;
}

p.feedback_message {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 14px;
	color: #868585;
	line-height: 22px;
	margin-top: 20px;
}

/* Секция "Контакты" */

section#adres_row {
	height: 80px;
	background-color: rgba(18, 18, 18, 0.9);
	position: relative;
}

div.adres_row .col {
	height: 80px;
	width: 308px;
	z-index: 2;
	opacity: 0.99;
}

div.adres_row .col:nth-child(2) {
	background-color: rgba(18, 18, 18, 1);
	width: 364px;
}

div.adres_row h2 {
	font-family: 'Lato-Bold', sans-serif;
	font-weight: bold;
	color: #F3AC01;
	font-size: 20px;
	line-height: 80px;
	text-transform: none;
}

div.adres_row .col:nth-child(1) p:nth-child(1),
div.adres_row .col:nth-child(3) p:nth-child(1) {
	font-family: 'Lato-Bold', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #FFF;
	text-align: center;
	padding-top: 20px;
}

div.adres_row .col:nth-child(1) p:nth-child(2),
div.adres_row .col:nth-child(3) p:nth-child(2) {
	text-align: center;
	font-family: 'Lato-Regular', sans-serif;
	font-size: 16px;
	color: #F3AC01;
}

section#contacts {
	width: 100%;
	position: relative;
	    height: 629px;
}

section#contacts #makemap_canvas {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
}

section#contacts .contacts_wr {
    position: relative;
	z-index: 1;

}

section#contacts .center,
section#contacts .contacts_wr{
	height: 100%;
}

.info {
	width: 100%;
	height: 100%;
	background-color: rgba(18, 18, 18, 0.9);
	margin: 0 auto;
	padding: 40px;
	box-sizing: border-box;
}

#contacts_desc {
	font-family: 'Lato-Regular', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #3D3D3D;
	text-decoration: none;
	
	
}
#clients{
	margin: 60px 100px;
}
#clients img{
	margin: auto;
    display: block;
    width: 100%;
}
#contacts_desc a {
	color: #3D3D3D;
	text-decoration: none;
}

#contacts_desc {
	font-size: 14px;padding-top: 30px;padding-left: 30px;
}

#contacts_desc p {
	
	font-size: 14px;
}

#contacts_desc .toggle,#contacts_desc .toggle-none {
	font-family: 'Lato-Bold', sans-serif;
	font-size: 20px;
	color: #3D3D3D;
	text-decoration: underline;
}

#contacts_form {
	font-family: 'Lato-Bold', sans-serif;
	font-size: 24px;
	color: #F3AC01;
	padding-top: 10px;
	padding-bottom: 6px;
}

#contacts h3 {
    font-family: 'Lato-Bold', sans-serif;
    font-size: 24px;
	margin-bottom: 20px;
	margin-top: 5px;
}

.info input,
.info textarea {
	background-color: transparent;
	border: 1px #DDD solid;
}

#contacts_form {
	padding: 40px;
}

#contacts_form fieldset {
	display: block;
	margin-top: 10px;
}

#contacts_form input,
#contacts_form textarea {
	width: 100%;
}

.accordion {
	list-style-type: none;
}

.accordion li {
	margin-bottom: 15px;	
}

.accordion li .toggle {
	overflow: hidden;
	display: block;
	line-height: 30px;	
}

.accordion li .toggle:before,.accordion li .toggle-none:before {
	content: '';
	width: 30px;
	height: 30px;
	display: inline-block;
	margin: 0 15px 0px 0;
	background: url('../img/chevron-circle-down_1x.png') no-repeat center;
	background-size: 100% 100%;
	float: left;
}

.accordion li.active .toggle:before {
	background-image: url('../img/chevron-circle-up_1x.png');
}
/*
.accordion .inner.show {
	display: block;
} 
*/
.accordion .inner {
    overflow: hidden;
    display: none;
    padding: 15px 0 0;
}

.info input[type="tel"],
.info input[type="text"] {
	height: 48px;
	width: 100%;
	margin-top: 4px;
	padding-left: 12px;
	box-sizing: border-box;
	color: #C1C1C1;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	font-family: 'Lato-Regular', sans-serif;
	font-size: 15px;
}

.info textarea {
	height: 120px;
	width: 100%;
	margin-top: 4px;
	padding-left: 12px;
	padding-top: 5px;
	box-sizing: border-box;
	font-size: 14px;
	color: #C1C1C1;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	font-family: 'Lato-Regular', sans-serif;
	font-size: 15px;
}

.info input[type="submit"] {
	height: 50px;
	width: 230px;
	background-color: #FFB400;
	font-family: 'Lato-Black', sans-serif;
	font-weight: bold;
	color: #3D3D3D;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	letter-spacing: 2px;
	border: 0;
	text-transform: uppercase;
	margin-top: 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
}

.info input[type="submit"]:hover {
	background-color: #FFBE21;
}

.info form + p {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 12px;
	color: #FFF;
	margin-top: 12px;
	letter-spacing: 1px;
}

.info p.technical {
	font-family: 'Lato-Regular', sans-serif;
	color: #F3AC01;
	margin-top: 10px;
}

.info p.technical a {
	font-family: 'Lato-Light', sans-serif;
	font-size: 18px;
	color: #FFF;
	text-decoration: none;
	display: inline-block;
	padding-top: 5px;
}

section#contacts {
	/*background: url("../img/telega_contacts_map.jpg") center;*/
}


/* Стили Поп-ап окна */
.popup-box {
	background: transparent;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	font-family: Arial, sans-serif;
	z-index: 9999999;
	font-size: 14px;
	border: 2px #FFF solid;
	padding: 30px;
	width: 540px;
	box-sizing: border-box;
}

body .fancybox-slide--html .fancybox-close-small {
    color: #888;
    border-radius: 50%;
    margin: 5px;
}

body .fancybox-slide--html .fancybox-close-small:hover {
    color: #555;
    background: #eee;

}

.fancybox-content {
    padding: 0px;
}

.fancybox-is-open .popup-box {
	display: block;
}


#modalProdOrder {
	padding: 0;
	text-align: left;
}

#modalProdOrder .popup-box {
	width: 1000px;
	border: 2px solid #000;
	background: #fff;
	padding: 15px;
	max-width: 100%;
}

#modalProdOrder .popup-box form input {
	width: 100%;
}

#modalProdOrder .popup-box form input[type="text"] {
	margin-bottom: 20px;	
}

#modalProdOrder .popup-box h2 {
	color: #000;
}

#modalProdOrder table {
	text-align: left;
}


#modalProdOrder .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f1f1f1;
}

#modalProdOrder table td {
	border-top: 0;
	padding: 4px 25px;
	font-size: 16px;
	font-family: 'Lato-Regular', sans-serif;
}

#modalProdOrder .inp-name {
	padding-right: 10px;	
}

#modalProdOrder .inp-phone {
	padding-left: 10px;	
}

#modalProdOrder .nds {
	font-family: 'Lato-Regular', sans-serif;
	font-size: 16px;
	margin-bottom: 0;
	text-align: left;
	color: #717171;	
}

#modalProdOrder .item_data_price {
	padding: 0;
	text-align: left;
}

#modalProdOrder .item_data_price .col {
	padding-left: 0;
}

#modalProdOrder .item_data_price span {
	font-size: 30px;
	font-family: 'Lato-Black';	
}

.fancybox-slide--html .fancybox-close-small {
	color: #fff;
}

#popup-box-2 > .top{
	padding-top: 10px;
}

.popup-box .close {
	position: absolute;
	top: -40px;
	right: -40px;
	font-family: Arial, Helvetica, sans-serif;	
	font-weight: bold;
	cursor: pointer;
	color: #FFF;
	padding: 20px;
	font-size: 20px;
}

.popup-box .close:hover {
	color: #DDD;
}

#modalProdOrder h2 {
	font-family: 'Lato-Bold', sans-serif;
	text-transform: none;
	letter-spacing: 0;
	font-size: 24px;	
}

#modalProdOrder h4 {
	margin: 0 0 30px;
}

.popup-box h2 {
	padding: 0;
	margin: 0;
	font-size: 21px;
	font-family: 'Lato-Regular', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFF;
	padding-bottom: 20px;
}
.popup-box .top {
	padding: 20px;
	padding-bottom: 0;
	text-align: center;
}

.popup-box .bottom {
	background: transparent;
	padding: 20px;
	padding-top: 0;
}

.popup-box form {
	margin-top: 8px;
	text-align: center;
}

.popup-box form input {
	height: 50px;
	width: 250px;
	margin-left: 2px;
	font-family: 'Lato-Light';
}

.popup-box form {
	width: 250px;
	display: block;
	margin: 0 auto;
	color: #fff;	
}

.popup-box form input[type="file"] {
	height: auto;
	margin: 0 auto;
}

.popup-box form input[type="text"],
.popup-box form input[type="tel"] {
	font-size: 15px;
	color: #A0A0A0;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	border: 1px #DDD solid;
	color: #646464;
	margin: 0 auto;
	margin-bottom: 3px;
	font-family: 'Lato-Regular', sans-serif;
}

.popup-box form input[type="submit"] {
	height: 50px;
	border: 0;
	font-family: 'Lato-Bold', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #2d4443;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: #F9B000;
	margin: 0 auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
}

.popup-box form input[type="submit"]:hover {
	background-color: #FFC230;
}

.knopka{
	height: 29px;
	width: 480px;
	border: 0;
	font-family: 'Lato-Regular', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color: #3D3D3D;
	margin-left: 225px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	text-align: center;
	float: left;
	padding-top: 6px;
	text-decoration: none;
	margin-top: 9px;
}


.knopka2{
	height: 29px;
	width: 608px;
	border: 0;
	font-family: 'Lato-Regular', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color: #3D3D3D;
	margin-left: 172px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	text-align: center;
	float: left;
	padding-top: 6px;
	text-decoration: none;
	margin-top: 9px;
}

.knpk {
	display: block;
	margin: 0 auto;
	padding: 10px 20px;
	font-family: 'Lato-Regular', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color: #3D3D3D;
	text-decoration: none;
	text-align: center;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: -ms-fit-content;
	width: -o-fit-content;
	width: fit-content;
}

.knpk:hover,
.knpk:focus {
	color: #fff;
	text-decoration: none;
	background-color: #4D4D4D;
}


/*TABS*/
.cd-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #21272c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-primary-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cd-primary-nav ul.is-visible {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.cd-primary-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #21272c;
  border-top: 1px solid #333c44;
  color: #ffffff;
}
/* -------------------------------- 

Slider

-------------------------------- */
.cd-hero {
  position: relative;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-hero-slider {
  position: relative;
  height: 556px;
  top: 100px;
  overflow: hidden;
  list-style: none;
}
.cd-hero-slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.cd-hero-slider li.selected {
  /* this is the visible slide */
  position: relative;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-hero-slider li.move-left {
  /* slide hidden on the left */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.cd-hero-slider li.is-moving, .cd-hero-slider li.selected {
  /* the is-moving class is assigned to the slide which is moving outside the viewport */
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}

/* -------------------------------- 

Single slide style

-------------------------------- */
.cd-hero-slider li {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cd-hero-slider .cd-full-width,
.cd-hero-slider .cd-half-width {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-hero-slider .cd-img-container {
  /* hide image on mobile device */
  display: none;
}
.cd-hero-slider .cd-img-container img {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.cd-hero-slider .cd-bg-video-wrapper {
  /* hide video on mobile device */
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cd-hero-slider .cd-bg-video-wrapper video {
  /* you won't see this element in the html, but it will be injected using js */
  display: block;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  height: auto;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.cd-hero-slider .cd-btn {
  display: inline-block;
  padding: 1.2em 1.4em;
  margin-top: .8em;
  background-color: rgba(212, 68, 87, 0.9);
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-hero-slider .cd-btn.secondary {
  background-color: rgba(22, 26, 30, 0.8);
}
.cd-hero-slider .cd-btn:nth-of-type(2) {
  margin-left: 1em;
}
.no-touch .cd-hero-slider .cd-btn:hover {
  background-color: #d44457;
}
.no-touch .cd-hero-slider .cd-btn.secondary:hover {
  background-color: #161a1e;
}

/*Slider navigation*/
.cd-slider-nav {
  position: absolute;
  width: 980px;
  left: 50%;
  margin-left: -490px;
  top: 125px;
  z-index: 2;
  text-align: center;
  height: 50px;
  overflow: hidden;
}
.cd-slider-nav nav, .cd-slider-nav ul, .cd-slider-nav li, .cd-slider-nav a {
  height: 100%;
}
.cd-slider-nav nav {
  width: 990px;
  display: inline-block;
  position: relative;
}
.cd-slider-nav .cd-marker {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 100%;
  color: #d44457;
  background-color: #ffffff;
  box-shadow: inset 0 2px 0 currentColor;
  -webkit-transition: -webkit-transform 0.2s, box-shadow 0.2s;
  -moz-transition: -moz-transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
}
.cd-slider-nav .cd-marker.item-2 {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.cd-slider-nav .cd-marker.item-3 {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}
.cd-slider-nav .cd-marker.item-4 {
  -webkit-transform: translateX(300%);
  -moz-transform: translateX(300%);
  -ms-transform: translateX(300%);
  -o-transform: translateX(300%);
  transform: translateX(300%);
}
.cd-slider-nav .cd-marker.item-5 {
  -webkit-transform: translateX(400%);
  -moz-transform: translateX(400%);
  -ms-transform: translateX(400%);
  -o-transform: translateX(400%);
  transform: translateX(400%);
}
.cd-slider-nav ul::after {
  clear: both;
  content: "";
  display: table;
}
.cd-slider-nav li {
  display: inline-block;
  width: 33%;
  float: left;
  height: 52px;
  overflow: hidden;
}
.cd-slider-nav li.selected a, .cd-slider-nav li:hover a {
  color: #f3ac01;
  background: url(../img/knopka.png);
}
.no-touch .cd-slider-nav li.selected a:hover {
  background-color: transparent;
}
.cd-slider-nav a {
  display: block;
  position: relative;
  border-left: 1px solid rgb(226, 226, 226);
  color: #7f7e7e;
  padding-top: 16px;
  font-size: 16px;
  background-color: #efefef;
  text-decoration: none;
  font-family: 'Lato-Bold', sans-serif;
}
.cd-slider-nav li:first-child a {
	border-left: none;
}
.no-touch .cd-slider-nav a:hover {
  background-color: rgba(0, 1, 1, 0.5);
}

/* -------------------------------- 

Main content

-------------------------------- */
.cd-main-content {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
  padding: 2em 0;
}
.cd-main-content p {
  font-size: 1.4rem;
  line-height: 1.8;
  color: #999999;
  margin: 2em 0;
}

.standard {
	position: absolute;
	top: 470px;
	left: 0;
}

#sale_1 {
	margin-top: 60px;
}

#bottom {
	padding: 10px 0 0 0;
	background: #222;
	font-size: 10px;
	color: #fff;
	font-family: 'Lato-Regular', sans-serif;
	overflow: hidden;
}

.zchbLink {
	float: right;
}

nav .zchbLink {
	position: relative;
	top: -13px;
}

.header_info .zchbLink {
	margin-left: 15px;
	margin-top: 33px;
}

.zchbWidgetIcon2 {
	background-color: #fff !important;
}

.item_data_price .new_price p {
    font-family: 'Lato-Bold', sans-serif;
    font-size: 22px;
}

.new_price .js-price {
	color: #ff0000; 
}

.company_text a {
	color: #F3AC01;
}


.main-slider .item {
	position: relative;
}

.main-slider .desc {
	position: absolute;
	top: 30%;
	left: 5%;
	right: 5%;
	bottom: 20%;
	z-index: 1;
}

.main-slider .desc .h1 {
	font-family: 'Lato-Bold', sans-serif;
	font-size: 50px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.main-slider .desc h2 {
	font-family: 'Lato-Bold', sans-serif;
	font-size: 36px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	text-align: left;
	color: #000;
}

.main-slider .desc h3 {
	font-family: 'Lato-Bold', sans-serif;
	font-size: 30px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);	
}

.main-slider .desc p {
	font-family: 'Lato-Regular', sans-serif;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);	
}

.main-slider .item#item1 .desc {
	top: 25%;	
} 

.main-slider .item#item1 .desc h2 {
	margin-top: 10px;	
} 

.main-slider .item#item1 .desc h2 {
	width: 65%;
	top: 35%;	
} 

.main-slider .item#item4 .desc {
	width: 65%;
	left: 35%;
	top: 12%;
	text-align: center;	
}

.main-slider .item#item4 .desc h2,
.main-slider .item#item4 .desc h3 {
	text-align: center;
	color: #fff;
} 

.main-slider .item#item4 .desc h2 {
	font-size: 50px;
}

.main-slider .item#item4 .desc h3 {
	font-size: 36px;
}

.old_price {
	text-decoration: line-through;
}

.main-slider .item#item5 .desc {
	top: 15%;
}

.main-slider .item#item5 p {
	margin-left: 30px;
	margin-top: 70px;	
}

.main-slider .item#item5 .desc .desc1 {
	width: 40%;
	float: left;
	padding-left: 10%;
	color: #fff;
}


.main-slider .item#item5 .desc .desc2 {
	width: 30%;
	float: left;
	padding-left: 20%;
	color: #fff;
}


#main-slider  > .center > h2 {
	margin-bottom: 30px;
	margin-top: 60px;
}

#main-slider .owl-stage-outer {
	border: 3px #F6F6F6 solid;
}

.items_row h3.items_row_name {
	text-transform: none !important;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0;
	margin-top: 20px;
	color: #000;	
}


.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.video-wr {
	position: relative;

}

.video-wr h2 {
	margin-bottom: 20px;
}
.center {
    width: 980px;
    margin: 0 auto;
}
.ytlink {
    display: inline-block;
    position: relative;
}
.ytlink:before {
    content: url(images/youtube.svg);
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: .75;
}
.video-wr h2 {
    margin-bottom: 20px;
}
img {
    vertical-align: middle;
    max-width: 100%;
}
.inputEmail{
    font-size: 15px;
    color: #a0a0a0;
    color: #646464;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border: 1px #ddd solid;
    margin: 0 auto;
    margin-bottom: 3px;
    font-family: "Lato-Regular",sans-serif;
    margin-left: 0px !important;
}
.popup-box form input {
    height: 50px;
    width: 250px;
    margin-left: 2px;
    font-family: "Lato-Light";
    font-family: 'Lato-Regular', sans-serif;
}
.podmenu-categorise{
    display:inline-block;
    text-align:center;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 18%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 21px 15px;
    border: 2px solid #f8bd31;
    -webkit-transition: 0.5s border;
    transition: 0.5s border;
    color:#42413e;
    min-height: 270px;
    font-family: "Lato-Regular",sans-serif;
    font-size: 13px;
    line-height: 22px;
    color: #868585;
}
a.podmenu-categorise:hover{
    color: #f3ac01;
}
.podmenu-categorise img{
    width:100%
}
.podmenu-categorise-wrapper{
    margin-top:30px;
    text-align:center;
}
.podmenu-categorise:hover{
    text-decoration:none;
    box-shadow: -1px 5px 20px 6px #dddddd9e;
}
#katalog{
    border: 4px solid #f8bd31;
    margin-top: 30px;
}
.productinfoinmodal{
    float:left;
	display:none;
    width:20%;
    background-color: #FFB400;
    border:0px;
    height:50px;
    border-left:1px solid white;
    font-weight:600;
    color:white;
}
.productinfoinmodal:hover{
    background:#d89800;
}
.btnWindow{
   float: none;
    width: 100%;
}



    .modal-title{
        text-align:center;
       
    }
    .col-6{
        width:370px;
        float:left
    }
    
 .inputitem{
    width:100%!important;
    font-size: 15px;
    color: #a0a0a0;
    color: #646464;
    padding-left: 16px;
    box-sizing: border-box;
    border: 3px solid #ddd!important;
    font-family: "Lato-Regular",sans-serif;
    margin-bottom: 10px;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
}
.form-modal-ajax{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    display: flow-root;
}
.form-modal-ajax [type="submit"]{
    border:0px;
    background:#ffb400;
    color:white;
    font-weight:600;
    max-width:250px;
    margin:0px auto;
    font-size:16px;
}


