@import "normalize.css";

@font-face{
	font-family: "SFUIDISPLAY";
	src: url("../fonts/SFUIDisplay-Medium.otf") format("opentype");
}
@font-face {
    font-family: 'Calibri';
    src: url('Calibri-Bold.eot');
    src: local('Calibri Bold'), local('Calibri-Bold'),
        url('Calibri-Bold.eot?#iefix') format('embedded-opentype'),
        url('Calibri-Bold.woff2') format('woff2'),
        url('Calibri-Bold.woff') format('woff'),
        url('Calibri-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri.eot');
    src: local('Calibri'),
        url('Calibri.eot?#iefix') format('embedded-opentype'),
        url('Calibri.woff2') format('woff2'),
        url('Calibri.woff') format('woff'),
        url('Calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: "Calibri", sans-serif;
	font-weight: normal;
    font-style: normal;
	margin: 0;
	background: url('../img/el.png') no-repeat center center;
	background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}
/*=============================*/
.wrapper{
	overflow: hidden;
}
.header{
	display: flex;
	align-items: center;
	height: 720px;
	width: 100%;
	position: relative;
}
.header > img{
	position: absolute;
	right: 30px;
	bottom: 0;
	z-index: -2;
	width: 55%;
}
.header__inner{
	width: 100%;
	max-width: 1290px;
	padding: 0 20px;
	margin: 0 auto;
}
.header__menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__wrapper{
	display: flex;
	width: 70%;
	justify-content: space-between;
}
.menu__burger__wrapper{
	display: none;
}
@media screen and (max-width: 1024px){
	.nav__wrapper{
		display: none;
	}
	.menu__burger__wrapper{
		display: flex;
	}
	.menu_burger{
		height: 3px;
		width: 40px;
		background-color: #616161;
		position: relative;
	}
	.menu_burger::after{
		content: '';
		position: absolute;
		height: 3px;
		width: 40px;
		background-color: #616161;
		left: 0;
		bottom: 10px;	
	}
	.menu_burger::before{
		content: '';
		position: absolute;
		height: 3px;
		width: 40px;
		background-color: #616161;
		left: 0;
		top: 10px;	
	}
}
.nav__link{
	color: #616161;
	font-size: 16px;
	transition: .3s ease;
}
.nav__link:hover{
	color: #fb973b;
}
.nav__link--phone{
	color: #141419;
	font-size: 16px;
	font-weight: bold;
}
.header__content{
	display: flex;
	padding: 100px 0;
	flex-direction: column;
	line-height: 50px;
}
p.title{
	font-size: 60px;
	color: #141419;
	font-weight: bold;
	line-height: 1;
	padding-bottom: 30px;
}
p.title > span{
	position: relative;
}
p.title > span::after{
	content: '';
	position: absolute;
	width: 100%;
	background-color: #fb973b;
	height: 8px;
	left: 0;
	bottom: 12px;
	z-index: -1;
}
p.subtitle{
	font-size: 18px;
	color: #616161;
	line-height: 1.5;
	padding-bottom: 30px;
}
p.subtitle > span{
	color: #fb973b;
	font-weight: bold;
}
.header__form{
	display: flex;
	height: 57px;
}
.header__form > input{
	outline: none;
	border: 1px #e1e1e1 solid;
	background-color: #f8f8f8;
	font-family: 'SFUIDISPLAY', sans-serif;
	font-size: 18px;
	color: #616161;
	text-align: center;
	width: 200px;
}
.header__form > input::placeholder{
	text-align: center;
}
.header__form > button{
	font-family: 'SFUIDISPLAY', sans-serif;
	font-size: 18px;
	color: white;
	background-color: #fb973b;
	width: 200px;
	border: none;
	cursor: pointer;
	outline: none;
}
@media screen and (max-width: 1024px){
	p.title{
		font-size: 40px;
	}
	p.title > span::after{
		bottom: 10px;
	}
	.header__form{
		flex-direction: column;
	}
	.header > img{
		top: 50%;
		transform: translateY(-50%);
	}
}
@media screen and (max-width: 768px){
	p.title{
		font-size: 30px;
	}
	p.title > span::after{
		bottom: 8px;
		height: 5px;
	}
	p.subtitle{
		font-size: 16px;
	}
	.header > img{
		width: 50%;
	}
}
@media screen and (max-width: 425px){
	p.title{
		font-size: 22px;
	}
	p.title > span::after{
		bottom: 4px;
		height: 4px;
	}
	p.subtitle{
		font-size: 14px;
	}
	.header > img{
		right: 5px;
	}
}
/*==============================*/
.main{
	display: flex;
	flex-direction: column;
	padding: 140px 0;
	width: 100%;
}
.main > p.subtitle, .main > p.title{
	text-align: center;
}
.info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 55%;
	margin: 0 auto;
}
.about__us{
	display: flex;
	flex-direction: column;
	width: 395px;
	justify-content: center;
	text-align: center;
}
.block-info > img{
	padding: 20px 0;
}
@media screen and (max-width: 1024px){
	.info{
		flex-direction: column;
	}
}
/*==============================*/
.footer > .header__inner{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.partner{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 150px);
}