#cart.fly{position:relative;top:auto;right:auto;margin-top:0}
.header-cart__dropdown {display:none !important}

.checkout-cart__wrap {margin:0 0 10px;border-top:solid 1px rgba(0, 0, 0, .05);box-shadow:0 5px 10px rgba(0, 0, 0, .1);border-radius:4px}
.checkout-cart__table {width:100%;max-width:100%;margin:0;border:none}
.checkout-cart__header {line-height:normal;font-size:.8em;font-weight:500;color:#777;background:#f7f7f7}
.checkout-cart__item {height:80px;border-top:solid 1px #eee;}
.checkout-cart__item:nth-child(odd){background:#fafafa}
.checkout-cart__image {width:100px;padding:10px;border-right:solid 1px #eee}
.checkout-cart__name, .checkout-cart__model, .checkout-cart__quantity, .checkout-cart__price, .checkout-cart__total {padding:10px;border-right:solid 1px #eee}
.checkout-cart__item .checkout-cart__name{width:100%;font-size:.95em;font-weight:500}
.checkout-cart__name small{font-weight:400}
.checkout-cart__model {min-width:100px;text-align:center}
.checkout-cart__quantity {width:80px}
.checkout-cart__quantity .qty-switch{margin:0}
.checkout-cart__quantity .qty-switch__input{width:40px}
.checkout-cart__item .checkout-cart__model {font-size:.85em}
.checkout-cart__price{min-width:165px}
.checkout-cart__total{white-space:nowrap}
.checkout-cart__remove {width:30px}
.checkout-cart__remove-icon {padding:10px;color:#888;cursor:pointer}
.checkout-cart__text-additional {margin:0 0 10px;font-size:.95em;color:#888}
.checkout-cart__text-reward {margin:0 0 10px;font-size:.95em;font-weight:500}
.checkout-cart__coupon, .checkout-cart__reward, .checkout-cart__voucher {display:flex;justify-content:flex-end;margin:0 0 5px}
.checkout-cart__coupon-input, .checkout-cart__reward-input, .checkout-cart__voucher-input {max-width:180px;height:25px;margin:0 -1px 0 0;padding:0 6px;font-size:.8em;border-radius:3px 0 0 3px}
.checkout-cart__coupon-btn, .checkout-cart__reward-btn, .checkout-cart__voucher-btn {height:25px;font-size:.85em;border-radius:0 3px 3px 0}
.checkout-cart__totals {margin:10px 0 20px;padding:10px 0 0;border-top:solid 1px rgba(0, 0, 0, .1)}
.checkout-cart__totals-item {display:flex;align-items:center;justify-content:flex-end;padding:0 0 2px}
.checkout-cart__totals-title {text-align:right}
.checkout-cart__totals-text {min-width:90px;margin:0 0 0 10px;font-weight:500;white-space:nowrap}

.product-thumb-related {display:flex;margin:0 0 20px;padding:10px;border:solid 1px rgba(0, 0, 0, .07)}
.product-thumb-related__image {max-width:100px}
.product-thumb-related__caption {padding:0 0 0 15px}
.product-thumb-related__name{display:block;font-weight:500;font-size:.9em;margin:0 0 10px}
.product-thumb-related__price{margin:0 0 10px;font-size:1.2em}

.checkout-login {margin:0 0 20px;padding:10px 15px;font-size:.95em;font-weight:500;background:#f7f7f7}
.checkout-login__link {border-bottom:dotted 1px}

.checkout-customer {margin:0 -7.5px}
.checkout-customer__input {width:calc(50% - 15px);margin:0 7.5px 15px}
.checkout-customer__input.full-width{width:100%}

.checkout-customer__group {display:flex;margin:0 0 10px;font-size:.95em}
.checkout-customer__group-item {margin:0 0 0 10px}
.checkout-customer__register {margin:-10px 0 5px}
.checkout-customer__register-label{margin:0 0 10px;font-size:.95em;font-weight:500}
.checkout-address{position:relative}
.checkout-address .cover{position:absolute;top:20px;left:0;width:100%;height:100%;background:rgba(255, 255, 255, .5);cursor:not-allowed}

.checkout-address-new {margin:0 -7.5px}
.checkout-address-new__input, .checkout-address-new__select {width:calc(50% - 15px);margin:0 7.5px 15px}
.checkout-address-new__input.full-width{width:100%}

.checkout-sticky{position:sticky;top:20px}
.checkout-sticky__wrapper{padding:10px 15px 15px;background:#f7f7f7;border-radius:4px}
.checkout-sticky__heading{margin:5px 0 15px;color:#666;font-size:1.3em;font-weight:500}
.checkout-sticky__total {margin:0 0 20px;line-height:normal}
.checkout-sticky__total .checkout-cart__totals-title {text-align:left}
.checkout-sticky__total .checkout-cart__totals-item{justify-content:space-between;padding:10px 0}
.checkout-sticky__total .checkout-cart__totals-item{border-top:dashed 1px rgba(0, 0, 0, .1)}
.checkout-sticky__total .checkout-cart__totals-item:last-child{padding:20px 0 0;font-size:1.3em}
.checkout-sticky__total .checkout-cart__totals-text .coupon{color:#D9534F}
.checkout-sticky__confirm-agree{margin:0 0 20px;font-size:.9em}
.checkout-sticky__confirm-agree .input {display:block}
.checkout-sticky__confirm-agree .input input{top:2px}
.checkout-sticky__confirm-btn {height:36px}

.checkout-comment {min-height:50px;margin:0 0 20px}
.payment-method {margin:0 0 20px}
.shipping-method {margin:0 0 20px}
.shipping-method__label {width:100%;}
.shipping-method__quote {display:flex;width:calc(100% - 26px);justify-content:space-between}
.shipping-method__quote-text{white-space:nowrap}

#unicheckout .hide {display:none}
#unicheckout .custom-field__label{display:block;margin:0 0 10px}
#unicheckout .custom-field label + .text-danger{margin:-5px 0 10px}

@media (max-width:575px){
    .checkout-cart__wrap {margin:0 0 20px}
    .checkout-cart__image, .checkout-cart__text-additional {display:none}
    .checkout-cart__item .checkout-cart__name {font-size:.9em}
    .checkout-cart__quantity {max-width:85px}
    .checkout-cart__quantity .qty-switch__input{width:35px}
}

@media (max-width:350px){
    .checkout-cart__quantity {max-width:80px;word-wrap:break-word}
}