// main: style.less

// fonts

@bold: 'Raleway-Bold';
@regular: 'Raleway-Regular';
@semibold: 'Raleway-SemiBold';

// default color

// default btn

.btn__request__call{
    width: 180px;
    min-height: 36px;
    border: 2px solid #FF9100;
    font-family: @bold;
    font-size: 14px;
    color: white;
    outline: none;
    cursor: pointer;
    background: linear-gradient(92.29deg, #FF9100 0%, #EFC318 100%);
}

.btn--intro{
    min-width: 290px;
    max-width: 290px;
    min-height: 48px;
    max-height: 48px;
    outline: none;
    color: white;
    font-size: 18px;
    font-family: @bold;
    cursor: pointer;
    user-select: none;
}

.btn--intro.--orange{
    background: linear-gradient(272.29deg, #FF9100 0%, #EFC318 100%);
    border: 2px solid;
}

.btn--intro.--black{
    background: linear-gradient(272.29deg, #25221E 0%, #000000 100%);
    border: 2px solid;
}