// main: style.less

// fonts

@bold: 'Raleway-Bold';
@regular: 'Raleway-Regular';
@semibold: 'Raleway-SemiBold';

// default color

// default btn

.btn__request__call{
    width: 180px;
    height: 36px;
    border: 2px solid #FF9100;
    font-family: @bold;
    font-size: 14px;
    color: white;
    outline: none;
    cursor: pointer;
    background: linear-gradient(92.29deg, #FF9100 0%, #EFC318 100%);
}