@import "normalize.css";
.btn {
  outline: none;
  cursor: pointer;
  color: white;
  font-family: 'Raleway-Bold';
  user-select: none;
}
.btn.--call {
  width: 180px;
  height: 36px;
  border: 2px solid #FF9100;
  font-size: 14px;
  background: linear-gradient(92.29deg, #FF9100 0%, #EFC318 100%);
}
.btn.--intro {
  width: 290px;
  height: 48px;
  position: relative;
}
.btn.--intro::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 294px;
  height: 52px;
  background-color: #fff;
  z-index: -1;
}
.btn.--orange {
  background: linear-gradient(272.29deg, #FF9100 0%, #EFC318 100%);
}
.btn.--orange::after {
  background: linear-gradient(272.04deg, #FF9100 1%, #FFFFFF 78.69%);
}
.btn.--black {
  background: linear-gradient(272.29deg, #25221E 0%, #000000 100%);
}
.btn.--black::after {
  background: linear-gradient(232.89deg, #000000 9.81%, #D2D2D2 54.95%);
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
body {
  font-family: 'Raleway-Regular';
  font-size: 16px;
}
img {
  user-select: none;
}
[class*="__container"] {
  max-width: 1210px;
  width: 100%;
  padding: 0 15px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
main {
  flex: 1 1 auto;
  position: relative;
  z-index: 1;
}
footer {
  position: relative;
  z-index: 1;
}
header {
  position: relative;
  z-index: 2;
}
.header .header__container {
  margin: 0 auto;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__container .header__logo {
  user-select: none;
}
.header .header__container .header__contacts {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.header .header__container .header__contacts a.header__number {
  display: flex;
  align-items: center;
  color: black;
  font-size: 24px;
}
.header .header__container .header__contacts a.header__number img {
  padding-right: 15px;
}
.header__nav {
  width: 100%;
  height: fit-content;
  background-color: #FF9100;
}
.header__nav .header__nav__container {
  margin: 0 auto;
}
.header__nav .header__nav__container ul.header__nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav .header__nav__container ul.header__nav__list li.nav__list__item {
  display: flex;
  align-items: center;
  height: 33px;
  position: relative;
  width: 200px;
  justify-content: center;
}
.header__nav .header__nav__container ul.header__nav__list li.nav__list__item::after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 1px;
  height: 24px;
  right: 0;
}
.header__nav .header__nav__container ul.header__nav__list li.nav__list__item:last-child::after {
  width: 0;
  height: 0;
}
.header__nav .header__nav__container ul.header__nav__list li.nav__list__item a.nav__list__link {
  color: white;
  font-family: 'Raleway-Bold';
  font-size: 14px;
  user-select: none;
}
.intro {
  width: 100%;
  height: 600px;
  background: url('../img/intro.png') no-repeat center;
  position: relative;
}
.intro .intro__container {
  position: relative;
  margin: 0 auto;
}
.intro__delivery {
  max-width: 779px;
  width: 100%;
  height: 526px;
  position: absolute;
  top: 75px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('../img/intro__delivery__bg.svg') no-repeat;
  padding-left: 50px;
}
.intro__delivery p.intro__header {
  color: #FFCB00;
  font-size: 48px;
  font-family: 'Raleway-Bold';
  line-height: 103%;
  width: 500px;
}
.intro__delivery p.intro__text {
  color: white;
  font-size: 14px;
  line-height: 103%;
  margin-top: 20px;
  width: 500px;
}
.intro__delivery .intro__btn {
  display: flex;
  column-gap: 15px;
  align-items: center;
  margin-top: 40px;
  z-index: 9;
}
.quality {
  position: relative;
  margin-bottom: 170px;
}
.quality .intro__quality__container {
  margin: 0 auto;
}
.quality .intro__quality__container .intro__quality {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quality .intro__quality__container .intro__quality .intro__quality__item {
  width: 280px;
  height: 200px;
  background: rgba(255, 255, 255, 0.51);
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(27px);
}
.quality .intro__quality__wrapp {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}
