@import "normalize.css";
.btn__request__call {
  width: 180px;
  min-height: 36px;
  border: 2px solid #FF9100;
  font-family: 'Raleway-Bold';
  font-size: 14px;
  color: white;
  outline: none;
  cursor: pointer;
  background: linear-gradient(92.29deg, #FF9100 0%, #EFC318 100%);
}
.btn--intro {
  min-width: 290px;
  max-width: 290px;
  min-height: 48px;
  max-height: 48px;
  outline: none;
  color: white;
  font-size: 18px;
  font-family: 'Raleway-Bold';
  cursor: pointer;
  user-select: none;
}
.btn--intro.--orange {
  background: linear-gradient(272.29deg, #FF9100 0%, #EFC318 100%);
  border: 2px solid;
}
.btn--intro.--black {
  background: linear-gradient(272.29deg, #25221E 0%, #000000 100%);
  border: 2px solid;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
body {
  font-family: 'Raleway-Regular';
  font-size: 16px;
}
img {
  user-select: none;
}
[class*="__container"] {
  padding: 0 15px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
main {
  flex: 1 1 auto;
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
}
footer {
  position: relative;
  z-index: 1;
}
.header {
  position: relative;
  z-index: 2;
}
.menu__wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: fit-content;
  z-index: 3;
}
.menu__wrapper .menu__body {
  width: 100%;
  height: 60px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__wrapper .menu__body .menu__body__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.menu__wrapper .menu__body .menu__body__item.--menu {
  flex-direction: column;
}
.menu__wrapper .menu__body .menu__body__item.--menu .menu__button {
  position: absolute;
  top: -50px;
  width: 58px;
  height: 58px;
  background: linear-gradient(180deg, #FFB64C 0%, #FF9100 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 74px;
  border: 1px white solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4), 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.menu__wrapper .menu__body .menu__body__item.--menu p {
  margin-top: 15px;
  font-family: 'Raleway-SemiBold';
  font-size: 14px;
}
.header__nav.nav__active {
  top: 0;
}
.header__nav {
  top: -100%;
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  transition: top 0.3s;
}
.header__nav .nav__logo {
  margin-top: 20px;
}
.header__nav .nav__close__btn {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  width: 30.25px;
  height: 24.75px;
  border: 3px #C4C4C4 solid;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav .nav__close__btn span {
  width: 13px;
  height: 3px;
  background-color: #C4C4C4;
  position: relative;
  transform: rotate(45deg);
}
.header__nav .nav__close__btn span::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 3px;
  background-color: #C4C4C4;
  transform: rotate(90deg);
}
.header__nav ul.nav__list {
  text-align: center;
  margin-top: 35px;
}
.header__nav ul.nav__list li.nav__list__item {
  margin-top: 20px;
}
.header__nav ul.nav__list li.nav__list__item:first-child {
  margin-top: 0;
}
.header__nav ul.nav__list li.nav__list__item a.nav__list__link {
  font-family: 'Raleway-Bold';
  color: #FF9100;
  font-size: 14px;
}
.header__nav a.nav__number {
  margin-top: 17.3%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: black;
}
.header__nav a.nav__number img {
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__nav .btn__request__call {
  margin-top: 20px;
}
.intro {
  width: 100%;
  position: relative;
}
.intro .intro__banner {
  width: 100%;
  height: 631px;
  background: url('../img/intro.png') no-repeat center;
  position: relative;
}
.intro .intro__banner .intro__banner__wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 24.4%;
}
.intro .intro__banner .intro__banner__wrapper .intro__banner__bg {
  content: '';
  position: absolute;
  width: 100%;
  height: 509px;
  background: rgba(0, 0, 0, 0.39);
  backdrop-filter: blur(27px);
  transform: matrix(2, -0.14, 0.06, 1, 0, 0);
  z-index: 3;
}
.intro .intro__banner .intro__banner__wrapper .intro__banner__container {
  display: flex;
  flex-direction: column;
  z-index: 4;
  margin-top: 60px;
}
.intro .intro__banner .intro__banner__wrapper .intro__banner__container p.intro__header {
  width: 335px;
  color: #FFCB00;
  font-size: 36px;
  font-family: 'Raleway-Bold';
}
.intro .intro__banner .intro__banner__wrapper .intro__banner__container p.intro__text {
  margin-top: 20px;
  width: 335px;
  color: white;
  font-size: 14px;
}
.intro .intro__banner .intro__btn {
  align-self: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
.intro .intro__banner .intro__btn button {
  margin-top: 20px;
}
.intro .intro__quality__container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
  column-gap: 20px;
  grid-template-rows: 1fr 1fr;
}
.intro .intro__quality__container .intro__quality__item {
  justify-self: center;
  width: 149px;
  height: 260px;
  padding-top: 19px;
  background: rgba(255, 255, 255, 0.51);
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
  position: relative;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro .intro__quality__container .intro__quality__item .item__numbering {
  width: 60.37px;
  height: 49px;
  border-radius: 5px;
  background-color: #FF9100;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  left: -10px;
  color: white;
  font-family: 'Raleway-Bold';
  font-size: 25px;
  user-select: none;
}
.intro .intro__quality__container .intro__quality__item p.item__text {
  max-width: 125px;
  align-self: center;
  margin-top: 13.46%;
  line-height: 115%;
  font-size: 18px;
}
.intro .intro__quality__container .intro__quality__item p.item__text span {
  font-family: 'Raleway-Bold';
}
